$check-out-btn: #898989;
$black: #000;
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #cccccc;
    opacity: 0;
    @include transition (all 500ms ease);
}
.fifty {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}
//privacy-policy
.banner {
    min-height: 295px;
    position: relative;
    background: url('../img/page-banner/privacy-policy.png') no-repeat center;
    background-size: cover;
    h3 {
        @extend.fifty;
        width: 100%;
        color: #fff;
    }
}
.privacy-info {
    padding: 60px;
    color: #737373;
    text-align: justify;
    .dark {
        color: $black;
        margin: 25px 0 5px;
    }
}
//terms & condition page
.tc {
    background: url('../img/page-banner/t&c.png') no-repeat center;
    background-size: cover;
}
//cart page
.order-table {
    .table {
        thead {
            tr {
                th {
                    border: none;
                    background-color: #c0c0c0;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-align: center;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 20px 0;
                    vertical-align: middle;
                    border-top: none;
                    border-bottom: 1px solid #ddd;
                    figure {
                        img {
                            width: 80px;
                        }
                        figcaption {
                            font-size: 10px;
                        }
                    }
                }
                td:last-child {
                    padding: 24px 0;
                    vertical-align: bottom;
                    button {
                        float: right;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
    .more {
        border: 1px solid #555;
        padding: 2px 8px;
        display: inline-block;
        line-height: 10px;
        i {
            color: #555;
            font-size: 9px;
        }
    }
    .more:first-child {
        margin-left: 5px;
    }
}
.wish-back {
    font-weight: 600;
    .category {
        p {
            margin-left: 15px;
        }
    }
    .cart-btn {
        float: right;
        margin: 15px 0;
        button {
            letter-spacing: 2px;
        }
        button:last-child {
            margin-left: 10px;
        }
    }
}
//wishlist page
.wish-table {
    .table {
        tbody {
            tr {
                td:last-child {
                    button {
                        float: none;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}
//checkout page
.check-out {
    .nav-tabs {
        padding: 20px 40px;
        li {
            a {
                border: 1px solid $black;
                padding: 6px 24px;
                margin: 0 15px;
                letter-spacing: 2px;
                text-transform: uppercase;
                &:hover {
                    border: 1px solid $check-out-btn;
                    background-color: $check-out-btn;
                    color: #fff;
                }
            }
        }
        li.active a {
            border: 1px solid $check-out-btn;
            background-color: $check-out-btn;
            color: #fff;
        }
    }
    .tab-content {
        padding: 40px 55px;
        .form-group {
            input {
                border: 1px solid #555;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            label.agree {
                font-size: 12px;
                font-weight: 400;
            }
            label.same-agree {
                font-weight: normal;
            }
            .ccc-select {
                position: relative;
                select {
                    -webkit-appearance: none;
                    appearance: none;
                    border: 1px solid #555;
                    width: 100%;
                    height: 34px;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
                &:after {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\f107";
                    background: #555;
                    width: 30px;
                    height: 34px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #fff;
                    font-size: 30px;
                    text-align: center;
                }
            }
            .nodis {
                display: none;
            }
            .card {
                &:before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    border: 1px solid $black;
                    margin-right: 10px;
                    vertical-align: top;
                }
            }
            .card:checked + .card:before {
                background-color: $black;
            }
        }
        button {
            letter-spacing: 2px;
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
        .class-forget {
            text-align: right;
            p {
                margin: 11px 0;
            }
        }
        .or {
            font-weight: 600;
        }
        .social-icon {
            button {
                padding: 4px 24px;
            }
        }
        .mg {
            margin: 15px 0;
            p {
                margin: 0;
            }
        }
        .check-out-wish {
            table {
                tbody {
                    tr {
                        td:last-child {
                            padding: 20px 0;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .nxt,
        .more-pd {
            padding: 6px 34px;
            letter-spacing: 3px;
        }
        .mg30 {
            margin: 30px 0;
        }
        .payment {
            p {
                font-weight: 600;
            }
        }
    }
}
//ready
.chart {
    span {
        font-size: 14px;
        text-decoration: underline;
    }
}
.ccc-select {
    position: relative;
    select {
        -webkit-appearance: none;
        border: 1px solid #000;
        width: 62%;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        height: 20px;
        line-height: 15px;
    }
    &:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f107";
        height: 20px;
        width: 20px;
        background-color: #000;
        color: #fff;
        position: absolute;
        top: 0;
        right:20%;
        text-align: center;
        line-height: 20px;
        font-size: 16px;
        z-index: -1;
    }
}
//.edit-btn {
//    button {
//        margin: 15px 5px 15px 0;
//    }
//}
