//scss for inside-basketball
.inside-basketball-slider{
         width: 100%;
         height: 330px;
         margin-top: 40px;
         padding: 0 70px;
         .flexslider-container {
             .flexslider {
                 background: transparent;
                 overflow: initial;
                  padding: 0 100px;
                 .flex-direction-nav a {
                     width: 60px;
                     height: 60px;
                     display: block;
                 }
                 .flex-control-nav {
                     display: none;
                 }
                 .flex-direction-nav .flex-nav-prev a {
                     left: -100px!important;
                     top: 125px;
                     display: block;
                     &:before {
                         content: "";
                         width: 100%;
                         height: 100%;
                         background-repeat: no-repeat;
                         background-size: contain; //   background-color: #000;
                         background-image: url("../img/left-arrow.png");
                     }
                 }
                 .flex-direction-nav .flex-nav-next a {
                     right: -100px !important;
                     display: block;
                     top: 125px;
                     &:before {
                         content: "";
                         width: 100%;
                         height: 100%;
                         background-repeat: no-repeat;
                         background-size: contain; //    background-color: #000;
                         background-image: url("../img/right-arrow.png");
                     }
                 }
             }
         }
     }
     .inside-basketball-slider{
      .greyfade-text{
color: #C1E603;
      }
     }
     .inside-heading h2{
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 5px;
    padding: 60px 0px;
     }
     .inside-para p{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
    padding-top: 10px;
     }

.inside-basketball{
    .inside-overlay{
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.relative:hover{
    .inside-overlay{
        opacity:1;
    }
}
.inside-overlay h1{
    color: yellow;
    letter-spacing: 8px;
    @include position(absolute,50% null null 50%);
    @include transform(translate(-50%,-50%)) ;
}
}

.mar-t70{
    margin-top: -70px;
}
.inside-para{
    padding: 0 10px;
}
.inside-switch h3{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 3px;
}
//scss for home
.home-heading h1{
    margin-top: 0;
    padding: 55px 0 0;
    color: white;
    letter-spacing: 5px;
}

.home-overlay{
    .inside-overlay{
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.relative:hover{
    .inside-overlay{
        opacity:1;
    }
}
.inside-overlay {
   h1{
    color: white;
    letter-spacing: 8px;
    position: absolute;
    top: 35%;
    right: 5%;
   }
     .your-top{
     top: 50% !important;
    }
   h2{
    font-size: 40px;
    color: yellowgreen;
    letter-spacing: 8px;
    position: absolute;
    top: 70%;
    right: 5%;
   }
   
}
}
