@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,200,500,600,700,800,900);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/angular-loading-bar/src/loading-bar.css";

@font-face {
  font-family: "Facile Sans";
  src: url("../fonts/Facile-Sans.otf");
  src: url("../fonts/Facile-Sans.ttf");
  font-weight: normal;
  font-style: normal;
}
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #C1E603 !default;
$brand-warning: #E6CF07 !default;
$brand-danger: #E3028F !default;
$brand-info: #000072 !default;
$logo-color: #616161 !default;
$font-color: #1b1b1b !default;
$btn-light: #fff!default;
$body-bg: #fff !default;
$text-color: $font-color !default;
$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Raleway", Georgia, "Times New Roman", Times, serif !default;
$font-logo: "Facile Sans", "Helvetiva Neue", Helvetica !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$menu-height: 65px !default;
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$custom-bg: #363636!default;
$dark-grey: #898989!default;
$brand-primary: #0d9dff !default;
$black: #000 !default;
$border: #c0c0c0 !default;
$check-out-btn: #898989;
$bread-crumb: #90c73e;
$color-orange: #ff7905;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding-top: $menu-height;
}
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin x-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}
.btn {
  @include transition(all 300ms ease);
  &:hover { @include transition(all 300ms ease); }
}
button {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
.m-center { margin: 0 auto; }
nav li:hover .dropdown-menu {
  display: block;
}
.ab { position: absolute; }
.black {
  color: black;
}
.min-height {
  min-height: 300px;
}
.no-pad {
  padding: 0;
}
.text-normal { font-weight: normal; }
.text-medium { font-weight: 500; }
.text-bold { font-weight: 700; }
.btn-dark {
  @include button-variant(white, $font-color, $font-color);
  &.btn-outline {
    background-color: transparent;
    color: $font-color;
    &:hover,
    &:focus,
    &.active {
      background-color: $font-color;
      color: white;
      outline: 0;
    }
  }
}
a { cursor: pointer; }
.btn-light {
  @include button-variant(white, $btn-light, $btn-light);
  &.btn-outline {
    background-color: transparent;
    color: $btn-light;
    &:hover,
    &:focus {
      background-color: $btn-light;
      color: $font-color;
    }
  }
}
.width-full {
  width: 100%;
}
.btn-facebook {
  @include button-variant(white, $facebook, $facebook);
}
.btn-google {
  @include button-variant(white, $google, $google);
}
.btn-twitter {
  @include button-variant(white, $twitter, $twitter);
}
.high-light {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 3px;
}
.main-head {
  padding: 20px 0 10px;
}
.inline-block { display: inline-block; }
.para {
  line-height: 180%;
  font-weight: 300;
}
.navbar {
  margin: 0;
}
a.icon-btn {
  font-size: 22px !important;
}
.navbar-default {
  background-color: #000000;
  border-color: #000000;
  .navbar-nav {
    > li {
      > a {
        color: white;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 8px 10px;
        margin: 15px 5px;
        @include transition(all 300ms ease);
        &:hover,
        &.active {
          // color: $logo-color;
          color: white;
        }
      }
      .user-name {
        width: 113px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
.navbar-brand {
  padding: 8px 0;
  color: $logo-color !important;
  text-transform: uppercase;
  font-family: $font-logo;
  height: 65px;
  line-height: 40px;
  margin: 0 !important;
  img {
    height: 100%;
    margin-right: 10px;
    display: inline-block;
  }
}
.pad-btm-30 {
  padding-bottom: 30px;
}
.mobile {
  display: none;
}
.flexslider {
  border: none;
  overflow: hidden;
  margin: 0;
  .flex-direction-nav {
    a {
      height: 45px;
      color: white;
      text-shadow: none;
      &:before {
        font-size: 40px;
        color: white;
        text-shadow: none;
        font-family: 'FontAwesome';
      }
    }
    .flex-prev {
      left: 20px !important;
      opacity: 1 !important;
      &:before {
        content: '\f053';
      }
    }
    .flex-next {
      right: 20px !important;
      opacity: 1 !important;
      &:before {
        content: '\f054';
      }
    }
  }
}
.slider {
  .flexslider {
    .flex-direction-nav {
      a {
        height: 100px;
        width: 125px;
        color: transparent;
      }
      .flex-prev {
        &:before {
          content: url("../img/prev.png");
          display: block;
          height: 50%;
          @include transform(scale(.4));
        }
      }
      .flex-next {
        &:before {
          content: url("../img/next.png");
          display: block;
          height: 50%;
          @include transform(scale(.4));
        }
      }
    }
  }
}
.flex-control-nav {
  bottom: 20px;
  display: block;
  z-index: 5;
}
.btn.btn-outline.btn-dark {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.text-on {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  @include translate(-50%, -50%);
  p {
    width: 50%;
  }
}
.img-holder {
  position: relative;
  height: 400px;
  margin: 10px 0;
  cursor: pointer;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform (translate(-50%,-50%));
  }
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
  position: relative;
}
.col-flex-50 {
  @include flex(0 0 50%);
  max-width: 50%;
  position: relative;
}
.grey-bg {
  background-color: #1B1B1B;
}
.space-flex {
  .row-flex+.row-flex {
    margin-top: 2px;
  }
  .col-flex+.col-flex {
    margin-left: 2px;
  }
}
.strong {
  padding: 120px 280px;
  .line-hover {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: #131313;
    border-bottom: 0 solid transparent;
    padding: 95px 0 93px;
    cursor: pointer;
    font-size: 18px;
    @include transition(all 300ms ease);
    &:hover {
      color: $brand-success;
      border-color: $brand-success;
    }
  }
  .hover-up {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    opacity: 1;
    &:hover {
      background-color: transparent;
      p { opacity: 0; }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      opacity: 1;
      @include transition(all ease 300ms);
      color: $brand-success;
    }
  }
}
.uppercase {
  text-transform: uppercase;
}
.smart-content {
  padding: 100px 0;
  background-image: url("../img/logo-light.png");
  background-size: auto 103%;
  background-repeat: no-repeat;
  background-position: right bottom;
  .btn {
    text-transform: uppercase;
    font-weight: 300;
    padding: 3px 15px;
  }
  h3 {
    margin-bottom: 20px;
  }
  p {
    width: 80%;
    margin: 0 auto 20px;
  }
}
.advertise {
  padding: 250px 0;
  background-image: url("../img/ccc-advert.jpg");
  color: #787878;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-size: cover;
  background-position: top center;
  h4 {
    font-size: 29px;
    margin: 0;
    font-weight: 300;
  }
  h3 {
    font-size: 38px;
    margin: 0;
    font-weight: 400;
  }
  a {
    font-size: 20px;
    font-weight: 300;
    color: #ededed;
    border-bottom: 1px solid #ededed;
  }
}
footer {
  background-color: #111;
  color: #dbdbdb;
  text-transform: uppercase;
  font-size: 14px;
  .pb25 {
    padding-bottom: 35px;
  }
  h5 {
    font-weight: 600;
    font-size: 12px;
  }
  .custom-footer li a.active {
    margin-left: 40px;
    font-size: 12px;
  }
  a {
    color: inherit !important;
    @include transition(all ease 300ms);
    &:hover {
      color: lighten($font-color, 30%)!important;
    }
  }
  .footer {
    font-weight: 300;
    color: #5c5c5c;
    a {
      color: inherit;
      // padding: 6px 8px;
      &:hover {
        color: lighten($font-color, 30%)!important;
      }
    }
  }
  .footermenu {
    padding: 35px 0;
    font-size: 14px;
    letter-spacing: 2px;
    font-size: 12px;
    ul.list-unstyled.foot-cards li {
      display: inline-block;
      img {
        width: 45px;
        padding-right: 5px;
      }
    }
    ul.bold li a {
      font-weight: 600;
    }
    ul {
      margin: 0;
    }
    li {
      font-weight: 600;
      line-height: 200%;
      margin: 10px 2px;
      a {
        color: inherit;
        font-weight: 300;
        @include transition (all ease 300ms);
        border-left: 3px solid transparent;
        padding: 6px 8px;
        font-size: 10px;
        &:hover {
          border-color: $brand-warning;
          color: lighten($font-color, 50%)!important;
          background-color: #404040;
        }
      }
    }
  }
  .social-icons i {
    padding-right: 10px;
    font-size: 18px;
  }
}
.btn-pink {
  background-color: gray;
  border-left: 3px solid $brand-danger;
  &:hover,
  &:focus {
    background-color: gray !important;
    border-left: 3px solid $brand-danger;
    color: #fff !important;
    outline: 0;
  }
}
.btn-yellow {
  background-color: gray;
  border-left: 3px solid $brand-warning;
  margin-left: 40px !important;
  &:hover,
  &:focus {
    background-color: gray!important;
    border-left: 3px solid $brand-warning;
    color: #fff !important;
    outline: 0;
  }
}
.btn-blue {
  background-color: gray;
  border-left: 3px solid $brand-primary;
  margin-left: 10px !important;
  &:hover,
  &:focus {
    background-color: gray!important;
    border-left: 3px solid $brand-primary;
    color: #fff !important;
    outline: 0;
  }
}
.get-touch {
  padding-top: 7px;
}
.custom-sub {
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 1000;
  min-width: 120px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 100%;
  font-size: 12px;
  border: none;
  &.bg-white {
    background: #fff;
  }
  li {
    +li {
      margin-top: 1px;
    }
    &.mt-35 {
      margin-top: 35px;
    }
    a {
      padding: 10px 5px;
      display: block;
      border-left: 3px solid transparent;
      @include transition(all 300ms ease);
      &:hover,
      &.active {
        color: white;
        background-color: black;
        border-color: $brand-warning;
      }
    }
  }
  &.Shop {
    a:hover,
    a.active {
      background-color: lighten(black, 50%);
      border-color: $brand-success;
    }
  }
  &.Customize {
    a:hover,
    a.active {
      background-color: lighten(black, 50%);
      border-color: $brand-danger;
    }
  }
  .fit {
    margin-top: -3px;
    font-size: 18px;
  }
}
.service-head-menu {
  width: 210px;
  .blue-service a:hover,:active {
    border-color: $brand-primary;
  }
}
.sub-holder {
  height: 220px;
  position: absolute;
  width: 100%;
  background-color: transparent;
  top: 65px;
  left: 0;
}
/* Start writing sass here */
.noti-img {
  height: 45px;
  width: 45px;
  border-radius: 100%;
}
.design {
  display: inline-block;
}
.text-above {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  @include transform( translateY(-50%));
}
.banners {
  .banner-inner {
    position: relative;
    color: #fff;
    &:hover .overlay {
      opacity: 1;
    }
    h2 {
      letter-spacing: 2px;
      font-size: 35pt;
      font-weight: 900;
      padding: 0 20px;
    }
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      @include transition (all 500ms ease);
    }
  }
}
.explore-more-drop {
  position: relative;
  ul.custom-menu-down {
    list-style: none;
    background: $custom-bg;
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    li {
      padding: 6px 0;
      a {
        color: #aaaaa9;
        padding: 6px 0;
        font-size: 13pt;
        @include transition(all ease 300ms);
        &:hover,
        &.active {
          color: #d8ff00;
        }
      }
    }
  }
}
.step.padding-step {
  padding: 10px 20px;
  border-bottom: 1px solid #c0c0c0;
}
.account-name {
  margin-bottom: 40px;
  color: #898989;
  font-weight: 500;
  p {
    margin-bottom: 2px;
  }
  table {
    tr {
      td {
        padding-right: 20px;
      }
    }
  }
  h5.h5-class.mar0.class-p {
    color: #1b1b1b;
  }
}
.custom-img {
  width: auto;
  margin: 0 auto;
  height: 500px;
  img {
    max-height: 100%;
    margin: 0 auto;
  }
}
.related-product {
  margin: 25px;
  .flex-control-nav { bottom: 0; }
}
.img-hold {
  @include square(150px);
  overflow: hidden;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
}
.product-desc {
  width: 85%;
  margin: 0 auto;
  .pro-rp {
    p {
      background: #e2e2e2;
      width: 140px;
      padding-bottom: 8px;
      text-align: center;
      font-size: 35px;
      font-weight: 700;
      color: #fff;
      float: left;
      margin-right: 20px;
      &.strike-text {
        text-decoration: line-through;
      }
      i {
        padding-right: 5px;
        vertical-align: middle;
      }
    }
    span {
      font-size: 35px;
      font-weight: 700;
      color: $font-color;
    }
  }
}
.detail-descptab {
  li {
    display: inline-block;
    margin: 0 5px;
  }
}
.pro-detail-btn {
  border-left: 5px solid transparent;
  padding: 10px 25px;
  display: block;
  background-color: #e2e2e2;
  color: #000;
  font-size: 20px;
}
.pro-btn-active { border-left: 5px solid #0d9dff; }
.get-me {
  padding: 10px 20px 0 50px;
  font-size: 16px;
  text-align: justify;
}
.pro-detail {
  .panel-body {
    border-top-color: #fff!important;
    padding-left: 0 !important;
    ul.delivery {
      list-style: decimal;
      padding-left: 20px;
    }
    li {
      padding-bottom: 20px;
    }
  }
  .panel-heading {
    background: #fff;
    border-color: #fff;
    box-shadow: none;
    padding-left: 0 !important;
    a {
      &:focus {
        outline: none;
      }
      span {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 4px;
        margin-bottom: 5px;
      }
      i.fa.fa-caret-right,
      i.fa.fa-caret-down {
        font-size: 24px;
        color: #E2E2E2;
        vertical-align: baseline;
      }
    }
  }
  .panel.panel-default {
    border-color: #fff;
    box-shadow: none;
  }
}
.p65 {
  padding-top: 66px;
}
.mgb25 {
  margin-bottom: 25px;
}
.account-bg {
  min-height: 245px;
  background: url("../img/background/accountbg1.jpg") no-repeat;
  background-size: contain;
}
.account-wish-bg {
  min-height: 300px;
  padding-top: 30px;
}
//save-design
.design-patt {
  margin: 20px 0;
  .img-holder {
    width: 300px;
    height: 300px;
    border: 1px solid #c0c0c0;
    padding: 25px;
    margin: 0 auto;
  }
  p {
    margin: 10px 0 0;
    font-weight: 600;
  }
  .mg10 {
    margin: 10px 0;
  }
}
.account-design-bg {
  background: url("../img/background/accountlast.jpg") no-repeat right;
  background-size: contain;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #cccccc;
  opacity: 0;
  @include transition (all 500ms ease);
}
.fifty {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
//privacy-policy
.banner {
  min-height: 295px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h3 {
    @extend.fifty;
    width: 100%;
    color: #fff;
  }
  &.contact {
    background-image: url("../img/page-banner/contact.jpg");
  }
  &.about {
    background-image: url("../img/page-banner/about.jpg");
  }
  &.tnc {
    background-image: url("../img/page-banner/tnc.jpg");
  }
  &.privacy {
    background-image: url("../img/page-banner/privacy-policy.jpg");
  }
}
.privacy-info {
  padding: 60px;
  color: #737373;
  text-align: justify;
  line-height: 150%;
  p {
    color: #737373;
  }
  ul,
  ol {
    padding-left: 20px;
    li+li {
      margin-top: 10px;
    }
  }
  ul {
    li+li {
      margin-top: 0;
    }
  }
  .dark {
    color: $black;
    margin: 25px 0 5px;
  }
  h4,
  b {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h5,
  h6 {
    color: #000;
    font-weight: 500;
    margin-top: 0;
  }
}
//cart page
.order-table {
  color: #515151;
  .table {
    margin-bottom: 0;
    thead {
      tr {
        th {
          border: none;
          background-color: #c0c0c0;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 1px;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 20px 0;
          //                    vertical-align: middle;
          border-top: none;
          border-bottom: 1px solid #ddd;
          figure {
            img {
              width: 100px;
            }
            figcaption {
              font-size: 10px;
            }
          }
        }
        td:last-child {
          padding: 24px 0;
          //                    vertical-align: bottom;
          button {
            float: right;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
  .more {
    border: 1px solid #555;
    padding: 2px 8px;
    display: inline-block;
    line-height: 10px;
    cursor: pointer;
    i {
      color: #555;
      font-size: 9px;
    }
  }
  .more:first-child {
    margin-left: 5px;
  }
  .mgl {
    margin-left: -4px;
  }
}
.cart-back {
  padding: 40px 0;
  background: url("../img/background/bg1.jpg") no-repeat;
  background-size: contain;
}
.wish-bg {
  min-height: 300px;
  padding-top: 30px;
  background: url("../img/background/bg2.jpg") no-repeat;
  background-size: contain;
}
.wish-back {
  font-weight: 600;
  .category {
    p {
      margin-left: 15px;
    }
  }
  .cart-btn {
    float: right;
    margin: 15px 0;
    button {
      letter-spacing: 2px;
    }
    button:last-child {
      margin-left: 10px;
    }
  }
}
//wishlist page
.wish-table {
  .table {
    tbody {
      tr {
        td:last-child {
          button {
            float: none;
            margin-left: 7px;
          }
        }
      }
    }
  }
}
//checkout page
.check-out {
  .nav-tabs {
    padding: 20px 40px;
    li {
      a {
        border: 1px solid $black;
        padding: 6px 24px;
        margin: 0 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        &:hover {
          border: 1px solid $check-out-btn;
          background-color: $check-out-btn;
          color: #fff;
        }
      }
    }
    li.active a {
      border: 1px solid $check-out-btn;
      background-color: $check-out-btn;
      color: #fff;
    }
  }
  .h5-class {
    color: #1b1b1b;
  }
  .tab-content {
    padding: 23px 55px 0;
    .form-group {
      input {
        border: 1px solid #555;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      label.agree {
        font-size: 12px;
        font-weight: 400;
      }
      label.same-agree {
        font-weight: normal;
      }
      .ccc-select {
        position: relative;
        width: 100%;
        select {
          -webkit-appearance: none;
          appearance: none;
          border: 1px solid #555;
          width: 100%;
          height: 34px;
          border-radius: 0;
          padding: 0 5px;
          cursor: pointer;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        &:after {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f107";
          background: #555;
          width: 30px;
          height: 34px;
          position: absolute;
          top: 0;
          right: 0;
          color: #fff;
          font-size: 30px;
          text-align: center;
          line-height: 34px;
        }
      }
    }
    button {
      letter-spacing: 4px;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    .class-forget {
      text-align: right;
      p {
        margin: 11px 0;
      }
    }
    .or {
      font-weight: 600;
    }
    .social-icon {
      button {
        padding: 4px 24px;
      }
    }
    .mg {
      margin: 15px 0;
      p {
        margin: 0;
      }
    }
    .check-out-wish {
      table {
        tbody {
          tr {
            td:last-child {
              padding: 20px 0;
              vertical-align: middle;
            }
          }
        }
      }
    }
    .nxt,
    .more-pd {
      padding: 6px 34px;
      letter-spacing: 3px;
    }
    .mg30 {
      margin: 30px 0;
    }
    .payment {
      p {
        font-weight: 600;
      }
    }
  }
}
//ready
.chart {
  span {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
}
.ccc-select {
  position: relative;
  width: 50px;
  margin: 0 auto;
  select {
    -webkit-appearance: none;
    border: 1px solid #000;
    width: 100%;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    border-radius: 0;
    padding: 0 2px;
    height: 20px;
    line-height: 15px;
  }
  &:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    height: 20px;
    width: 20px;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    z-index: -1;
  }
}
.edit-btn {
  button {
    margin: 15px 5px 15px 0;
  }
}
.letter-spacing {
  letter-spacing: 4px;
}
.margin0 {
  margin: 0;
}
.padding {
  padding: 0;
}
.step {
  ul {
    display: block;
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      // @include transition (all ease 300ms );
      p {
        @extend .margin0;
        border: 1px solid $bread-crumb;
        padding: 4px 49px;
        cursor: pointer;
        height: 30px;
      }
      &:hover p,
      &.active p {
        background: $bread-crumb;
        color: #fff;
      }
      &.breadcrums {
        p {
          // @include transition (all ease 300ms );
          &:before {
            content: "";
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 14px solid $bread-crumb;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -2;
          }
          &::after {
            content: "";
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid $bread-crumb;
            position: absolute;
            right: -14px;
            top: 0;
            z-index: -2;
          }
        }
        span.bread-frnt {
          border-top: 14px solid transparent;
          border-bottom: 14px solid transparent;
          border-left: 13px solid #FFFFFF;
          position: absolute;
          left: 0;
          top: 1px;
          z-index: 9;
        }
        span.bread-back {
          border-top: 14px solid transparent;
          border-bottom: 14px solid transparent;
          border-left: 14px solid #FFFFFF;
          position: absolute;
          right: -13px;
          top: 1px;
          z-index: 9;
          // @include transition (all ease 300ms );
        }
        &:hover span.bread-back,
        &.active span.bread-back {
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid $bread-crumb;
          right: -14px;
          top: 0;
        }
      }
    }
  }
}
.stepbg {
  ul {
    li {
      &:hover p,
      &.active p {
        background: #C0C0C0;
      }
      p {
        border: 1px solid #C0C0C0;
      }
    }
  }
}
.product-detail {
  margin-top: 40px;
  .review {
    margin: 20px 0;
    .design {
      display: block;
      .noti-imgs1 {
        padding: 4px;
        margin-right: 10px;
        display: inline-block;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .dark {
        font-weight: 500;
      }
      p {
        margin: 0;
        font-size: 16px;
        letter-spacing: 3px;
      }
      input {
        height: 20px;
        border: 1px solid #555;
        padding: 0;
        width: 35px;
        margin: 0 auto;
        text-align: center;
        &:focus {
          border-color: #555;
          box-shadow: none;
          outline: none;
        }
      }
      .mg28 {
        margin: 28px 0;
      }
      .mg10 {
        margin: 10px 0;
      }
    }
  }
  .agree {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }
}

.size .ccc-select { width: 60px; }
.quantity {
  input {
    padding: 0 6px;
    border: 1px solid #000;
    &:focus {
      border: 1px solid #000;
      outline: none;
    }
  }
}
.back {
  min-height: 350px;
  padding: 40px 0;
  background-image: url("../img/background/checkout.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.back-1 {
  padding: 0 0 14%;
  @extend.back;
  background-position: left bottom;
  background-size: auto 50%;
}
.back-2 {
  min-height: 400px;
  padding: 0 0 2px;
  @extend.back;
}
.det-name {
  border-bottom: 1px solid $border;
  padding-bottom: 10px;
  h4 {
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .sum {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
  }
  h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 40px;
    i {
      vertical-align: sub;
      padding-right: 10px;
    }
  }
}
.choos {
  p {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 15px;
  }
}
.choos.quantity {
  p {
    margin: 0;
    padding-top: 12px;
    font-size: 18px;
  }
}
.chart { margin: 20px 0px; }
.margbotm {
  margin-bottom: 100px;
}
.paddingl {
  padding-left: 0;
}
.cat-img {
  height: 150px;
  width: 100%;
  overflow: hidden;
  border: 1px solid $border;
  padding: 10px;
  margin-bottom: 18px;
  @include transition (all ease 300ms);
  &:hover,
  &.active {
    border-color: darken($border, 50%);
  }
  img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}
.padding-btn {
  padding: 6px 45px 4px;
  outline: 0;
}
.vertical-icon {
  position: absolute;
  bottom: 45%;
  left: 70px;
  cursor: pointer;
  img {
    width: 25px;
  }
}
.horizontal-icon {
  padding-top: 20px;
  padding-bottom: 45px;
  img {
    display: inline-block;
    width: 25px;
    cursor: pointer;
  }
  p {
    display: inline-block;
    padding: 0 12px;
  }
}
.colo-pallet {
  margin-bottom: 20px;
  margin-top: 10px;
}
.margintp {
  margin-top: 20px;
}
.noti-img {
  cursor: pointer;
}
.notihov {
  &:after {
    content: "";
    display: block;
    border: 3px solid transparent;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    @include transition(all 300ms ease-in-out);
  }
  &:hover:after {
    border: 3px solid $dark-grey;
    @include transition(all 300ms ease-in-out);
  }
}
.pic-up {
  padding-bottom: 25px;
  p {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
  }
}
.print-typ {
  p {
    margin: 25px 0 10px;
    font-size: 16px;
  }
}
.pbotom {
  padding-top: 12px;
  font-size: 10px;
  padding-bottom: 20px;
  display: block;
}
.radio {
  label {
    padding-left: 0;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    color: #515151;
    font-size: 13px;
  }
  input[type="radio"] + label span {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: -1px 4px 0 0;
    cursor: pointer;
    border: 1px solid #000;
  }
  input[type="radio"] + label span {
    background-color: transparent;
  }
  input[type="radio"]:checked + label span {
    background-color: #000;
  }
  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    @include transition(background-color 0.4s linear);
  }
}
.noti-imgs {
  height: 170px;
  width: 170px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  background-position: center center;
  border: 1px solid;
}
.mar15 {
  margin: 15px 0;
}
.custom {
  .modal-content {
    position: relative;
    top: 50%;
    transform: translateY(50%);
  }
  .modal-header {
    padding: 0 9px 0 0;
    border-bottom: 0 solid #e5e5e5;
  }
  .close {
    font-size: 40px;
    &:focus {
      outline: 0;
    }
  }
}
.noti-imgs1 {
  @extend .noti-imgs;
  height: 80px;
  width: 80px;
}
.marg10 {
  margin-bottom: 8px;
  margin-top: 12px;
}
.mright15 {
  margin-right: 15px;
}
.mall10 {
  margin: 10px 0;
}
.bright {
  border-right: 1px solid $border;
}
.mar30 {
  margin: 30px 0 8px;
}
.checkbox {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    color: #515151;
    font-size: 13px;
    padding-left: 10px;
  }
  input[type="checkbox"] + label span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
  }
  input[type="checkbox"] + label span {
    background-color: transparent;
  }
  input[type="checkbox"]:checked + label span {
    background-color: #000;
  }
  input[type="checkbox"] + label span,
  input[type="checkbox"]:checked + label span {
    @include transition(background-color 0.4s linear);
  }
}
.vertical-icon.placed {
  left: 50px;
}
.margin-bottom {
  margin-bottom: 40px;
}
.radio {
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    color: #515151;
    font-size: 13px;
    padding-left: 10px;
  }
  input[type="radio"] + label span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
  }
  input[type="radio"] + label span {
    background-color: transparent;
  }
  input[type="radio"]:checked + label span {
    background-color: #000;
  }
  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    @include transition(background-color 0.4s linear);
  }
}
.modal-review {
  padding: 70px 40px;
  background-image: url("../img/logo-light.png");
  background-size: 75%;
  background-repeat: no-repeat;
  .btn {
    margin-bottom: 15px;
  }
  h4 {
    font-size: 24px;
    margin: 0 0 10px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  p {
    letter-spacing: 2px;
    font-weight: 500;
    padding: 0 0 20px;
  }
}
.custom-footer {
  position: static;
  padding-bottom: 20px;
  li a.active {
    background-color: #404040;
    border-left-width: thick;
    padding: 5px 15px;
    font-size: 16px;
  }
}
////
.choose-product {
  border-top: 2px solid #c0c0c0;
  padding: 20px 100px;
  .pro-head {
    font-size: 35px;
  }
  .product-list {
    .product-imghold {
      @include square(150px);
      border: 1px solid #e4e4e4;
      padding: 10px;
      img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }
}
.product-slider {
  padding: 60px 0;
  background-color: #e2e2e2;
  .title {
    margin-bottom: 45px;
  }
  .slider-prd-detail {
    width: 95%;
    padding: 0 80px;
    margin: 0 auto;
    .flexslider .flex-direction-nav a {
      top: 20%;
      @include transform(translateY(-20%));
    }
    .flexslider .flex-direction-nav .flex-prev {
      left: -80px !important;
    }
    .flexslider .flex-direction-nav .flex-next {
      right: -60px !important;
    }
  }
  .product {
    .product-holder {
      margin: 0 auto;
      @include square(200px);
      img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
    .price {
      font-size: 23px;
      i {
        padding-right: 5px;
        vertical-align: sub;
      }
    }
  }
}
.testimonial {
  padding: 0px 0 50px;
  .heading {
    padding-top: 40px;
    border-top: 1px solid #ffbc82;
    margin-bottom: 60px;
  }
  .slider-info {
    margin: 0 20px;
    .slider-imgholder {
      display: inline-block;
      position: relative;
      @include size(300px,200px);
      img {
        @extend .fifty;
      }
    }
  }
}
.slider-infodetaiil {
  .prd-name {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
  }
  .price {
    i {
      padding-right: 10px;
      vertical-align: sub;
    }
    margin-top: 0;
    font-size: 30px;
  }
}
.slider-prd-detail {
  // width: 80%; if container-fluid huwa to
  width: 92%;
  margin: 0 auto;
  padding: 0;
  .flexslider {
    border: none;
    margin: 0;
    overflow: visible;
    background-color: transparent;
  }
  .flexslider .flex-direction-nav a {
    width: 70px;
    height: 208px;
    color: transparent;
    top: 50%;
    @include transform(translateY(-50%));
    &:hover {
      .flexslider .flex-direction-nav .flex-prev {
        left: -60px !important;
      }
      .flexslider .flex-direction-nav .flex-next {
        right: -30px !important;
      }
    }
  }
  .flexslider .flex-direction-nav .flex-next:before {
    content: url("../img/next.png");
    display: block;
    @include transform(scale(0.4));
  }
  .flexslider .flex-direction-nav .flex-prev:before {
    content: url("../img/prev.png");
    display: block;
    @include transform(scale(0.4));
  }
  .flexslider .flex-direction-nav .flex-prev {
    left: -60px !important;
  }
  .flexslider .flex-direction-nav .flex-next {
    right: -30px !important;
  }
  .flex-control-nav {
    display: none;
  }
}
.tabs-login {
  .modal-header {
    border: 0;
    padding-right: 30px;
    .modal-title {
      cursor: pointer;
      border-bottom: 3px solid $border;
      position: relative;
      margin-left: -6px;
      margin-bottom: 10px;
      @include transition(all ease 300ms);
      &.activeyellow:hover {
        border-bottom: 3px solid $brand-warning;
      }
      &.activered:hover {
        border-bottom: 3px solid $brand-danger;
      }
      &:before {
        content: '';
        border-left: 6px solid $border;
        position: relative;
        left: -12px;
        top: 2px;
        @include transition(all ease 300ms);
      }
      &.activeyellow:before {
        border-left: 6px solid $brand-warning;
      }
      &.activered:before {
        border-left: 6px solid $brand-danger;
      }
    }
  }
  .modal-body {
    padding: 20px 60px;
    .login-form {
      padding-bottom: 10px;
      .form-group { margin-bottom: 30px; }
    }
    input.form-control {
      height: 45px;
      background-color: #fff;
      box-shadow: none;
      color: $font-color;
      border-color: $font-color;
      &:focus {
        box-shadow: none;
      }
    }
    input::-webkit-input-placeholder {
      color: $font-color;
    }
    input:-moz-placeholder {
      color: $font-color;
    }
    input::-moz-placeholder {
      color: $font-color;
    }
    input:-ms-input-placeholder {
      color: $font-color;
    }
    // .checkbox input[type="checkbox"] + label {
    //   padding-left: 0;
    //   span {
    //     margin: -4px 4px 0 0;
    //   }
    // }
    .mg p {
      font-size: 16px;
    }
    .btn {
      &:focus {
        outline: 0 auto -webkit-focus-ring-color;
        outline-offset: 0;
      }
    }
    .btn-google {
      font-size: 12px;
      padding: 7px 10px;
    }
    .btn.btn-outline.btn-dark.active {
      padding: 6px 30px !important;
      margin-bottom: 15px !important;
      text-transform: uppercase;
    }
  }
  .panel-heading {
    background: #000;
    color: #fff;
    letter-spacing: 4px;
  }
  .head-form {
    padding-bottom: 20px;
  }
}
// login signup
.login-tab {
.nav-tabs {
  border: none;
  @include display(flex);
  li {
    @include flex(1);
    a {
      border: none;
      padding: 10px 30px;
      margin: 0;
      background-color: #404040;
      color: #d6d6d6;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  li:first-child{ margin: -20px 0 0 -10px; }
  li:last-child { margin: -20px -10px 0 0; }
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  outline: none;
}
.tab-content {
  padding: 35px 0;
  background-color: #000;
  color: #fff;
}
.form-group {
  margin-bottom: 30px;
  input {
  height: 45px;
  border: none;
  background-color: #ccc;
  color: #000;
  font-size: 18px;
  @include placeholder {
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
  };
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
}
}
.forgot {
  margin: 20px 0;
  display: block;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.accept {
  .checkbox input[type="checkbox"] + label {
    padding-left: 0;
    color: #fff;
    text-transform: none;
  }
  .checkbox input[type="checkbox"] + label span {
    @include square(15px);
    border: 1px solid #fff;
  }
  input[type="checkbox"]:checked + label span {
    background-color: #fff;
  }
}
.social-icon button {
  margin: 0 2px;
  width: 45px;
 }
.enter-mail { background-color: #000; }
.forgot-heading {
  padding: 20px 0;
  margin: 0 -20px;
  background-color: #fff;
  h2 { margin: 0; }
}
.forgot-main {
  padding: 90px;
  color: #fff;
  h3 { margin: 0 0 60px; }
}
.submit {
  margin: 20px 0;
  button {
    padding: 8px 50px;
    color: #000;
    &:hover {
      background-color: #000;
      border-color: #fff;
      color: #fff;
    }
  }
}
.sign-submit { margin: 40px 0 20px; }
// end login signup
.thank-you.text-center {
  padding: 50px;
  p {
    font-size: 35px;
  }
  .shopping {
    padding: 30px 2px;
  }
  a.btn.btn-outline.btn-dark {
    padding: 6px 25px;
    text-transform: uppercase;
  }
}
//pop-up wishlist
.pop-up {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  h5.popup-wishlist {
    padding: 10% 3%;
    border: 2px solid red;
    background-color: #fff;
    font-size: 15px !important;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    i {
      color: red;
    }
  }
  .closepop {
    width: 20px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 388px;
    background-color: #e6e6e6;
    text-align: center;
    cursor: pointer;
  }
}
.ngdialog-close {
  display: none !important;
}
.ngdialog-content {
  background-color: transparent;
}
.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  img {
    opacity: 1;
    // @include transform(rotate(360deg));
  }
}
.alert-postion {
  position: fixed;
  max-width: 500px;
  left: 50%;
  width: 100%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  z-index: 99;
  .alert {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    &.alert-success {
      color: white;
      background-color: $brand-success;
    }
    &.alert-danger {
      color: white;
      background-color: #A94442;
    }
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  @include appearance(none);
  margin: 0;
}
.spin-number {
  width: 30px;
  margin-right: 5px;
  height: 20px;
  vertical-align: middle;
  padding: 0;
  &:focus {
    outline: 0;
  }
}
.custom-direct {
  .flex-pad {
    padding: 30px 45px;
    color: #fff;
    margin: 10px;
    min-height: 300px;
    border-bottom: 6px solid transparent;
    @include transition(all ease 300ms);
    &:hover {
      color: #d8ff00;
      border-color: #d8ff00;
      .img-holder-custom {
        .hover-img {
          opacity: 1;
        }
        .unhover-img {
          opacity: 0;
        }
      }
    }
    .img-holder-custom {
      width: 80%;
      height: 150px;
      margin: 0 auto;
      position: relative;
      @include transition(all ease 300ms);
      .hover-img {
        opacity: 0;
        position: absolute;
        top: 0;
      }
    }
    .category {
      font-size: 28px;
      height: 70px;
      text-transform: uppercase;
      font-weight: 700;
      @include transition(all ease 300ms);
    }
  }
  .space-flex {
    padding: 50px 150px;
    @include transition(all ease 300ms);
  }
}
.mar-btm-10 {
  margin-bottom: 10px;
}
.margin-zero {
  margin: 0;
}
// thankyou,error,sorry
.message {
  padding: 50px 0;
  .logo {
    img {
      margin: 0 auto;
    }
  }
  .head-msg {
    width: 50%;
    margin: 0 auto;
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: 400;
    span {
      display: block;
      font-weight: 500;
    }
    .exclamate {
      font-size: 70px;
    }
  }
  .sorry {
    margin: 40px 0;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  .transaction-info {
    width: 60%;
    margin: 50px auto;
    h3 {
      font-weight: 700;
      letter-spacing: 2px;
      span {
        display: block;
        padding: 4px 16px;
        border: 1px solid $font-color;
        font-weight: normal;
      }
    }
  }
  .trans-id {
    width: 20%;
  }
  .not-process {
    margin: 30px 0;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .error-msg {
    font-size: 140px;
  }
  .btn-msg {
    padding: 12px 20px;
    border: 1px solid $font-color;
    background-color: $font-color;
    color: #fff;
    letter-spacing: 3px;
    &:hover {
      border: 1px solid $font-color;
      background-color: #fff;
      color: $font-color;
    }
  }
}
.content {
  min-height: 450px;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.banner-img {
  img.img-responsive {
    width: 100%;
  }
}
.banner-inner {
  img.img-responsive {
    width: 100%;
  }
}
.w25 {
  width: 25px;
}
// 3D Modals
.ballmodal {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.follow-us {
  padding-left: 12px;
  // padding-top: 33px;
}
.fl-l {
  float: left;
  i {
    font-size: 27px;
    vertical-align: text-top;
  }
}
.pt35 {
  padding-top: 35px;
}
.makeindia {
  img {
    margin: 0 auto;
  }
}
.pr10 {
  padding-right: 10px;
}
.padding0{
  padding: 0px;
}
.f15 {
      font-size: 18px;
}
.ccc-select2{
  @extend .ccc-select;
  width: 70px;
  select{
        height: 27px;

  }
  &:after{
        line-height: 28px;
          height: 27px;
  }
}
.sel-qty ul {
    list-style: none;
    display: block;
}

.sel-qty ul li {
    display: inline-block;
    padding: 0px 7px;
    .form-group {
    margin-bottom: 0px;
}
}
.mt30{
  margin-top: 30px;
}
.border-top{
  border-top: 1px solid #ddd;
margin-top: 30px;
padding: 16px 0px 0px 0px;
span{
  font-size: 25px;
}
}
.mt20{
  margin-top: 20px;
}
.btn-green{
  color: #fff;
background: #000;
border: 0px solid #000;
font-size: 24px;
padding: 6px 40px;
border-left: 7px solid #c3e701;
}
.btn-orange {
  @extend .btn-green;
  border-left: 7px solid $color-orange;
}
.custom-li{
  ul{
    list-style: none;
    display: block;
    li{
    display: inline-block;
    }
  }
}
.order-minimum {
  margin: 10px 0;
  letter-spacing: 2px;
  word-spacing: 1px;
  .total {
    margin-left: 40px;
    display: inline-block;
    input{
      width: 100px;
      padding: 5px;
      border: 1px solid #000;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .mg0 { margin: 0; }
}
.pad,
.glove { letter-spacing: 1px; }
.bat-btn button { font-size: 18px; }
.pad span { font-size: 13px; }
// services
.service-main {
  section { margin-bottom: 15px; }
  .title {
    font-size: 45px;
    letter-spacing: 3px;
  }
  .descp {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
  }
}
.service-slider {
  .flexslider {
    border: none;
    margin: 0;
    background-color: transparent;
  }
}
.black-direction {
  .flexslider .flex-direction-nav a { height: 50px; }
  .flexslider .flex-direction-nav .flex-prev:before,
  .flexslider .flex-direction-nav .flex-next:before{
    font-size: 50px;
    color: #000;
  }
  .flex-direction-nav .flex-next { right: 60px !important; }
  .flex-direction-nav .flex-prev { left: 60px !important; }
  .flexslider .flex-direction-nav .flex-prev:before { content: "\f104" }
  .flexslider .flex-direction-nav .flex-next:before { content: "\f105" }
}
.white-direction {
  @extend .black-direction;
  .flexslider .flex-direction-nav .flex-prev:before,
  .flexslider .flex-direction-nav .flex-next:before { color: #fff; }
  .flex-direction-nav .flex-next { right: 100px !important; }
  .flex-direction-nav .flex-prev { left: 100px !important; }
}
.service-heading {
  width: 100%;
  position: fixed;
  padding: 40px 0 20px;
  background-color: #494949;
  color: #fff;
  z-index: 11;
}
.service-menu {
  margin-top: 25px;
  ul li {
    padding: 0 10px;
    border-right: 2px solid $color-orange;
    display: inline-block;
    list-style-type: none;
    line-height: 15px;
    a{
      padding: 10px 0;
      color: #fff;
      letter-spacing: 1px;
      border-bottom: 2px solid transparent;
      @include transition(all 300ms linear);
      &:hover {
        border-bottom: 2px solid $color-orange;
        @include transition(all 300ms linear);
      }
    }
    .active { border-bottom: 2px solid $color-orange; }
  }
  li:last-child { border: none; }
}
.bg-blurwhite { background-color: rgba(255, 255, 255, 0.7); }
.bg-blurblack {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
 }
 .bg-blurlightblack {
   background-color: rgba(0,0,0,0.5);
   color: #fff;
 }
 .bg-blurlightwhite { background-color: rgba(255,255,255,0.5); }
.service-pd { padding: 20% 0 10%; }
.service-bg {
background-repeat: no-repeat;
background-size: cover;
}
.advnc-customise { background-image: url('../img/services/advance-customise.jpg'); }
.tshirt-custmoize {
  @include square(400px);
  margin: 0 auto;
}
.jersy-holder {
  @include size(250px, auto);
  margin: 0 auto;
}
.consult-imgholder {
  @include size(350px, auto);
  margin: 0 auto;
}
.memory-imgholder {
  @include size(250px, auto);
  margin: 0 auto;
}
.custom-apparel { background-image: url('../img/services/apparel-bg.jpg');}
.lounge {
  // padding: 100px 0;
  color: #fff;
  text-transform: none;
}
.tours { background-image: url('../img/services/tours.jpg'); }
.match-detail { margin: 40px 0; }
.in-bound { margin-bottom: 50px; }
.consultancy { background-image: url('../img/services/consultancy-bg.jpg'); }
.foundation { background-color: #000; }
.foundation-part {
  padding: 20px 30px;
  background-color: #000;
  color: #fff;
}
.memorable { background-image: url('../img/services/memorable.jpg'); }
// end services
@import "mobile/mobile";
