//scss for inside-basketball
.inside-basketball-slider{
         width: 100%;
         height: 370px;
         margin-top: 40px;
         padding: 0 70px;
         .flexslider-container {
             .flexslider {
                 background: transparent;
                 overflow: initial;
                  padding: 0 100px;
                 .flex-direction-nav a {
                     width: 30px;
                     height: 30px;
                     display: block;
                 }
                 .flex-control-nav {
                     display: none;
                 }
                 .flex-direction-nav .flex-nav-prev a {
                     left: -46px!important;
                     display: block;
                     &:before {
                         content: "";
                         width: 100%;
                         height: 100%;
                         background-repeat: no-repeat;
                         background-size: contain; //   background-color: #000;
                         background-image: url("../img/landing/arrows/left_white.png");
                     }
                 }
                 .flex-direction-nav .flex-nav-next a {
                     right: -46px !important;
                     display: block;
                     &:before {
                         content: "";
                         width: 100%;
                         height: 100%;
                         background-repeat: no-repeat;
                         background-size: contain; //    background-color: #000;
                         background-image: url("../img/landing/arrows/right_white.png");
                     }
                 }
             }
         }
     }
     .inside-basketball-slider{
  .strong{
    padding: 0;
      }
     }
     .inside-heading h2{
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 5px;
    padding: 60px 0px;
     }
     .inside-para p{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
     }


.inside-overlay{
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.relative:hover{
    .inside-overlay{
        opacity:1;
    }
}
.inside-overlay h1{
    color: yellow;
    // letter-spacing: 8px;
    text-align: center;
    margin-top:20%;
}
