<section>
  <div class="banner about">
    <h3 class="text-uppercase text-center high-light">About Us</h3>
  </div>
  <div class="container">
    <div class="privacy-info">
      <p>Our inception comes from a club cricket team in 2008 with a desire to kit themselves up in their very own brand. After exploring and servicing an established apparel market it was time to launch the world’s first full service cricket customisation platform. And so, Custom Cricket Company is the only known firm to wholly customise your cricketing gear ranging from apparel to gloves, pads, kit bags and even your own club ball. </p>
      <p>Our team has grown rapidly across segments but design and client servicing remain within the control of the trio – Digvijay, Swati and Imran as founders of the organisation which gives each customer the personalised attention that one requires in the industry. With a focus on innovation and quality CCC intends to be the world’s most bespoke firm to fully personalise a teams needs.</p>
      <p>We have thus chosen to work with only the best factories in north India which produce over 80% of the world's cricket equipment. Apparel designs and tailoring are still closer to home where craftsmanship is a daily process in Mumbai as an extension to an age-old family business.</p>
      <p>All our CCC profits go towards infrastructure development projects for sports in rural India - Kathiwada, Madhya Pradesh. </p>
      <p>At CCC we are committed to the full consumer experience by crafting for you a uniquely customised product. It's your brand and we'll bring it to life.</p>
    </div>
  </div>
</section>
