<section>
  <div class="banner about">
    <h3 class="text-uppercase text-center high-light">About Us</h3>
  </div>
  <div class="container">
    <div class="privacy-info">
      <p>Conqvest was envisioned with the goal to be a trusted leader in customised clothing solutions. Coming to you directly from the factory floor, Conqvest is more affordable than most other online tailor-made solutions and promises world class quality. Our custom team-wear is perfect for sports teams, corporate teams, special events and corporate uniform requirements anywhere in the world.</p>
      <p>It is our endeavour to service the needs of small & medium sized enterprises world-wide with a high level of integrity and transparency and to provide unparalleled customer service ensuring timely delivery of goods.</p>
      <p>What started as a specialist cricket solutions company by founders Swati & Digvijay Kathiwada in 2015 has now found a global niche in sports & corporate clothing. </p>
      <p>Conqvest will also continue to make a social impact sharing profits with foundations that support child education in sport and academia. </p>
    </div>
  </div>
</section>
