<section>
  <div class="apparels-customize">
    <h2 class="uppercase text-center">Select an apparel category to customise</h2>

    <div class="custom-one">
      <div class="tees w50p inline-block pull-left">
        <div class="tee-img marg">
          <img src="img/landing/apparels/1.png" alt="" class="img-responsive">
        </div>
        <button class="btn btn-outline btn-dark letter-spacing uppercase block marg">Tees</button>
      </div>
      <div class="trousers w50p inline-block">
        <div class="trousers-img marg">
          <img src="img/landing/apparels/2.png" alt="" class="img-responsive">
        </div>
        <button class="btn btn-outline btn-dark letter-spacing uppercase block marg">Trousers & Shorts</button>
      </div>
    </div>

    <div class="custom-two">
      <div class="travel w50p inline-block pull-left">
        <div class="travel-img marg">
          <img src="img/landing/apparels/3.png" alt="" class="img-responsive">
        </div>
        <button class="btn btn-outline btn-dark letter-spacing uppercase block marg">Travel Wear</button>
      </div>
      <div class="caps w50p inline-block">
        <div class="caps-img marg">
          <img src="img/landing/apparels/4.png" alt="" class="img-responsive">
        </div>
        <button class="btn btn-outline btn-dark letter-spacing uppercase block marg">Caps/Hats</button>
      </div>
    </div>
  </div>

  <div class="switch-to">
    <h3 class="uppercase text-center">Switch To</h3>
    <!--flex-slider-->
  </div>
</section>