<section>
  <div class="apparels-customize">
    <h2 class="uppercase text-center">Select an apparel category to customise</h2>

    <!--<div class="custom-one">
      <div class="tees w50p inline-block pull-left">
        <div class="tee-img marg">
          <img src="img/landing/apparels/1.png" alt="" class="img-responsive">
        </div>
        <button class="btn btn-outline btn-dark letter-spacing uppercase block marg" ui-sref="odi-shirt">Tees</button>
      </div>
      <div class="trousers w50p inline-block">
        <div class="trousers-img marg">
          <img src="img/landing/apparels/2.png" alt="" class="img-responsive">
        </div>
        <button class="btn btn-outline btn-dark letter-spacing uppercase block marg" ui-sref="trousers">Trousers & Shorts</button>
      </div>
    </div>

    <div class="custom-two">
      <div class="travel w50p inline-block pull-left">
        <div class="travel-img marg">
          <img src="img/landing/apparels/3.png" alt="" class="img-responsive">
        </div>
        <div class="btn-classes relative">
 <button class="btn btn-outline btn-dark letter-spacing uppercase block marg travel-type">Travel Wear</button>
         <button class="btn btn-outline btn-dark letter-spacing uppercase block marg coming-soon">coming soon</button>
        </div>
       
      </div>
      <div class="caps w50p inline-block">
        <div class="caps-img marg">
          <img src="img/landing/apparels/4.png" alt="" class="img-responsive">
        </div>
         <div class="btn-classes relative">
 <button class="btn btn-outline btn-dark letter-spacing uppercase block marg">Caps/Hats</button>
         <button class="btn btn-outline btn-dark letter-spacing uppercase block marg coming-soon">coming soon</button>
        </div>
      </div>
    </div>-->
    <div class="custom-one">
      <div class="travel travelling travel1">
        <div class=" va-mid  inline-block w45p">

           <div class="travel-img marg">
          <img src="img/apparel-new/teess.png" alt="tees" class="img-responsive">
        </div>
        </div>
        <div class=" inline-block w45p text-center">
          <h2 class="uppercase text-center">tees</h2>
         <a class="btn btn-outline btn-light uppercase letter-spacing">Know More</a>
        </div>
        </div>
      </div>
          <div class="custom-two">
            <div class="">
              <div class="row">
              <div class="col-md-6 padr" >
                 <div class="travel travelling travel1">
                 <div class="travel-img marg">
          <img src="img/apparel-new/short-pant.jpg" alt="short-pant" class="img-responsive">
        </div>
        <div class="letter-over ">
  <h2 class="uppercase ">tees</h2>
         <a class="btn btn-outline btn-light uppercase letter-spacing">Know More</a>
        </div>
       
              </div>
              </div>
              <div class="col-md-6 padl ">
                <div class="travel travelling travel1 text-center">
                <div class=" letters-over">
  <h2 class="uppercase ">tees</h2>
         <a class="btn btn-outline btn-light uppercase letter-spacing">Know More</a>
        </div>
          <div class="travel-img marg">
          <img src="img/apparel-new/caps.png" alt="caps" class="img-responsive">
        </div>
              </div>
            </div>
            </div>
            </div>
            
      <!--<div class="travel travelling">
        <div class=" va-mid  inline-block w45p text-center relative">

           <div class="travel-img marg">
          <img src="img/landing/apparels/3.png" alt="" class="img-responsive">
        </div>
        <div class="letter-over ">
  <h2 class="uppercase ">tees</h2>
         <a class="btn btn-outline btn-light uppercase letter-spacing">Know More</a>
        </div>
       
        </div>
        <div class=" va-mid  inline-block w45p text-center relative">
          <div class=" letters-over">
  <h2 class="uppercase ">tees</h2>
         <a class="btn btn-outline btn-light uppercase letter-spacing">Know More</a>
        </div>
          <div class="travel-img marg">
          <img src="img/landing/apparels/3.png" alt="" class="img-responsive">
        </div>
        
        </div>
        </div>-->
      </div>
       <div class="custom-three">
      <div class="travel travelling travel1">
            <div class=" inline-block w45p text-center">
          <h2 class="uppercase text-center">travel wear</h2>
         <a class="btn btn-outline btn-light uppercase letter-spacing">Know More</a>
        </div>
        <div class=" va-mid  inline-block w45p">

           <div class="travel-img marg">
          <img src="img/apparel-new/travels.png" alt="travels" class="img-responsive">
        </div>
        </div>
    
        </div>
      </div>
    </div>
  </div>

  <div class="switch-to">
      <h3 class="uppercase text-center">Switch To</h3>
    <!--flex-slider-->
      <div class="showcase">
    <!--<h2 class="uppercase text-center">Our Showcase</h2>-->
  
    <div class="showcase-slider">
      <!--<flex-slider flex-slide="s in showcaseSlides" prev-text="" next-text="" class="" item-width="70" item-margin="40">
          <li>
              <img ng-src="{{s}}" class="img-responsive">
          </li>
      </flex-slider>-->
      <flex-slider flex-slide="banner in showcaseSlides track by $index" prev-text="" next-text="" startAt="0" item-width="240" item-margin="40" animation="slide" move="1" slideshow="true" slideshowSpeed="500" class="mt25">
        <li class="text-center">
            <div ui-sref="{{banner.link}}" ng-class="{'pointer':{{banner.link}} !=''}">
                <figure class="grey-fade grey-light">
                    <img ng-src="{{banner.image}}" class="img-responsive iconBlue">
                    <div class="greyfade-text">
 <p class="uppercase">{{banner.text}}</p>
                      <p class="uppercase">{{banner.subtext}}</p>
                    </div>
                    
                </figure>
            </div>
            
        </li>
    </flex-slider>
    </div>
  </div>
  <!--flexslider-->
  </div>
</section>