<section>
    <div class="text-center main-head">
        <h3 class="high-light">MY CART</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="order-table">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th>ITEM</th>
                                <th>COLOUR</th>
                                <th>SIZE</th>
                                <th>QUANTITY</th>
                                <th>SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>
                                    <figure>
                                        <img src="img/product1.png">
                                        <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                    </figure>
                                </td>
                                <td>White</td>
                                <td>M</td>
                                <td>1</td>
                                <td>
                                    <p>699</p>

                                    <button class="btn btn-outline btn-dark">REMOVE</button>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>
                                    <figure>
                                        <img src="img/product2.png">
                                        <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                    </figure>
                                </td>
                                <td>White</td>
                                <td>M</td>
                                <td>1</td>
                                <td>
                                    <p>699</p>

                                    <button class="btn btn-outline btn-dark">REMOVE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="wish-back">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="category">
                                <p>TOTAL:</p>
                                <p>SHIPPING:</p>
                                <p>GIFT CARD:</p>
                                <p>STORE CREDIT:</p>
                                <p>DISCOUNT:</p>
                                <p>GRAND TOTAL:</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="list text-right">
                                <p>1398</p>
                                <p>0</p>
                                <p>0</p>
                                <p>0</p>
                                <p>100</p>
                                <p>1399</p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-btn clearfix">
                        <button class="btn btn-outline btn-dark">CONTINUE SHOPPING</button>
                        <button class="btn btn-outline btn-dark">CHECK OUT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
