<section>
    <div class="text-center main-head">
        <h3 class="high-light">MY CART</h3>
    </div>
    <div class="container">
      <div class="alert-postion">
          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
      </div>
      <h4 ng-if="msg!=''">{{msg}}</h4>
      <div ng-if="msg==''">
        <div class="row">
            <div class="col-md-12">
                <div class="order-table">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th>ITEM</th>
                                <th>COLOUR</th>
                                <th>SIZE</th>
                                <th>QUANTITY</th>
                                <th>SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" ng-repeat="cart in addCart">
                                <td>
                                    <figure>
                                        <img ng-src="{{cart.image|serverimage}}">
                                        <figcaption>{{cart.realname}}</figcaption>
                                    </figure>
                                </td>
                                <td>{{cart.colour}}</td>
                                <td>{{cart.size}}</td>
                                <td>
                                <input type="number" ng-change="updateCartQuantity(cart)" class="text-center spin-number" ng-model="cart.qty">
                                  <span class="more" ng-click="addQuantity(cart)"><i class="fa fa-plus"></i></span><span class="more" ng-click="subtractQuantity(cart)"><i class="fa fa-minus"></i></span>
                                 <p ng-show="cart.exceed" >
                                     Exceeds max available quantity
                                 </p>
                                   </td>
                                <td>
                                    <p>{{cart.subtotal}}</p>
                                    <div class="p65 clearfix">
                                        <button class="btn btn-outline btn-dark " ng-click="removeItem(cart)">REMOVE</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="wish-back cart-back no-bg">
            <div class="row">
                <div class="col-md-offset-8 col-md-4 col-sm-offset-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="category">
                                <p>TOTAL:</p>
                                <p>SHIPPING:</p>
                                <p>GIFT CARD:</p>
                                <p>STORE CREDIT:</p>
                                <p>DISCOUNT:</p>
                                <p>GRAND TOTAL:</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="list text-right">
                                <p>{{bigcount.amount}}</p>
                                <p>0</p>
                                <p>0</p>
                                <p>0</p>
                                <p>100</p>
                                <p>{{bigcount.amount}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="cart-btn clearfix">
                        <button class="btn btn-outline btn-dark marg10" ui-sref="home">CONTINUE SHOPPING</button>
                        <button class="btn btn-outline btn-dark marg10" ng-click="toCheckout()">CHECK OUT</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
