<section>
  <div class="text-center main-head">
    <h3 class="high-light">APPARELS</h3>
  </div>
  <div class="banners">
    <div class="banner ">
      <div class="row-flex">
        <div class="">
          <img src="img/apparels/playingtshirt.png" alt="" class="img-responsive">
        </div>
      </div>
      <div class="text-above">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-6 col-md-4">
              <div class="text-right">
                <h2>
                  PLAYING</br>
                  T-SHIRTS
                </h2>
                <a class="btn btn-outline btn-dark" href="#">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="banner">
          <img src="img/apparels/sweatshirt.png" alt="" class="img-responsive">
          <div class="text-above text-center">
            <h2 class="">
              SWEATSHIRTS
            </h2>
            <a class="btn btn-outline btn-light" href="#">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="banner">
          <img src="img/apparels/trainingshorts.png" alt="" class="img-responsive">
          <div class="text-center text-above">
            <h2>
              TRAINING SHORTS
            </h2>
            <a class="btn btn-outline btn-light" href="#">Know More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="banner">
          <img src="img/apparels/tracksuit.png" alt="" class="img-responsive">
          <div class="text-above text-center">
            <h2>
              TRACKSUIT
            </br>
              TROUSER
            </h2>
            <a class="btn btn-outline btn-light" href="#">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="banner">
          <img src="img/apparels/polos.png" alt="" class="img-responsive">
          <div class="text-above text-center">
            <h2>
              POLOS
            </h2>
            <a class="btn btn-outline btn-light" href="#">Know More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="banner">
        <div class="">
          <img src="img/apparels/tracksuit-top.png" alt="" class="img-responsive">
        </div>
        <div class="text-above text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="text-left">
                  <h2>
                    TRACKSUIT
                </br>
                    TOP
                  </h2>
                  <a class="btn btn-outline btn-light" href="#">Know More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="banner">
          <img src="img/apparels/playingtroushers.png" alt="" class="img-responsive">
          <div class="text-above text-center">
            <h2>
              PLAYING TROUSERS
            </h2>
            <a class="btn btn-outline btn-light" href="#">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="banner">
          <img src="img/apparels/trainingtee.png" alt="" class="img-responsive">
          <div class="text-above text-center">
            <h2>
              TRAINING TEE
            </h2>
            <a class="btn btn-outline btn-light" href="#">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
