<section>
  <div class="text-center text-uppercase main-head pad-btm-30">
    <h3 class="high-light">Sweatshirts</h3>
    <div class="explore-more-drop">
      <a class="btn btn-outline btn-dark" ng-click="hovered();">Explore More</a>
      <ul class="custom-menu-down" ng-show="hovermenu" ng-mouseleave="unhovered();">
        <li ng-repeat="subcategory in subCategories">
          <a href="#" class="">
              {{subcategory.name}}
            </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="banners">
    <div class="row-flex">
      <div class="col-flex">
        <div class="banner-inner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt1.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above text-center">
              <h2 class="text-uppercase">Sweatshirt 1</h2>
              <a href="#/categories/sweatshirts/product-detail" class="btn btn-outline btn-light uppercase letter-spacing">Know more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="banner-inner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt2.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above hover-layer text-center">
              <h2 class="text-uppercase">Sweatshirt 2</h2>
              <a href="#/categories/sweatshirts/product-detail" class="btn btn-outline btn-light uppercase letter-spacing">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="banner-inner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt3.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above hover-layer text-center">
              <h2 class="text-uppercase">Sweatshirt 3</h2>
              <a href="#/categories/sweatshirts/product-detail" class="btn btn-outline btn-light uppercase letter-spacing">Know more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="banner-inner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt4.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above  text-center">
              <h2 class="text-uppercase">Sweatshirt 4</h2>
              <a href="#/categories/sweatshirts/product-detail" class="btn btn-outline btn-light uppercase letter-spacing">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
