<section>
  <div class="text-center">
    <h3 class="high-light">APPARELS</h3>
  </div>
  <div class="">
    <div class="row-flex">
      <div class="">
        <img src="img/apparels/playingtshirt.png" alt="" class="img-responsive">
      </div>
      <div class="">
        <h2>
          PLAYING
        </h2>
        <h2>
          T-SHIRTS
        </h2>
        <a class="btn btn-outline btn-dark" href="#">Know More</a>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <img src="img/apparels/sweatshirt.png" alt="">
        <div class="">
          <h2>
            SWEATSHIRTS
          </h2>
          <a class="btn btn-outline btn-dark" href="#">Know More</a>
        </div>
      </div>
      <div class="col-flex">
        <img src="img/apparels/trainingshorts.png" alt="">
        <div class="">
          <h2>
            TRAINING SHORTS
          </h2>
          <a class="btn btn-outline btn-dark" href="#">Know More</a>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <img src="img/apparels/tracksuit.png" alt="">
        <div class="">
          <h2>
            TRACKSUIT TROUSER
          </h2>
          <a class="btn btn-outline btn-dark" href="#">Know More</a>
        </div>
      </div>
      <div class="col-flex">
        <img src="img/apparels/polos.png" alt="">
        <div class="">
          <h2>
            POLOS
          </h2>
          <a class="btn btn-outline btn-dark" href="#">Know More</a>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="">
        <img src="img/apparels/tracksuit-top.png" alt="">
        <div class="">
          <h2>
            TRACKSUIT
          </h2>
          <h2>
            TOP
          </h2>
          <a class="btn btn-outline btn-dark" href="#">Know More</a>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <img src="img/apparels/playingtroushers.png" alt="">
        <div class="">
          <h2>
            TRAINING TEE
          </h2>
          <a class="btn btn-outline btn-dark" href="#">Know More</a>
        </div>
      </div>
      <div class="col-flex">
        <img src="img/apparels/trainingtee.png" alt="">
        <div class="">
          <h2>
            SWEATSHIRTS
          </h2>
          <a class="btn btn-outline btn-dark" href="#">Know More</a>
        </div>
      </div>
    </div>
  </div>
</section>
