<section>
  <div class="text-center text-uppercase main-head pad-btm-30">
    <h3 class="high-light">{{subcategory}}</h3>
    <div class="explore-more-drop">
      <a class="btn btn-outline btn-dark" ng-click="hovered();">Explore More</a>
      <ul class="custom-menu-down" ng-show="hovermenu" ng-mouseleave="unhovered();">
        <li ng-repeat="subcategory in subCategories">
          <a ui-sref="categories-inside({category:category,name:subcategory.name})">
              {{subcategory.name}}

            </a>
        </li>
      </ul>
    </div>
  </div>
  <h4 class="text-center" ng-if="products==''">{{msg}}</h4>
  <div class="banners">
    <div class="row-flex" ng-repeat="item in products">
      <div class="col-flex-50" ng-repeat="product in item">
        <div class="banner-inner">
          <div class="">
            <img src="{{product.image | serverimage}}" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above text-center">
              <h2 class="text-uppercase">{{product.name}}</h2>
              <a ui-sref="product-detail({category:category,subcategory:subcategory,id:product.id})" class="btn btn-outline btn-light uppercase letter-spacing">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
