<section>
  <div class="text-center main-head">
    <h3 class="high-light letter-spacing">{{params}} </h3>
  </div>
  <div class="no-cart text-center"  ng-if="categories==''" style="min-height:400px;">
    <img src="img/logo.png">
        <h4 >{{msg}}</h4>
  </div>
  <div class="banners">
    <div ng-repeat="category in categories" class="pad-me">
    <div class="banner-inner" ng-if="!category.length">

        <div class="banner-img">
          <a ui-sref="categories-inside({category:params,name:category.name})">
            <img ng-src="{{category.image1|serverimage}}" alt="" class="img-responsive">
          </a>
        </div>

      <!-- <div class="text-above">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-6 col-md-6">
              <div class="text-right">
                <h2 class="uppercase">
                  {{category.name}}
                </h2>
                <a class="btn btn-outline btn-light uppercase letter-spacing" ui-sref="categories-inside({category:params,name:category.name})">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row-flex" ng-if="category.length">
      <div class="col-flex-50">
        <div class="banner-inner" >
          <a ui-sref="categories-inside({category:params,name:category[0].name})">
            <img ng-src="{{category[0].image2|serverimage}}" alt="" class="img-responsive">
          </a>
          <!-- <div class="text-above text-center">
            <h2 class="uppercase">
              {{category[0].name}}
            </h2>
            <a class="btn btn-outline btn-light uppercase letter-spacing">Know More</a>
          </div> -->
        </div>
      </div>
      <div class="col-flex-50" ng-if="category[1] != null">
        <div class="banner-inner" >
          <a ui-sref="categories-inside({category:params,name:category[1].name})">
            <img ng-src="{{category[1].image2|serverimage}}" alt="" class="img-responsive">
          </a>
          <!-- <div class="text-center text-above">
            <h2 class="uppercase">
              {{category[1].name}}
            </h2>
            <a class="btn btn-outline btn-light uppercase letter-spacing" ui-sref="categories-inside({category:params,name:category[1].name})">Know More</a>
          </div> -->
        </div>
      </div>

    </div>
    <div class="banner-inner banner-top-border" ng-if="params == 'Apparel' && (categories.length == ($index+1))">

        <div class="banner-img">
          <a href="">
            <img ng-src="img/promotion/apparelpromo.png" alt="" class="img-responsive">
          </a>
        </div>

      <!-- <div class="text-above">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-6 col-md-6">
              <div class="text-right">
                <h2 class="uppercase">
                  {{category.name}}
                </h2>
                <a class="btn btn-outline btn-light uppercase letter-spacing" ui-sref="categories-inside({category:params,name:category.name})">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  </div>
</section>
