<section>
  <div class="text-center text-uppercase main-head pad-btm-30">
    <h3 class="high-light">Sweatshirts</h3>
    <div class="explore-more-drop">
      <a class="btn btn-outline btn-dark" ng-click="hovered();">Explore More</a>
      <ul class="custom-menu-down" ng-show="hovermenu" ng-mouseleave="unhovered();">
        <li ng-repeat="subcategory in subCategories">
          <a href="#" class="">
              {{subcategory.name}}
            </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="banners">
    <div class="row-flex" ng-repeat="item in products">
      <div class="col-flex" ng-repeat="product in item">
        <div class="banner-inner">
          <div class="">
            <img src="{{product.image | serverimage}}" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above text-center">
              <h2 class="text-uppercase">{{product.name}}</h2>
              <a href="#/categories/sweatshirts/product-detail" class="btn btn-outline btn-light uppercase letter-spacing">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
