<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <tabset>
                    <tab heading="Step 1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="login-form">
                                    <h4 class="login">SIGN IN</h4>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline btn-dark">SIGN IN</button>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="class-forget">
                                            <p>Forgot Password?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="or">OR</p>
                                    <p>SIGN IN VIA</p>
                                    <div class="">
                                        <button class="btn btn-facebook pad-btn">
                                            <i class="fa fa-facebook social-f"></i>
                                        </button>
                                        <button class="btn btn-google pad-btn">
                                            <i class="fa fa-google-plus"></i>
                                        </button>
                                        <button class="btn btn-twitter pad-btn">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-2 col-md-4">
                                <div class="login-form">
                                    <h4 class="login">SIGN UP</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Mobile Number">
                                    </div>
                                    <div class="form-group i-check">
                                        <input type="checkbox">I agree with the terms & conditions and privacy policy
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-outline btn-dark" >REGISTER</button>
                                    <p class="or">OR</p>
                                    <p>SIGN UP VIA</p>
                                    <div class="button-set">
                                        <button class="btn btn-facebook pad-btn">
                                            <i class="fa fa-facebook social-f"></i>
                                        </button>
                                        <button class="btn btn-google pad-btn">
                                            <i class="fa fa-google-plus"></i>
                                        </button>
                                        <button class="btn btn-twitter pad-btn">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                    </div>
                                    <p>Already Registerd? SIGN IN</p>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Step 2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="order-table">
                                    <table class="table">
                                        <thead>
                                            <tr class="text-center">
                                                <th>ITEM</th>
                                                <th>COLOUR</th>
                                                <th>SIZE</th>
                                                <th>QUANTITY</th>
                                                <th>SUBTOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center text-bold">
                                                <td>
                                                    <figure>
                                                        <img src="img/product1.png">
                                                        <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                                    </figure>
                                                </td>
                                                <td>White</td>
                                                <td>m</td>
                                                <td>1</td>
                                                <td>
                                                    <p>699</p>

                                                </td>
                                            </tr>
                                            <tr class="text-center text-bold">
                                                <td>
                                                    <figure>
                                                        <img src="img/product2.png">
                                                        <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                                    </figure>
                                                </td>
                                                <td>White</td>
                                                <td>m</td>
                                                <td>1</td>
                                                <td>
                                                    <p>699</p>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="row">
                                <div class="col-md-offset-8 col-md-4">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="category">
                                                <p>TOTAL:</p>
                                                <p>COUPON:</p>
                                                <p>GRAND TOTAL:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="list ">
                                                <p>1398</p>
                                                <p>0</p>
                                                <p>1399</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-4">
                                            <div class="text-center">
                                                    <button class="btn btn-outline btn-dark">NEXT</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Step 3">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="login">YOUR DETAILS</h4>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="email" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="email" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="email" class="form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="login-form ">
                                    <h4 class="login">BILLING ADDRESS</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Line 1">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Line 2">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Line 3">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="City">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Pin Code">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">State / Country</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Country">
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-offset-2 col-md-3">
                                <div class="login-form">
                                    <h4 class="login">SHIPPING ADDRESS</h4>
                                    <div class="form-group i-check">

                                        <input type="checkbox" name="vehicle" value="Bike" class="iagree">Same as billing address
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Line 1">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Line 2">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Line 3">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="City">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Pin Code">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">State / Country</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Country">
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="login">PAYMENT METHOD</h4>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">

                                    <input type="radio" id="radio01" name="radio" />
                                    <label for="radio01"><span></span>CREDIT CARD</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group radio-cust">
                                    <input type="radio" id="radio02" name="radio" />
                                    <label for="radio02"><span></span>DEBIT CARD</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group radio-cust">
                                    <input type="radio" id="radio03" name="radio" />
                                    <label for="radio03"><span></span>NET BANKING</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group radio-cust">
                                    <input type="radio" id="radio04" name="radio" />
                                    <label for="radio04"><span></span>CASH ON DELIVERY</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <button class="btn btn-outline btn-dark">Continue</button>
                            </div>
                        </div>
                        <div class="row mar-btm">
                            <div class="col-md-6">
                                <div class="payment list">
                                    <p>We Accept:</p>
                                    <ul style="display: inline-block;">
                                        <li><img src="img/visa.png"></li>
                                        <li><img src="img/card.png"></li>
                                        <li><img src="img/meastro.png"></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Step 4">4</tab>
                </tabset>
            </div>
        </div>
    </div>
</section>