<section>
    <div class="text-center main-head">
        <h3 class="high-light text-uppercase">Checkout</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="check-out">
                    <tabset>
                        <tab heading="Step 1">
                            <div class="back-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="login-form">
                                            <h4 class="login">SIGN IN</h4>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-outline btn-dark">SIGN IN</button>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="class-forget">
                                                    <p><a href="">Forgot Password?</a></p>
                                                </div>
                                
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <p class="or">OR</p>
                                            <p class="or">SIGN IN VIA</p>
                                            <div class="social-icon">
                                                <button class="btn btn-facebook pad-btn">
                                                    <i class="fa fa-facebook social-f"></i>
                                                </button>
                                                <button class="btn btn-google pad-btn">
                                                    <i class="fa fa-google-plus"></i>
                                                </button>
                                                <button class="btn btn-twitter pad-btn">
                                                    <i class="fa fa-twitter"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-2 col-md-4">
                                        <div class="login-form">
                                            <h4 class="login">SIGN UP</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Confirm Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control" placeholder="Mobile Number">
                                            </div>
                                            <div class="form-group i-check">
                                              <div class="checkbox">
                                                <input type="checkbox" id="tc">
                                                <label for="tc" class="agree">
                                                  <span></span>
                                                  I agree with the terms &amp; conditions &amp; privacy policy</label>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-outline btn-dark">REGISTER</button>
                                            <div class="mg">
                                                <p class="or">OR</p>
                                                <p class="or">SIGN UP VIA</p>
                                            </div>
                                            <div class="social-icon">
                                                <button class="btn btn-facebook pad-btn">
                                                    <i class="fa fa-facebook social-f"></i>
                                                </button>
                                                <button class="btn btn-google pad-btn">
                                                    <i class="fa fa-google-plus"></i>
                                                </button>
                                                <button class="btn btn-twitter pad-btn">
                                                    <i class="fa fa-twitter"></i>
                                                </button>
                                            </div>
                                            <p class="mg">Already Registerd? SIGN IN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Step 2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="order-table check-out-wish">
                                        <table class="table">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>ITEM</th>
                                                    <th>COLOUR</th>
                                                    <th>SIZE</th>
                                                    <th>QUANTITY</th>
                                                    <th>SUBTOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center text-bold">
                                                    <td>
                                                        <figure>
                                                            <img src="img/product1.png">
                                                            <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                                        </figure>
                                                    </td>
                                                    <td>White</td>
                                                    <td>M</td>
                                                    <td>1<span class="more"><i class="fa fa-plus"></i></span>
                  <span class="more"><i class="fa fa-minus"></i></span></td>
                                                    <td>
                                                        <p>699</p>

                                                    </td>
                                                </tr>
                                                <tr class="text-center ">
                                                    <td>
                                                        <figure>
                                                            <img src="img/product2.png">
                                                            <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                                        </figure>
                                                    </td>
                                                    <td>White</td>
                                                    <td>M</td>
                                                    <td>1<span class="more"><i class="fa fa-plus"></i></span>
                  <span class="more"><i class="fa fa-minus"></i></span></td>
                                                    <td>
                                                        <p>699</p>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="back wish-back">
                                <div class="row">
                                    <div class="col-md-offset-8 col-md-4">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="category">
                                                    <p>TOTAL:</p>
                                                    <p>COUPON:</p>
                                                    <p>GRAND TOTAL:</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="list text-right">
                                                    <p>1398</p>
                                                    <p>0</p>
                                                    <p>1399</p>
                                                </div>
                                            </div>
                                        </div>
                                                <div class="text-center mg">
                                                    <button class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Step 3">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="login">YOUR DETAILS</h4>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="email" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="email" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="email" class="form-control" placeholder="Mobile Number">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="login-form ">
                                        <h4 class="login">BILLING ADDRESS</h4>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Line 1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Line 2">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Line 3">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Pin Code">
                                        </div>
                                        <div class="form-group">
                                            <div class="ccc-select">
                                                <select class="form-control">
                                                    <option value="">State / Country</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Country">
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-offset-2 col-md-4">
                                    <div class="login-form">
                                        <h4 class="login">SHIPPING ADDRESS</h4>
                                        <div class="form-group i-check">
                                          <div class="checkbox">
                                            <input type="checkbox" id="tc1">
                                            <label for="tc1" class="agree">
                                              <span></span>
                                              Same as billing address</label>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Line 1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Line 2">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Line 3">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Pin Code">
                                        </div>
                                        <div class="form-group">
                                            <div class="ccc-select">
                                                <select class="form-control">
                                                    <option value="">State / Country</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Country">
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="login">PAYMENT METHOD</h4>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="radio" id="radio01" name="radio" class="nodis" />
                                        <label for="radio01" class="card"><span></span>CREDIT CARD</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group radio-cust">
                                        <input type="radio" id="radio02" name="radio" class="nodis" />
                                        <label for="radio02" class="card"><span></span>DEBIT CARD</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group radio-cust">
                                        <input type="radio" id="radio03" name="radio" class="nodis" />
                                        <label for="radio03" class="card"><span></span>NET BANKING</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group radio-cust">
                                        <input type="radio" id="radio04" name="radio" class="nodis" />
                                        <label for="radio04" class="card"><span></span>CASH ON DELIVERY</label>
                                    </div>
                                </div>
                            </div>
                            <div class="back-2">
                                <div class="text-center mg30">
                                    <button class="btn btn-outline btn-dark more-pd text-uppercase">Continue</button>
                                </div>
                                <div class="payment list text-center">
                                    <p>We Accept:</p>
                                    <ul class="list-inline">
                                        <li><img src="img/visa.png"></li>
                                        <li><img src="img/card.png"></li>
                                        <li><img src="img/meastro.png"></li>
                                
                                    </ul>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Step 4"></tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</section>
