<section>
    <div class="text-center main-head">
        <h3 class="high-light text-uppercase">Checkout</h3>
    </div>
    <div class="container">
        <div class="alert-postion">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="check-out">
                    <tabset>
                        <tab active="tabs[0].active" disable="tabs[0].disabled" heading="Step 1">
                            <div class="back-1 no-bg">
                                <div class="row">

                                    <div class="col-md-4 col-sm-5">
                                        <div class="login-form">
                                            <h4 class="login">SIGN IN</h4>
                                            <div class="form-group">
                                                <input type="email" ng-model="login.email" class="form-control" ng-class="allvalidation[0].validation" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" ng-model="login.password" class="form-control" ng-class="allvalidation[1].validation" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <button class="btn btn-outline btn-dark" ng-click="doLogin(login)">SIGN IN</button>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="class-forget">
                                                    <p><a href="">Forgot Password?</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <p class="or">OR</p>
                                            <p class="or">SIGN IN VIA</p>
                                            <div class="social-icon">
                                                <button class="btn btn-facebook pad-btn">
                                                    <i class="fa fa-facebook social-f"></i>
                                                </button>
                                                <button class="btn btn-google pad-btn">
                                                    <i class="fa fa-google-plus"></i>
                                                </button>
                                                <button class="btn btn-twitter pad-btn">
                                                    <i class="fa fa-twitter"></i>
                                                </button>
                                            </div>
                                            <p class="or">OR</p>

                                            <div class="col-md-12 text-center">
                                                <div class="form-group i-check">
                                                    <div class="checkbox">
                                                        <input type="checkbox" value="true" ng-model="checkoutGuest" id="tc" ng-change="proceedToCart(checkoutGuest)">
                                                        <label for="tc" class="agree">
                                                            <span></span> Checkout as guest</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-5">
                                        <div class="login-form">
                                            <h4 class="login">SIGN UP</h4>
                                            <div class="form-group">
                                                <input type="text" ng-model="signup.firstname" class="form-control" placeholder="First Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" ng-model="signup.lastname" class="form-control" placeholder="Last Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" ng-model="signup.email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" ng-model="signup.password" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Confirm Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="number" ng-model="signup.mobile" class="form-control" placeholder="Mobile Number">
                                            </div>
                                            <div class="form-group i-check">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="tc">
                                                    <label for="tc" class="agree">
                                                        <span></span> I agree with the terms &amp; conditions &amp; privacy policy</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-outline btn-dark">REGISTER</button>
                                            <div class="mg">
                                                <p class="or">OR</p>
                                                <p class="or">SIGN UP VIA</p>
                                            </div>
                                            <div class="social-icon">
                                                <button class="btn btn-facebook pad-btn">
                                                    <i class="fa fa-facebook social-f"></i>
                                                </button>
                                                <button class="btn btn-google pad-btn">
                                                    <i class="fa fa-google-plus"></i>
                                                </button>
                                                <button class="btn btn-twitter pad-btn">
                                                    <i class="fa fa-twitter"></i>
                                                </button>
                                            </div>
                                            <p class="mg">Already Registerd? <a href="#">SIGN IN</a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab active="tabs[1].active" disable="tabs[1].disabled" heading="Step 2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="order-table check-out-wish">
                                        <table class="table">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>ITEM</th>
                                                    <th>COLOUR</th>
                                                    <th>SIZE</th>
                                                    <th>QUANTITY</th>
                                                    <th>SUBTOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center text-bold" ng-repeat="item in allcart">
                                                    <td>
                                                        <figure>
                                                            <img src="img/product1.png">
                                                            <figcaption>{{item.options.realname}}</figcaption>
                                                        </figure>
                                                    </td>
                                                    <td>{{item.colour}}</td>
                                                    <td>{{item.size}}</td>
                                                    <td>{{item.qty}}
                                                        <span class="more"><i class="fa fa-plus"></i></span>
                                                        <span class="more mgl"><i class="fa fa-minus"></i></span>
                                                    </td>
                                                    <td>
                                                        <p>{{item.price}}</p>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="back wish-back no-bg">
                                <div class="row">
                                    <div class="col-md-offset-8 col-md-4">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="category">
                                                    <p>TOTAL:</p>
                                                    <p>COUPON:</p>
                                                    <p>GRAND TOTAL:</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="list text-right">
                                                    <p>1398</p>
                                                    <p>0</p>
                                                    <p>1399</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mg">
                                            <button ng-click="proceedToDeliveryDetails()" class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab active="tabs[2].active" disable="tabs[2].disabled" heading="Step 3">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="login">YOUR DETAILS</h4>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="text" ng-model="checkout.firstname" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="text" ng-model="checkout.lastname" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="tel" ng-model="checkout.phone" class="form-control" placeholder="Mobile Number">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <input type="email" ng-model="checkout.email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5">
                                    <div class="login-form ">
                                        <h4 class="login">BILLING ADDRESS</h4>
                                        <div class="form-group">
                                            <input type="text" ng-change="sameShipping(checkout)" ng-model="checkout.billingline1" class="form-control" placeholder="Line 1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-change="sameShipping(checkout)" ng-model="checkout.billingline2" class="form-control" placeholder="Line 2">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-change="sameShipping(checkout)" ng-model="checkout.billingline3" class="form-control" placeholder="Line 3">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-change="sameShipping(checkout)" ng-model="checkout.billingcity" class="form-control" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" ng-change="sameShipping(checkout)" ng-model="checkout.billingpincode" class="form-control" placeholder="Pin Code">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-change="sameShipping(checkout)" ng-model="checkout.billingstate" class="form-control" placeholder="State">
                                        </div>
                                        <div class="form-group">

                                            <div class="ccc-select">
                                                <select class="form-control" ng-change="sameShipping(checkout)" ng-model="checkout.billingcountry">
                                                    <option value="">Country</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-5">
                                    <div class="login-form">
                                        <h4 class="login">SHIPPING ADDRESS</h4>
                                        <div class="form-group i-check">
                                            <div class="checkbox">
                                                <input type="checkbox" value="true" ng-model="checkShip" ng-click="shippingCheck(checkShip)" id="tc1">
                                                <label for="tc1" class="agree">
                                                    <span></span> Same as billing address</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-model="checkout.shippingline1" class="form-control" placeholder="Line 1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-model="checkout.shippingline2" class="form-control" placeholder="Line 2">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-model="checkout.shippingline3" class="form-control" placeholder="Line 3">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-model="checkout.shippingcity" class="form-control" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" ng-model="checkout.shippingpincode" class="form-control" placeholder="Pin Code">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" ng-model="checkout.shippingstate" class="form-control" placeholder="State">
                                        </div>
                                        <div class="form-group">

                                            <div class="ccc-select">
                                                <select class="form-control" ng-model="checkout.shippingcountry">
                                                    <option value="">Country</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="login">PAYMENT METHOD</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <div class="radio">
                                            <input type="radio" id="radio01" name="radio" class="nodis" />
                                            <label for="radio01" class="card">
                                                <span></span> CREDIT CARD</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group radio-cust">
                                        <div class="radio">
                                            <input type="radio" id="radio02" name="radio" class="nodis" />
                                            <label for="radio02" class="card">
                                                <span></span> DEBIT CARD</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group radio-cust">
                                        <div class="radio">
                                            <input type="radio" id="radio03" name="radio" class="nodis" />
                                            <label for="radio03" class="card">
                                                <span></span> NET BANKING</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group radio-cust">
                                        <div class="radio">
                                            <input type="radio" id="radio04" name="radio" class="nodis" />
                                            <label for="radio04" class="card">
                                                <span></span> CASH ON DELIVERY</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="back-2 no-bg">
                                <div class="text-center mg30">
                                    <button class="btn btn-outline btn-dark more-pd text-uppercase" ng-click="placeOrder()">Continue</button>
                                </div>
                                <div class="payment list text-center">
                                    <p>We Accept:</p>
                                    <ul class="list-inline">
                                        <li>
                                            <img src="img/visa.png">
                                        </li>
                                        <li>
                                            <img src="img/card.png">
                                        </li>
                                        <li>
                                            <img src="img/meastro.png">
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </tab>
                        <tab active="tabs[3].active" disable="tabs[3].disabled" heading="Step 4">
                            <div class="min-height">
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</section>