<div class="custom-direct">
  <div class="container">
    <section>
      <h3 class="high-light text-center">WHAT WOULD YOU LIKE
        <br> TO CUSTOMIZE
      </h3>
      <div class="space-flex">
        <div class="row-flex">
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center flex-pad">
                <div class="img-holder-custom">
                  <img src="img/custom/bat.png" alt="" class="img-responsive unhover-img">
                  <img src="img/custom/bat-hover.png" alt="" class="img-responsive hover-img">
                </div>
                <div class="category">Bats</div>
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center flex-pad">
                <div class="img-holder-custom">
                  <img src="img/custom/ball.png" alt="" class="img-responsive unhover-img">
                  <img src="img/custom/ball-hover.png" alt="" class="img-responsive hover-img">
                </div>
                <div class="category"> Balls </div>
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center flex-pad">
                <div class="img-holder-custom">
                  <img src="img/custom/gloves.png" alt="" class="img-responsive unhover-img">
                  <img src="img/custom/gloves-hover.png" alt="" class="img-responsive hover-img">
                </div>
                <div class="category">HAND GLOVES</div>
              </div>
          </div>
          </a>
        </div>
        <div class="row-flex">
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center flex-pad">
                <div class="img-holder-custom">
                  <img src="img/custom/pads.png" alt="" class="img-responsive unhover-img">
                  <img src="img/custom/pads-hover.png" alt="" class="img-responsive hover-img">
                </div>
                <div class="category"> LEG GUARDS</div>
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center flex-pad">
                <div class="img-holder-custom">
                  <img src="img/custom/bags.png" alt="" class="img-responsive unhover-img">
                  <img src="img/custom/bags-hover.png" alt="" class="img-responsive hover-img">
                </div>
                <div class="category"> KIT BAGS</div>
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center flex-pad">
                <div class="img-holder-custom">
                  <img src="img/custom/appearals.png" alt="" class="img-responsive unhover-img">
                  <img src="img/custom/appearals-hover.png" alt="" class="img-responsive hover-img">
                </div>
                <div class="category">APPARELS</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
