<div class="custom-direct">
  <div class="container">
    <section>
      <div class="strong grey-bg space-flex">
        <div class="row-flex" ng-repeat="category in categories">
          <!-- <div class="col-flex" ng-repeat="cat in category">
            <a ui-sref="categories({name:cat.name})">
              <div class="line-hover letter-spacing">{{cat.name}}</div>
            </a>
          </div> -->
          <div class="col-flex">
           <a href="#/custom">
             <img src="img/" alt="">
             <div class="line-hover letter-spacing">{{cat.name}}</div>
           </a>
         </div>
        </div>
      </div>
    </section>
  </div>
</div>
