<section>
  <div class="text-center">
    <h3 class="high-light main-head">CUSTOMISE YOUR T-SHIRT</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="step">
        <ul>
          <li class="tab-item breadcrums {{classa}}" ng-click="tabchange('design',1)">
            <span class="bread-frnt"></span>
            <p>1. DESIGN</p>
            <span class="bread-back"></span>
          </li>
          <li class="tab-item breadcrums {{classb}}" ng-click="tabchange('trim',2)">
            <span class="bread-frnt"></span>
            <p>2. TRIM</p>
            <span class="bread-back"></span>
          </li>
          <li class="tab-item breadcrums {{classc}}" ng-click="tabchange('team',3)">
            <span class="bread-frnt"></span>
            <p>3. TEAM LOGO</p>
            <span class="bread-back"></span>
          </li>
          <li class="tab-item breadcrums {{classd}}" ng-click="tabchange('logo',4)">
            <span class="bread-frnt"></span>
            <p>4. SPONSOR LOGOS</p>
            <span class="bread-back"></span>
          </li>
          <li class="tab-item breadcrums {{classe}}" ng-click="tabchange('quantity',5)">
            <span class="bread-frnt"></span>
            <p>5. QUANTITY</p>
            <span class="bread-back"></span>
          </li>
        </ul>
      </div>

    </div>
    <div class="product-detail">
      <div class="row">
        <div class="col-md-5">
          <div class="text-center">
            <div class="custom-img">
              <img src="img/custom/c1.jpg" class="img-responsive">
            </div>
            <div class="vertical-icon">
              <img src="img/zoom.jpg">
            </div>
            <div class="horizontal-icon">
              <img src="img/left.jpg">
              <p>ROTATE</p>
              <img src="img/right.jpg">
            </div>
            <div class="edit-btn margbotm">
              <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN & EDIT LATER</button>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="det-name">
            <h4>PLAYING T-SHIRTS</h4>
            <h3><i class="fa fa-inr"></i>995</h3>
          </div>
          <!--                    // design tab-->
          <div class="choos" ng-show="tab=='design'">
            <p>Choose Your Type Of Design</p>
            <div class="row">
              <div class="col-md-10">
                <div class="col-md-4 paddingl" ng-repeat="img in images track by $index">
                  <div class="cat-img">
                    <img ng-src="{{img.src}}" class="img-responsive">
                  </div>
                </div>

              </div>
            </div>
            <div class="edit-btn ">
              <button class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
            </div>
          </div>


          <!--                    //trim tab-->
          <div class="choos" ng-show="tab=='trim'">
            <p>Select The Trim Colour Of Your Choice</p>
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-3 paddingl" ng-repeat="col in color track by $index">
                  <div class="colo-pallet text-center ">
                    <div class="noti-img" ng-style="{'background-color':'{{col.colr}}'}"></div>
                  </div>
                </div>

              </div>
            </div>
            <div class="edit-btn margintp">
              <button class="btn btn-outline btn-dark padding-btn letter-spacing mright15">BACK</button>
              <button  class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
            </div>
          </div>
          <!--                    //trim tab-->
          <div class="choos" ng-show="tab=='team'">
            <p>Upload Your Team Logo</p>
            <div class="pic-up">
              <p>File Type Format</p>
              <span>jpeg, png, tiff, pdf, eps</span>
            </div>
            <!--
                        <div class="up-img">
                            <img src="img/custom/c4.jpg">
                            <div class="edit-btn">
                                <button href="" class="btn btn-outline btn-dark">CHANGE</button>
                                <br>
                                <button href="" class="btn btn-outline btn-dark">REMOVE</button>
                            </div>
                        </div>
-->
            <div class="pic-up">
              <p>Maximum Upload File Size 5MB</p>
              <span>File may take anywhere from a few seconds to a few minutes to upload</span>

            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="up-img text-center">
                  <!--                            <img src="img/custom/c4.jpg">-->
                  <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                  <div class="edit-btn">
                    <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>
                    <br>
                    <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                  </div>
                </div>
              </div>
            </div>


            <!--
                        <div class="up-btn">
                            <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing" data-toggle="modal" data-target="#myModal">UPLOAD</button>
                        </div>
-->
            <div class="print-typ">
              <p>Select The Printing Type For Your Team Logo</p>
              <form action="" class="radio">
                <input type="radio" id="radio1" name="radio" />
                <label for="radio1">
                  <span></span>
                  Embroidered</label>
                <br>
                <input type="radio" id="radio2" name="radio" />
                <label for="radio2">
                  <span></span>
                  Sublimated</label>
              </form>
              <span class="pbotom">Note: The printed CCC Logo will always be sublimated on your t-shirt</span>
            </div>
            <div class="edit-btn">
              <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing mright15">BACK</button>
              <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
            </div>
            <!-- Modal -->
            <div class="modal fade custom" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body text-center">
                    <div class="mod-img ">

                      <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing">SUBMIT</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--                    //logo tab-->
          <div class="choos" ng-show="tab=='logo'">
            <p>Upload Your Team Logo</p>
            <div class="pic-up">
              <p>File Type Format</p>
              <span>jpeg, png, tiff, pdf, eps</span>
            </div>
            <div class="pic-up">
              <p>Maximum Upload File Size 5MB</p>
              <span>File may take anywhere from a few seconds to a few minutes to upload</span>

            </div>

            <!--
                        <div class="grp1">
                            <div class="row">
                                <div class="col-md-3">
                                <div class="up-img text-center bright">

                                    <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                                    <div class="edit-btn">
                                        <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>
                                        <br>
                                        <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="sp-logo">


                                        <button href="" class="btn btn-outline btn-dark" data-toggle="modal" data-target="#myModal1">BACK SPONSOR</button>

                                        <button href="" class="btn btn-outline btn-dark mall10" data-toggle="modal" data-target="#myModal1">LEFT SLEEVE SPONSOR</button>
                                        <br>
                                        <button href="" class="btn btn-outline btn-dark" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
-->


            <!--
                        <div class="grp2">
                            <div class="row">
                                <div class="col-md-3 bright">
                                    <div class="up-img text-center ">

                                        <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="up-img text-center">

                                        <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-logo mar30">
                                <button href="" class="btn btn-outline btn-dark mright15" data-toggle="modal" data-target="#myModal1">LEFT SLEEVE SPONSOR</button>

                                <button href="" class="btn btn-outline btn-dark" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>
                            </div>
                        </div>
-->


            <!--
                        <div class="grp3">
                            <div class="row">
                                <div class="col-md-3 bright">
                                    <div class="up-img text-center ">

                                        <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 bright">
                                    <div class="up-img text-center ">

                                        <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="up-img text-center ">

                                        <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="sp-logo mar30">
                                        <button href="" class="btn btn-outline btn-dark" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
-->


            <div class="grp4">
              <div class="row">
                <div class="col-md-3 bright">
                  <div class="up-img text-center ">

                    <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                    <div class="edit-btn">
                      <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>

                      <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 bright">
                  <div class="up-img text-center ">

                    <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                    <div class="edit-btn">
                      <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>

                      <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 bright">
                  <div class="up-img text-center ">

                    <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                    <div class="edit-btn">
                      <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>

                      <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="up-img text-center ">

                    <div class="noti-imgs1" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                    <div class="edit-btn">
                      <button href="" class="btn btn-outline btn-dark letter-spacing marg10">CHANGE</button>

                      <button href="" class="btn btn-outline btn-dark letter-spacing">REMOVE</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <!--
                        <div class="sp-logo">
                            <button href="" class="btn btn-outline btn-dark mright15" data-toggle="modal" data-target="#myModal1">MAIN SPONSOR</button>

                            <button href="" class="btn btn-outline btn-dark " data-toggle="modal" data-target="#myModal1">BACK SPONSOR</button>
                            <br>
                            <button href="" class="btn btn-outline btn-dark mall10" data-toggle="modal" data-target="#myModal1">LEFT SLEEVE SPONSOR</button>
                            <br>
                            <button href="" class="btn btn-outline btn-dark" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>
                        </div>
-->

            <div class="print-typ">

              <span class="pbotom">Note: The printed CCC Logo will always be sublimated on your t-shirt</span>
            </div>
            <div class="edit-btn">
              <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing">BACK</button>
              <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
            </div>
            <!-- Modal -->
            <div class="modal fade custom" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body text-center">
                    <div class="mod-img ">

                      <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing">SUBMIT</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="choos" ng-show="tab=='quantity'">
            <p>Place Your Order</p>
            <div class="row">
              <div class="col-md-2">
                <div class="size text-center">
                  <p>M</p>
                  <div class="ccc-select">
                    <select>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="size text-center">
                  <p>S</p>
                  <div class="ccc-select">
                    <select>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="size text-center">
                  <p>M</p>
                  <div class="ccc-select">
                    <select>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="size text-center">
                  <p>L</p>
                  <div class="ccc-select">
                    <select>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="size text-center">
                  <p>XL</p>
                  <div class="ccc-select">
                    <select>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="size text-center">
                  <p>XXL</p>
                  <div class="ccc-select">
                    <select>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart mar15">
              <p>view:
                <span data-toggle="modal" data-target="#myModal4">Size Chart</span>
              </p>
            </div>
            <!-- Modal -->
            <div class="modal fade custom" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body text-center">
                    <p>SIZE CHART</p>
                    <div class="mod-img ">
                      <img src="img/sizechart.jpg" class="img-responsive">

                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="edit-btn">
              <button href="" class="btn btn-outline btn-dark mright15 padding-btn letter-spacing">START OVER</button>
              <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing" data-toggle="modal" data-target="#myModal5">CONFIRM</button>
              <br>
              <button href="" class="btn btn-outline btn-dark mar30 padding-btn letter-spacing">BACK</button>
            </div>
            <!-- Modal -->
            <div class="modal fade custom" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                  <div class="modal-body text-center">
                    <p class="p">The order for your customised t-shirt has been successfully registered. Kindly e-mail us the list of names, numbers and associated sizes for your t-shirts at info@customcricketcompany.com</p>
                    <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing mar15">CLICK HERE TO EMAIL</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
</section>
