<div class="custom-direct">
  <div class="container">
    <section>
      <h3 class="high-light text-center">WHAT WOULD YOU LIKE <br>
TO CUSTOMIZE</h3>
      <div class="space-flex">
        <div class="row-flex">
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center">
                <img src="img/custom/bat.png" alt=""> Bats
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center">
                <img src="img/custom/ball.png" alt=""> Ball
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center">
                <img src="img/custom/gloves.png" alt="">
                <p> HAND GLOVES
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="row-flex">
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center">
                <img src="img/custom/pads.png" alt=""> LEG GUARDS
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center">
                <img src="img/custom/bags.png" alt=""> KIT BAGS
              </div>
            </a>
          </div>
          <div class="col-flex">
            <a href="#/custom">
              <div class="line-hover letter-spacing grey-bg text-center">
                <img src="img/custom/appearals.png" alt=""> APPARELS
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
