<div class="service-main">
  <div class="service-heading">
    <div class="container">
      <div class="service-title">
        <!-- <h2 class="text-uppercase high-light text-center">Services</h2> -->
      </div>
      <div class="service-menu text-center">
        <ul>
          <li>
            <a href="#advancedcutomization" ng-class="{{active}}" ng-click="changeURL('clientexamples')"  du-smooth-scroll du-scrollspy>CLIENT EXAMPLES</a>
          </li>
          <li>
            <a href="#customapparel" ng-class="{{active}}" ng-click="changeURL('press')"  du-smooth-scroll du-scrollspy>PRESS</a>
          </li>
          <li>
            <a href="#ccclounge" ng-class="{{active}}" ng-click="changeURL('testimonials')"  du-smooth-scroll du-scrollspy>TESTIMONIALS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section class="advnc-customise service-bg" id="clientexamples">
    <div class="service-pd">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="customize-main">
              <h2 class="title text-uppercase">CLIENT EXAMPLES</h2>
              <div class="descp text-justify text-bold">
                <p>Have a look at some of the work we've done for teams across the globe ranging from customized apparel, kit bags, pads, gloves and even team balls.</p>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="customize-slider service-slider white-direction">
              <flex-slider class="carousel" flex-slide="src in examples track by $index" animation="slide" control-nav="false">
                <li>
                  <div class="tshirt-custmoize">
                    <img alt="Custom Cricket Company" class="img-responsive" ng-src="{{src}}">
                  </div>
                </li>
              </flex-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tours testimonials-bg" id="testimonials">
    <div class="bg-blurlightblack service-pd">
      <div class="container">
        <div class="tour-detail">
          <h2 class="title text-uppercase text-center">Testimonials</h2>
          <div class="match-detail">
            <div class="in-bound bound">
              <h4 class="text-bold">In-Bound (India)</h4>
              <h4 class="text-bold">Mumbai | Udaipur (Rajasthan) | Kathiwada (Madhya Pradesh).</h4>
              <p class="descp text-justify">Come to incredible India for a fine cricket experience; be it in-stadia to watch the IPL and other international fixtures or even bring your team to play a series spanning three states, we can arrange it all. Custom Cricket Company founders have had a wealth of experience in sports hospitality prior to launching the e-commerce products portal and excel to provide you the full customer experience just the way we did it. Curate your personal tour with us – we’ve done it and we’re just a phone call away!</p>
              <p class="descp text-justify">Play matches at famous city maidaans of Mumbai, the capital cricket city of India and enjoy full treats the metro has to offer with our friendly ground team to show you around. Visit principalities and stay in palaces of Udaipur and Kathiwada for a full royal experience where you can indulge in rural life to capture the true essence of India with fixtures at their most exquisite cricket grounds.</p>
            </div>
            <div class="out-bound bound">
              <h4 class="text-bold">Out-Bound</h4>
              <div class="descp text-justify">
                <p>We bring you unbeatable prices and a fine experience (tested and tried) from some of the world’s best sporting and tour agencies. We cover UAE, Sri Lanka and UK where you can fulfill childhood dreams of having fixtures at world-class grounds and international stadiums.</p>
                <p>Combined with our ground staff, ticket partners, hotel &amp; travel agencies and event managers we handle turnkey tours so you needn’t lift a finger. For typical tour itineraries, budgets and detailed possibilities please write to us at <a style="text-decoration:underline; color: #fff;" href="mailto:umpire@customcricketcompany.com">umpire@customcricketcompany.com</a> or call us anytime.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tours black-bg" id="press">
    <div class="bg-blurlightblack service-pd">
      <div class="container">
        <div class="tour-detail">
          <h2 class="title text-uppercase text-center">tours</h2>
          <div class="match-detail">
            <div class="in-bound bound">
              <h4 class="text-bold">In-Bound (India)</h4>
              <h4 class="text-bold">Mumbai | Udaipur (Rajasthan) | Kathiwada (Madhya Pradesh).</h4>
              <p class="descp text-justify">Come to incredible India for a fine cricket experience; be it in-stadia to watch the IPL and other international fixtures or even bring your team to play a series spanning three states, we can arrange it all. Custom Cricket Company founders have had a wealth of experience in sports hospitality prior to launching the e-commerce products portal and excel to provide you the full customer experience just the way we did it. Curate your personal tour with us – we’ve done it and we’re just a phone call away!</p>
              <p class="descp text-justify">Play matches at famous city maidaans of Mumbai, the capital cricket city of India and enjoy full treats the metro has to offer with our friendly ground team to show you around. Visit principalities and stay in palaces of Udaipur and Kathiwada for a full royal experience where you can indulge in rural life to capture the true essence of India with fixtures at their most exquisite cricket grounds.</p>
            </div>
            <div class="out-bound bound">
              <h4 class="text-bold">Out-Bound</h4>
              <div class="descp text-justify">
                <p>We bring you unbeatable prices and a fine experience (tested and tried) from some of the world’s best sporting and tour agencies. We cover UAE, Sri Lanka and UK where you can fulfill childhood dreams of having fixtures at world-class grounds and international stadiums.</p>
                <p>Combined with our ground staff, ticket partners, hotel & travel agencies and event managers we handle turnkey tours so you needn’t lift a finger. For typical tour itineraries, budgets and detailed possibilities please write to us at <a style="text-decoration:underline; color: #fff;" href="mailto:umpire@customcricketcompany.com">umpire@customcricketcompany.com</a> or call us anytime.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
