<section>
	<div class="banner tnc">
		<h3 class="text-uppercase text-center high-light">FAQs</h3>
	</div>
	<div class="container">
		<div class="privacy-info">
			<h4>1. How long will my order take?</h4>
			<p>Team-wear orders are currently being shipped in 3-4 weeks from time of confirmation of order & advance payment. A 8-10
				day delivery service is the norm via our trusted logistics partners (FEDEX/DHL). If there are any issues that will lead
				to significant delays we will contact you to let you know. All shipments are given a tracking number which will be emailed
				to you when your order is shipped.</p>
			<h4>2. What if I need my items by a specific date?</h4>
			<p>If you require items by a specific date please contact us before placing an order to ensure your request can be met in
				your timeframe. If you have already placed an order, please contact us with your request and one of our specialists will
				attend to you.</p>
			<h4>3. How can I track the progress of my order?</h4>
			<p>Your account manager will email you periodically to update you about the status of your order such as sent to production,
				in production, in quality check, at despatch, after despatch with a tracking code, status of payments etc.</p>
			<h4>4. How can I add a different style or colour of shirt to my order (e.g. for our goal keeper)?</h4>
			<p>Our specialists and your account manager is always available to you for such requests. Feel free to inform them about
				it and your order form will be created with all such details.</p>
			<h4>5. What techniques are used to make / print these garments?</h4>
			<p>The beauty about Conqvest products are that they come to you directly from the factory floor. Thus giving you the fastest
				and best service but also the best possible price on your clothing. We have sublimation machines for print, embroidery
				machines for your logo stitching and screen print machines for the finer touches. Of course all our designers and tailors
				are constantly working to improve techniques to make our garments more unique and a class apart.</p>
			<h4>6. How do I select the correct size for my garment?</h4>
			<p>Sizes listed in the size charts on our website will give you all the details for our products. However, if you prefer
				we work off your size chart that is easy too. We are a bespoke made to order company so your wish is our command.  To
				check sizes, take an existing shirt that fits you, lay it flat on a table & measure the dimensions.  Sizes available
				and physical measurements for all garments are listed on the Product Sizes page.</p>
			<h4>7. How can I place my order?</h4>
			<p>To place an order, simply follow our step-by-step online design process and proceed through to our secure online checkout.
				Fast, easy and convenient! Or let our specialist pamper you thru the process and we’ll do the rest.
			</p>
			<h4>8. What customisation options are available for my garment?</h4>
			<p>Using our online design system you can add individual names, numbers, custom text and logos to any of the large range of high quality sports shirts offered by us.</p>
			<h4>9. Can I upload my own logo?</h4>
			<p>Yes. The Conqvest online design system offers the opportunity to upload your own logo and do much more. Please remember to upload a high quality logo to ensure the best printing results.</p>
			<h4>10. How can I pay for my order?</h4>
			<p>Conqvest offers customers the option to pay via credit card, direct bank deposit, cheque or Paypal.</p>
			<h4>11. How much will shipping cost?</h4>
			<p>Shipping costs depend on the size of the order. The shipping cost for your order is displayed at time of checkout using our shipping calculator prior to making payment. Alternately you may submit your order without payment and we can process the shipping cost and payment options for you via email.</p>
		
			<h4>12. How can I contact Conqvest to discuss my order?</h4>
			<p>To speak to a specialist regarding your order please see our Contact Us section and use any available methods to connect with us.</p>
			<h4>13. Can I get a discount on my order?</h4>
			<p>Yes. Larger orders may be subject to discounting and / or other options but do contact us to find out more.</p>
			<h4>14. How should I care for my garment?</h4>
			<p>Washing instructions on the tag are provided on your garment, but in general: Cold machine wash is suitable. Wash dark colours separately. Do not tumble-dry. Warm Iron. Do not iron decoration. Do not dry clean.</p>
			<h4>15. What is your policy on returns?</h4>
			<p>If for some reason there is a manufacturing defect with your product, please return your item for exchange, refund or credit. All returns must be made within 14 days of receiving your order. Returned items must be in the original condition that you received them. In order for us to process your return, please include the original receipt with your name, email address and order number along with the items that you are returning. Please note, we cannot accept custom orders for return where customers have selected incorrect sizes or have entered incorrect print details. If we are at fault for any incorrect printing we will send you a replacement item as soon as it is brought to our attention.</p>
			<h4>16. Do you store customer credit card information?</h4>
			<p>No. Conqvest does not store credit card information and will not share your personal data. See our <a ui-sref="privacypolicy">Privacy Policy.</a></p>
		</div>
	</div>
</section>