<section class="final-shirt">
    <div class="text-center main-head">
      <h3 class="high-light">REVIEW YOUR FINAL ORDER</h3>
    </div>
    <div class="container">
      <div class="product-detail border-grey">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="text-center">
              <div class="gully-shirt">
                <img src="img/orangeshirt.png" class="img-responsive" alt="">
              </div>
              <div class="prev inline-block">
                <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">back</p>
              </div>
              <div class="next inline-block">
              <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">front</p>
              </div>
              <div class="feature-buttons">
                  <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">FORM + FUNCTION</button>
                  <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">DELIVERY</button>
                  <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">CARE</button>
              </div>
              <ul class="tshirt-features">
                <li>It features the Custom Cricket Company logo on the right chest</li>
                <li>100% polyester dri-fit</li>
                <li>180 GSM in weight</li>
                <li>Ribbed polo collar with 3-button placket</li>
                <li>Tested and fitted for optimum performance for all playing conditions</li>
              </ul>

            </div>
          </div>
          <div class="col-md-7  col-sm-7 col-xs-12">
            <div class="det-name">
              <h4 class="sum">SUMMARY</h4>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design text-right">
                    <p class="dark uppercase">Design :</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design">
                    <p class="uppercase">gully</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design text-right">
                    <p class="dark ">Trim :</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design">
                      <button class="but-outline btn btn-outline btn-dark uppercase padding-btn letter-spacing mright15 mb5">highlight1</button>
                        <button class="but-outline btn btn-outline btn-dark uppercase padding-btn letter-spacing mright15 mb5">highlight2</button>
                          <button class=" but-outline btn btn-outline btn-dark uppercase pad-btn letter-spacing mright15 mb5">pallete</button>
                            <button class=" but-outline btn btn-outline btn-dark uppercase padd-btn letter-spacing mright15 mb5">collar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg28">Team Logo :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="design">
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg28">Sponsor Logos :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="design">
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg10">Order Quantity :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                      <div class="design text-center">
                        <p>S</p>
                        <input type="text" class="form-control" placeholder="20">
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                      <div class="design text-center">
                        <p>M</p>
                        <input type="text" class="form-control" placeholder="40">
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                      <div class="design text-center">
                        <p>XL</p>
                        <input type="text" class="form-control" placeholder="60">
                      </div>
                    </div>
                    <div class="col-md-offset-2 col-md-4 col-sm-3 col-xs-12">
                      <div class="design text-center">
                        <p class="text-center">TOTAL</p>
                        <input type="text" class="form-control" placeholder="110">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="choos">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p class="text-right">Price:</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p class="text-left"><i class="fa fa-inr"></i> 35000</p>
                </div>
              </div>
            </div>
            <div class="comment-section">
              <div class="form-group">
          <textarea class="form-control" rows="6" placeholder="Comments"></textarea>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  <section class="final-pant">
    <a href="" ng-click="$dismiss();" class="mrt text-up pull-right mr10"><img src="img/cr.png" class="img-responsive" alt=""></a>
    <div class="margin-bottom">
      <div class="container">
        <div class="product-detail">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
              <div class="text-center">
                <div class="gully-pant">
                  <img src="img/pant-copy.png" class="img-responsive" alt="">
                </div>
                <div class="prev inline-block">
                  <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">back</p>
                </div>
                <div class="next inline-block">
                <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">front</p>
                </div>
                <div class="feature-buttons">
                    <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">FORM + FUNCTION</button>
                    <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">DELIVERY</button>
                    <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">CARE</button>
                </div>
                <ul class="tshirt-features">
                  <li>It features the Custom Cricket Company logo on the right chest</li>
                  <li>100% polyester dri-fit</li>
                  <li>180 GSM in weight</li>
                  <li>Ribbed polo collar with 3-button placket</li>
                  <li>Tested and fitted for optimum performance for all playing conditions</li>
                </ul>

              </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <div class="review">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="design text-right">
                      <p class="dark uppercase">Design :</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="design">
                      <p class="uppercase">gully</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="review">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="design text-right">
                      <p class="dark mg10">Order Quantity :</p>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                        <div class="design text-center">
                          <p>S</p>
                          <input type="text" class="form-control" placeholder="20">
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                        <div class="design text-center">
                          <p>M</p>
                          <input type="text" class="form-control" placeholder="40">
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                        <div class="design text-center">
                          <p>XL</p>
                          <input type="text" class="form-control" placeholder="60">
                        </div>
                      </div>
                      <div class="col-md-offset-2 col-md-4 col-sm-3 col-xs-12">
                        <div class="design text-center">
                          <p class="text-center">TOTAL</p>
                          <input type="text" class="form-control" placeholder="110">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="choos">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                      <p class="text-right">Price:</p>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                      <p class="text-left"><i class="fa fa-inr"></i> 35000</p>
                  </div>
                </div>
              </div>
              <div class="together">
                <div class="choos">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p>Total Price:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p><i class="fa fa-inr"></i> 70000</p>
                    </div>
                  </div>
                </div>
                <div class="agree">
                  <form action="" method="get">
                    <div class="agree checkbox">
                      <input type="checkbox" id="agree">
                      <label for="agree" class="agree">
                        <span></span>
                        I agree this is my final order
                        <label>
                    </div>
                </div>
                <div class="final-button">
                  <button class="btn mall10 btn-outline block btn-dark  padding-btn letter-spacing">add to cart</button>
                </div>
                <div class="comments-section">
                  <div class="form-group">
              <textarea class="form-control" rows="6" placeholder="Comments"></textarea>
              </div>
                </div>
                <div class="middle">
                  <button class="btn btn-outline block btn-dark  padding-btn letter-spacing">save and share design</button>
                  </div>
                <!-- <div class="print-typ">
                    <div class="pbotom">
                        <span class="block">Notes :</span>
                        <span class="block">1. The logo of your sponsors will be sublimated. </span>
                        <span class="block">2. The logo on the sleeves are not cut in half. It’s just to provide realistic feel.</span>
                        <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                        <span><a href="">Click here</a> to find out how?</span>
                    </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
