<div class="tabs-login min-height">
   <div class="alert-postion">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
        </div>
    <div class="modal-body">
        <!--   Forgot password   -->
        <div class="holder1">
            <div class="signup">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <h3>Forgot password</h3>
                        <div class="login-form">
                            <div class="form-group">
                                <input type="email" ng-model="forgotpassword.email" class="form-control" placeholder="Please Enter Your Email">
                            </div>
                        </div>
                        <div class="">
                            <a href="" class="btn btn-outline btn-dark active" ng-click="sendEmail(forgotpassword)">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>