<div class="tabs-login min-height">
  <div class="banner">
    <img src="img/page-banner/forgot.jpg" alt="Forgot Password" class="m-center img-responsive">
  </div>
  <div class="alert-postion">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" class="text-center" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
  </div>
  <div class="modal-body">
    <!--   Forgot password   -->
    <div class="container">
      <div class="holder1">
        <div class="signup">
          <div class="row">
            <div class="col-md-5">
              <!-- <h3>Forgot password</h3> -->
              <div class="login-form">
                <div class="form-group">
                  <label for="pswd" class="text-uppercase letter-spacing">Enter New Password</label>
                  <input type="password" ng-model="resetpassword.newpassword" class="form-control" placeholder="" id="pswd">
                </div>
                <div class="form-group">
                  <label for="nwpswd" class="text-uppercase letter-spacing">Re-type Password</label>
                  <input type="password" ng-model="resetpassword.confirmpassword" class="form-control" placeholder="" id="nwpswd">
                </div>
              </div>
              <div class="">
                <a class="btn btn-outline letter-spacing btn-dark active" ng-click="resetPassword()">Submit</a>
              </div>
            </div>
          </div>
        </diV>
      </div>
    </div>
  </div>
</div>
