<div class="tabs-login min-height">
<div class="alert-postion">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" class="text-center" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
        </div>
     <div class="modal-body">
    <!--   Forgot password   -->
    <div class="holder1">
      <div class="signup">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <h3>Forgot password</h3>
            <div class="login-form">
              <div class="form-group">
                <input type="password" ng-model="resetpassword.newpassword" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" ng-model="resetpassword.confirmpassword" class="form-control" placeholder="Confirm Password">
              </div>
            </div>
            <div class="">
              <a class="btn btn-outline btn-dark active" ng-click="resetPassword()">Continue</a>
            </div>
          </div>
        </div>
      </diV>
    </div>
  </div>
</div>
