<section>
    <div class="text-center">
        <h3 class="high-light main-head">CUSTOMISE YOUR GLOVES</h3>
    </div>
    <div class="container">
        <div ng-include="'views/directive/customHeader.html'"></div>
        <div class="product-detail">
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center">

                        <custom design="glovesJson" class="{{borderClass}}" ng-if="glovesJson">
                        </custom>
                        <div class="gloves-logo" ng-if="glovesLogo.image" ng-style="glovesLogo.divattributes">
                            <img ng-src="{{glovesLogo.image | serverimage}}" alt="" ng-style="glovesLogo.attributes">
                            <!--{{glovesLogo.divattributes}}-->
                        </div>
                        <div class="prev inline-block" style="display:none">
                            <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">back </p>
                        </div>
                        <div class="next inline-block" style="display:none">
                            <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">front</p>
                        </div>
                        <!-- </div> -->
                        <div class="feature-buttons">
                            <button class="btn border-left btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 1}"
                                ng-click="toggleTab(1)">FORM + FUNCTION</button>
                            <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 2}"
                                ng-click="toggleTab(2)">DELIVERY</button>
                            <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 3}"
                                ng-click="toggleTab(3)">CARE</button>
                        </div>
                        <ul class="tshirt-features" ng-if="activeButton == 1">
                            <li>Lightweight high-density foam finger with thermoplastic polyurethane inserts</li>
                            <li>Split thumb and three-piece sidebars on lead hand</li>
                            <li>Leather tabs on fingertips, leather tip on thumb of both hands with extra leather patch on hard-wearing
                                areas of the palm</li>
                            <li>Polyurethane embossed knuckles</li>
                            <li>Toweled wristband with embossed velcro for perfect fit</li>
                            <li>Nylon gusset for ventilation to keep your hands feeling fresh even on the hottest days</li>
                            <li>Perforation in palm fingers for maximum air flow</li>
                        </ul>
                        <ul class="tshirt-features" ng-if="activeButton == 2">
                            <li>In-stock gloves are shipped immediately. Customisation delivery worldwide takes 3-4 weeks from date of order.</li>
                        </ul>
                        <ul class="tshirt-features" ng-if="activeButton == 3">
                            <li>We recommend washing in cold water with powder detergent</li>
                            <li>Do not wash with other coloured clothes to avoid bleeding and run-off</li>
                            <li>Avoid drying machines which can weaken the fabric's effectiveness</li>
                            <li>Steam iron preferably</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="det-name">
                        <!--<h4>SWITCH</h4>-->
                        <h4 class="text-capitalize">{{glovesJson.design.name}}</h4>
                        <!--<p>The Custom Cricket company cricket gloves is made from wicking fabric that lifts moisture from your body. Tested and built to perform in warm and cold climate conditions. It features the Custom Cricket company on the right chest.</p>-->
                        <h3>{{glovesJson.design | currencyFilter}}</h3>
                        <span class="Raleway-Medium"><em>Minimum Total Quantity (MTQ) = 12 pairs of each design</em></span>
                    </div>
                    <!-- // design tab-->

                    <div class="choos m20-l" ng-show="tab=='design'">
                        <p>Choose Your Type Of Design</p>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="col-md-4 col-xs-6 paddingl" ng-repeat="img in myArr track by $index">
                                    <!--<div class="cat-img" ng-click="selectDesign(img)">-->
                                    <div class="cat-img" ng-class="{'active':myDesignID == $index }" ng-click="openDesign($index, 1,img);designTabJson(img.id)">
                                        <img ng-src="{{img.img[0]}}" class="img-responsive">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <!--<button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN &amp; EDIT LATER</button>-->
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('trim', 2); openTab('b');">NEXT</button>
                        </div>
                        <!--<div class="customize-design">
                            <span>Learn How To Customise Your Design By </span>
                            <a href="" ng-click="outplace();" class="text-bold">Clicking Here</a>
                        </div>-->
                          <div class="customize-design">
                            <ul>
                                <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span>                                    to know more about customization tools.</li>
                                <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads attract
                                    a nominal one-time customization fees).</li>
                                <li>Colours are Subject to availabiltiy.</li>
                            </ul>
                        </div>
                    </div>


                    <!--  //trim tab-->
                    <div class="choos m20-l " ng-show="tab=='trim'">
                        <div class="outline choos">
                            <!--<p>Select The Gloves Colour Of Your Choice</p>-->
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Choose Your Color</h4>
                                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in glovescolor track by $index">
                                        <div class="colo-pallet text-center ">
                                            <div class="noti-img notihov" ng-class="{'coloracive':glovesColors == col.name}" ng-click="changeGlovesImages(col.name,col.colr)"
                                                ng-style="{'background-color':'{{col.colr}}'}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="edit-btn margintp">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing mright15">DONE</button>
                            </div> -->
                        </div>
                        <!-- <div class="outline">
                            <span>HIGHLIGHT </span>
                            <p>Select The Trim Colour Of Your Choice</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Select The Colour</h4>
                                    <div class="col-md-2 col-xs-2 paddingl mr21" ng-repeat="col in color track by $index">
                                        <div class="colo-pallet text-center ">
                                            <div class="noti-img notihov" ng-style="{'background-color':'{{col.colr}}'}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="edit-btn margintp">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing mright15">DONE</button>
                            </div>
                        </div> -->
                        <!-- <div class="outline">
                            <span>HIGHLIGHT 2</span>
                            <p>Select The Trim Colour Of Your Choice</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Select The Colour</h4>
                                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                                        <div class="colo-pallet text-center ">
                                            <div class="noti-img notihov" ng-style="{'background-color':'{{col.colr}}'}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="edit-btn margintp">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing mright15">DONE</button>

                            </div>
                        </div> -->
                        <!-- <div class="options">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing mright15">PALETTE</button>
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing mright15">COLLAR</button>
                        </div> -->
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginGloves();">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('team', 3); openTab('c');switchNavigation('c');">NEXT</button>
                        </div>
  <div class="customize-design">
                            <ul>
                                <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span>                                    to know more about customization tools.</li>
                                <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads attract
                                    a nominal one-time customization fees).</li>

                            </ul>
                        </div>

                    </div>
                    <!--  team logo-->
                    <div class="choos m20-l" ng-show="tab=='team'">
                        <!--<p>Upload Your Logo</p>-->
                        <div class="checkboxing">
                            <input type="checkbox" class="form-control" id="later" ng-model="glovesJson.sendTeamLogoLater">
                            <label for="later"><span></span>SEND TEAM LOGO LATER</label>
                        </div>
                        <div class="logo-text mt10 inline-box">
                            <button class="btn inline-block btn-dark padding-btn letter-spacing mright15">TEAM LOGO</button>
                        </div>
                        <div class="block-box">
                            <div class="teamlogo-box">
                                <div class="inline-box box-custom">
                                    <img ng-src="{{glovesJson.teamLogo.image | serverimage}}" alt="" ng-if="glovesJson.teamLogo.image">
                                </div>
                                <div class="size-box" ng-if="glovesJson.teamLogo.image">
                                    Size:
                                    <div class="range rangeslides">
                                        <div range-slider on-handle-down="changeLogo()" on-handle-up="resetLogoStyle()" ng-model="glovesJson.teamLogo.size" 
                                           min="5" max="55" model-max="glovesJson.teamLogo.size" model-min="rslider.min" pin-handle="min"></div>
                                    </div>
                                </div>
                                <div class="edit-btn">
                                    <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('gloveslogo', 'Team Logo')"
                                        ng-if="!glovesJson.teamLogo.image">upload</button>
                                    <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('gloveslogo', 'Team Logo')"
                                        ng-if="glovesJson.teamLogo.image">change</button>
                                    <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="emptyImage('teamLogo')"
                                        ng-if="glovesJson.teamLogo.image">remove</button>
                                </div>
                            </div>



                        </div>
                        <div class="print-typ printing">
                            <div class="pbotom">
                                <span class="block">Notes :</span>



                                <span class="block">1.  A one-time customization fees of INR 5000/- or equivalent (in your currency) will be incurred for your logo customization.</span>
                                <span class="block">2.  Your logo will be screen printed and then laminated.</span>
                                <ul class="pad-17">
                                    <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span>                                        to know more about customization tools.</li>
                                    <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads
                                        attract a nominal one-time customization fees).</li>
                                </ul>
                            </div>
                            <div class="edit-btn inline-block">
                                <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginGloves();">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                            <div class="edit-btn inline-block">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="checkTeamLogo();">NEXT</button>
                            </div>
                        </div>


                        <div class="modal fade custom" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                    </div>
                                    <div class="modal-body text-center">
                                        <div class="mod-img ">

                                            <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}"></div>
                                            <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing">SUBMIT</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="choos m20-l next-level" ng-show="tab=='teamlogo'">
                        <p>Upload Your Logo</p>

                        <div class="logo-text">
                            <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15">TEAM LOGO</button>
                            <span class="uppercase inline-block mright15">or</span>
                            <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" ng-click="openColor();">TEAM TEXT</button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="up-img">
                                    <div class="mod-img ">
                                        <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}">
                                        </div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark">REMOVE</button>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" class="form-control" id="login">
                                            <label for="login"><span></span>Remove Image Background</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="print-typ printing">
                            <p>Select The Printing Type For Your Team Logo</p>
                            <form action="" class="radio">
                                <input type="radio" id="radio1" name="radio" />
                                <label for="radio1">
                                    <span></span> Embroidered <a href="" class="link mleft10">VIEW EXAMPLE</a></label>
                                <br>
                                <input type="radio" id="radio2" name="radio" />
                                <label for="radio2">
                                    <span></span> Sublimated
                                    <a href="" class="link mleft22">VIEW EXAMPLE</a></label>
                            </form>
                            <div class="pbotom">
                                <span class="block">Notes :</span>
                                <span class="block">1. The printed CCC Logo will always be embroidered on your gloves.</span>
                                <span class="block">2. Embossing your logo will incur a one time cost of  `5000 or your
                                    logo can be screen printed at no additional cost.</span>
                                <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                                <span class="block"><a href="" class="clickinfo"  ng-click="outplace();">Click here</a> to find out how?</span>
                                <span class="block">4.CCC logo colour will match colour of the trim.</span>

                            </div>
                            <div class="edit-btn inline-block">
                                <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginGloves();">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                            <div class="edit-btn inline-block">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('quantity',4)">NEXT</button>
                                <!-- <button class="btn btn-outline btn-dark padding-btn letter-spacing/" ng-click="openColor()">NEXT</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="choos m20-l nexter-level" ng-show="tab=='teamcolor'">
                        <p>Upload Your Text</p>
                        <div class="logo-text">
                            <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" ng-click="UploadTeamLogo()">TEAM LOGO</button>
                            <span class="uppercase inline-block mright15">or</span>
                            <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" ng-click="openColor();">TEAM TEXT</button>
                        </div>

                        <div class="radio-options">
                            <h4>Select The Font For Your Gloves</h4>
                            <form action="" class="radio">
                                <div class="form-group inline-block">
                                    <input type="radio" id="textradio1" name="textradio" />
                                    <label for="textradio1">
                                        <span></span> Arial
                                    </label>
                                </div>
                                <div class="form-group inline-block">
                                    <input type="radio" id="textradio2" name="textradio" />
                                    <label for="textradio2">
                                        <span></span> Times roman</label>
                                </div>
                                <div class="form-group inline-block">
                                    <input type="radio" id="textradio3" name="textradio" />
                                    <label for="textradio3">
                                        <span></span> Helvetica
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Select The Colour</h4>
                                <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                                    <div class="colo-pallet text-center ">
                                        <div class="noti-img notihov" ng-style="{'background-color':'{{col.colr}}'}"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="notes">
                            <span class="capitalize">please note that your tshirt name can be upto 10 characters</span>
                        </div>
                        <div class="range-slidings relative">
                            <h4 class="capitalize">enter your text below</h4>
                            <input type="text" class="block" name="name1">
                            <input type="text" class="block " name="name2">
                            <a class="plus" href=""><i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i></a>
                            <input type="text" class="block" name="name3">
                        </div>
                        <div class="range">
                            <div class="row">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <span>size</span>
                                </div>
                                <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                    <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input type="text" name="size">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <span>arc</span>
                                </div>
                                <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                    <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input type="text" name="size">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <span>rotation</span>
                                </div>
                                <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                    <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input type="text" name="size">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <span>spacing</span>
                                </div>
                                <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                    <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input type="text" name="size">
                                </div>
                            </div>

                        </div>
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginGloves();">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
                        </div>
                    </div>

                    <div class="choos m20-l" ng-show="tab=='logo'">
                        <p>Upload Your Sponsor Logo (Optional)</p>
                        <div class="sp-logo">
                            <button href="" class="btn pad1 btn-outline btn-dark  block" data-toggle="modal" data-target="#myModal1">MAIN SPONSOR</button>

                            <button href="" class="btn pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 1</button>

                            <button href="" class="btn pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 2</button>

                            <button href="" class="btn pad3 btn-outline btn-dark  block" data-toggle="modal" data-target="#myModal1">LEFT SLEEVE SPONSOR</button>


                            <button href="" class="btn pad4 btn-outline btn-dark block" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>

                            <button href="" class="btn pad5 btn-outline btn-dark  block" data-toggle="modal" data-target="#myModal1">LEFT CHEST SPONSOR</button>

                            <button href="" class="btn pad3 btn-outline btn-dark block" data-toggle="modal" data-target="#myModal1">RIGHT CHEST SPONSOR</button>
                        </div>
                        <div class="print-typ">
                            <div class="pbotom">
                                <span class="block">Notes :</span>
                                <span class="block">1. The logo of your sponsors will be sublimated. </span>
                                <span class="block">2. The logo on the sleeves are not cut in half. It’s just to provide realistic feel.</span>
                                <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                                <span><a href="" class="clickinfo"  ng-click="outplace();">Click here</a> to find out how?</span>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginGloves();">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="proceed()">NEXT</button>
                        </div>
                        <!-- ng-click="UploadTeamLogo1()" -->
                    </div>
                    <div class="choos m20-l nextest-level" ng-show="tab=='sponsorlogo'">
                        <p>Upload Your Sponsor Logo (Optional)</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="up-img">
                                    <div class="mod-img ">
                                        <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}">
                                        </div>
                                        <div class="edit-btn">
                                            <button href="" class="btn  btn-outline btn-dark">CHANGE</button>
                                            <br>
                                            <button href="" class="btn bits btn-outline btn-dark">REMOVE</button>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" class="form-control" id="login">
                                            <label for="login"><span></span>Remove Image Background</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="up-img">
                                    <div class="mod-img ">
                                        <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}">
                                        </div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark">REMOVE</button>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" class="form-control" id="login">
                                            <label for="login"><span></span>Remove Image Background</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sp-logo">
                            <button href="" class="btn bit pad4 btn-outline btn-dark block" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>

                            <button href="" class="btn bit pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 1</button>

                            <button href="" class="btn pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 2</button>
                        </div>

                        <div class="print-typ">
                            <div class="pbotom">
                                <span class="block">Notes :</span>
                                <span class="block">1. The logo of your sponsors will be sublimated. </span>
                                <span class="block">2. The logo on the sleeves are not cut in half. It’s just to provide realistic
                    feel.</span>
                                <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                                <span><a href="" class="clickinfo"  ng-click="outplace();">Click here</a> to find out how?</span>
                            </div>
                        </div>
                        <div class="eds">
                            <div class="edit-btn inline-block">
                                <button href="" class=" btn btn-outline btn-dark letter-spacing" ng-click="checkloginGloves();">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
                        </div>
                    </div>


                    <div class="choos quantity m20-l " ng-show="tab=='quantity'">
                        <div class="table-detail relative">
                            <p class="capitalize">Select the quantity for your gloves</p>
                            <div class="option-shirt relative gloves" ng-repeat="glove in glovesArry track by $index">
                                <div class="sizes size inline-block mleft10">
                                    <span class="uppercase pad-5 hand-side">Lefty</span>
                                    <!--<select ng-model="glove.direction">
                                        <option value="left">Lefty</option>
                                        <option value="right">Right</option>
                                    </select>-->
                                </div>
                                <div class="sizes size inline-block mleft10">
                                    <span class="inline-block uppercase pad-5">quantity</span>
                                    <input type="number" class="form-control inline-block" name="name" value="" ng-change="addQuantity(glovesJson.quantity[0].quantity)"
                                        ng-model="glovesJson.quantity[0].quantity" placeholder="12" maxlength="3">
                                    <!--<p class="error-td error-quantity f13" ng-if="totalQuan<12 && totalQuan!=0">Please enter valid quantity.The MOQ is 12</p>-->
                                </div>
                                <!--<div class="sizes size inline-block">
                                    <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing">preview</button>
                                </div>-->
                                <!-- <div class="sizes size inline-block">
                            <span class="uppercase">sleeve</span>
                          <select>
                            <option value="XL">XL</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select></div> -->
                                <!--<a href="" class="bin"><img src="img/rubbishbin.png" class="img-responsive" alt="" ng-click="removeGlovesValue($index); addQuantity();"></a>-->
                            </div>
                            <!--//added-->
                            <div class="option-shirt relative gloves" ng-repeat="glove in glovesArr track by $index">
                                <div class="sizes size inline-block mleft10">
                                    <span class="uppercase pad-5 hand-side">Righty</span>
                                    <!--<select ng-model="glove.direction">
                                        <option value="right">Righty</option>
                                        <option value="right">Right</option>
                                    </select>-->
                                </div>
                                <div class="sizes size inline-block">
                                    <span class="inline-block uppercase pad-5">quantity</span>
                                    <input type="number" class="form-control inline-block" name="name" value="" ng-change="addQuantity(glovesJson.quantity[1].quantity)"
                                        ng-model="glovesJson.quantity[1].quantity" placeholder="12" maxlength="3">
                                    <!--<p class="error-td error-quantity f13" ng-if="totalQuan<12 && totalQuan!=0">Please enter valid quantity.The MOQ is 12</p>-->
                                    <p class="error-td error-quantity errors-pad f13" ng-if="totalQuan<12 && totalQuan!=0">Please enter valid quantity.The MTQ is 12</p>
                                </div>
                                <!--<div class="sizes size inline-block">
                                    <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing">preview</button>
                                </div>-->
                                <!-- <div class="sizes size inline-block">
                            <span class="uppercase">sleeve</span>
                          <select>
                            <option value="XL">XL</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select></div> -->
                                <!--<a href="" class="bin"><img src="img/rubbishbin.png" class="img-responsive" alt="" ng-click="removeGlovesValue($index); addQuantity();"></a>-->
                            </div>

                            <!--<div class="add-button">
                                <p class="pointer" ng-click="addGlovesValues(); addQuantity(glove.quantity);"><i class="fa mr7 fa-plus" aria-hidden="true"></i>ADD</p>
                            </div>-->
                            <div class="total-amount clearfix">
                                <!--<p class="more-price">One time customization fee for Glove is <i class="fa fa-inr"></i> 5000</p>-->
                                <p class="more-price">A one-time customization fees of INR 5000/- or equivalent (in your currency) will be incurred
                                    for your logo customization.</p>
                                       <span class="pull-right tamount totalAmount uppercase Raleway-Medium mar20" ng-if="totalQuan==0">Total Amount: {{glovesJson.totalAmount | currencySymbol}}</i></span>
                                       <span class="pull-right tamount totalAmount uppercase Raleway-Medium mar20" ng-if="totalQuan>0">Total Amount: {{glovesJson| PriceFilter | currencySymbol}}</i></span>                                       
                                        <span class="pull-right tquantity totalAmount uppercase Raleway-Medium mar20">Total Quantity: {{totalQuan}} </span>
                                <!--<span class="pull-right uppercase totalAmount Raleway-Medium">Total: {{totalAmount}}</span>-->
                            </div>
                               <!--<div class="total-amount">
                                        <p class="more-price">One time customization fee for Trouser is <i class="fa fa-inr"></i> 5000</p>
                                        <span class="pull-right tamount uppercase Raleway-Medium mar20">Total Amount: {{trouserJson.totalAmount}}</span>
                                        <span class="pull-right tquantity uppercase Raleway-Medium mar20">Total Quantity: {{trouserJson.totalQuan}}</span>
                                    </div>-->

                            <div class="edit-btn">
                                <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing" ng-click="checkloginGloves(glove.quantity);">save design</button>
                                <p ng-if="qtyValidation">Please enter valid Quantity.</p>
                                <button href="" class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" ng-click="toOrderSummary(glove.quantity)"
                                    ng-disabled="addQuantity()<12">next</button>
                                <p ng-if="qtyVal">Please enter valid Quantity.</p>
                                <br>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>