<section>
  <flex-slider flex-slide="s in mySlides">
  <li class="relative">
    <img ng-src="{{s.src}}">
    <div class="text-on">
      <h3 class="high-light">{{s.head}}</h3>
      <p class="para">
      {{s.subhead}}
      </p>
    </div>
  </li>
</flex-slider>
</section>

<section>
<div class="strong grey-bg space-flex">
  <div class="row-flex">
    <div class="col-flex">
      <div class="line-hover">Bats</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Balls</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Gloves</div>
    </div>
  </div>
  <div class="row-flex">
    <div class="col-flex">
      <div class="line-hover">Pads</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Apparels</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Kit Bags</div>
    </div>
  </div>
</div>
</section>

<section>
<div class="advertise-bg smart-content text-center">
  <div class="container">
      <h3 class="high-light">About Us</h3>
    <p class="para">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a class="btn btn-outline btn-dark" href="#">Know More</a>
  </div>
</div>
</section>

<section>
<div class="advertise text-right">
  <div class="container">
    <h4>Here, Let Us</h4>
    <h3>Sweat it out for you!</h3>
    <a href="#">Make an appointment now</a>
  </div>
</div>
</section>
