<section class="slider">
  <flex-slider flex-slide="s in mySlides track by $index">
    <li class="relative">
      <a href="{{s.link}}">
        <img ng-src="{{s.src | serverimage}}">
      </a>
    </li>
  </flex-slider>
</section>
<section class="assurance">
  <div class="container">
    <div class="row-flex">
      <div class="col-flex">
        <div class="ccc-quality">
          <img src="img/shipping.png" alt="" class="m-center img-responsive">
          <p class="text-uppercase text-center">Free Shipping Worldwide*</p>
          <!-- <p class="text-uppercase">Free Shipping Worldwide on a minimum order of <i class="fa fa-inr" ng-if="country == 'INR'"></i>
          <i class="fa fa-gbp" ng-if="country == 'GBP'"></i>
          <i class="fa fa-usd" ng-if="country == 'NZD'"></i>
          <i class="fa fa-eur" ng-if="country == 'EUR'"></i>
          <i class="fa fa-usd" ng-if="country == 'USD'"></i>
          <i ng-if="country == 'ZAF'">R</i>
          <i class="fa fa-usd" ng-if="country == 'AUD'"></i> {{minorder}}</p> -->
        </div>
      </div>
      <div class="col-flex">
        <div class="ccc-quality  ship">
          <img src="img/bat.png" alt="" class="m-center img-responsive">
          <p class="text-uppercase text-center">Free customisation on all products</p>
        </div>
      </div>
      <div class="col-flex">
        <div class="ccc-quality ">
          <img src="img/people.png" alt="" class="m-center img-responsive">
          <p class="text-uppercase text-center">Direct customer support via all mediums</p>
        </div>
      </div>
      <div class="col-flex">
        <div class="ccc-quality  ship">
          <img src="img/clock.png" alt="" class="m-center img-responsive">
          <p class="text-uppercase text-center">Quick turnaround time</p>
        </div>
      </div>
      <div class="col-flex">
        <div class="ccc-quality ">
          <img src="img/money.png" alt="" class="m-center img-responsive">
          <p class="text-uppercase text-center">Prices inclusive of taxes</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="strong grey-bg space-flex">
    <div class="row-flex" ng-repeat="category in categories">
      <div class="col-flex" ng-repeat="cat in category">
        <a class="colorful" ui-sref="categories({name:cat.name})" ng-if="cat.name == 'Apparel' || cat.name == 'Bats'">
          <div class="cat-home">
            <img ng-src="{{cat.image | serverimage}}" alt="bags" class="img-responsive">
          </div>
          <div class="line-hover letter-spacing hover-up">
            <p>{{cat.name}}</p>
          </div>
        </a>
        <a class="colorful" ui-sref="categories-inside({category:cat.name,name:cat.name})" ng-if="cat.name != 'Apparel' && cat.name != 'Bats'">
          <div class="cat-home">
            <img ng-src="{{cat.image | serverimage}}" alt="bags" class="img-responsive">
          </div>
          <div class="line-hover letter-spacing hover-up">
            <p>{{cat.name}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="advertise-bg smart-content text-center">
    <div class="container">
      <h3 class="high-light">About Us</h3>
      <p class="para">
        Our inception comes from a club cricket team in 2008 with a desire to kit themselves up in their very own brand. After exploring
        and servicing an established apparel market it was time to launch the world’s first full service cricket customisation
        platform. And so, Custom Cricket Company is the only known firm to wholly customise your cricketing gear ranging
        from apparel to gloves, pads, kit bags and even your own club ball.
      </p>
      <a class="btn btn-outline btn-dark letter-spacing" href="#/about">Know More</a>
    </div>
  </div>
</section>

<section>
  <div class="advertise text-right">
    <div class="container">
      <h4>Here, Let Us</h4>
      <h3>Sweat it out for you!</h3>
      <!-- <a ng-click="openAppoinment();">Make an appointment now</a> -->
      <a class="text-uppercase appoint" href="#/contact">Make an appointment now</a>
    </div>
  </div>
</section>