<section>
  <flex-slider flex-slide="s in mySlides">
  <li>
    <img ng-src="{{s}}">
    <div class="text-on">
      <h3>CUSTOMIZED BATS</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
      </p>
    </div>
  </li>
</flex-slider>
</section>

<section>
<div class="padding strong">
  <div class="row-flex line-hover">
    <div class="col-flex">
      <div class="line-hover">Bats</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Balls</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Gloves</div>
    </div>
  </div>
  <div class="row-flex">
    <div class="col-flex">
      <div class="line-hover">Pads</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Apparels</div>
    </div>
    <div class="col-flex">
      <div class="line-hover">Kit Bags</div>
    </div>
  </div>
</div>
</section>

<section>
<div class="smart-text">
  <img src="img/ccc-advert.jpg" alt="Custom Cricket Company" />
  <div class="container">
      <h3>About Us</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a class="btn btn-outline btn-dark" href="#">Know More</a>
  </div>
</div>
</section>

<section>
<div class="advertise text-right">
  <h4>Here, Let Us</h4>
  <h5>Sweat it out for you!</h5>
  <a href="#">Make an appointment now</a>
</div>
</section>
