<section class="inside-basketball">
    <div class="relative mar-t70">
        <img src="img/basketball/3.jpg" alt="" class="img-responsive">

        <div class="inside-overlay">
            <div class="letter-spacing ">
                <h1>BASKETBALL</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="text-uppercase text-center inside-heading">
            <h2>customise your basketball clothing</h2>
        </div>
        <div>
            <div class="row">
                <div class="col-md-4" ng-repeat="img in basketball track by $index">
                    <div class="inside-para">
                        <img ng-src="{{img.image}}" class="img-responsive">
                        <p class="text-center uppercase">{{img.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="text-uppercase text-center inside-switch">
            <h3>switch to</h3>
        </div>
        <div class="inside-basketball-slider inside-basketball">
            <flex-slider flex-slide="banner in basketballSlides track by $index" prev-text="" next-text="" class="" item-width="260"
                item-margin="10" animation="slide" slideshow="true" slideshowSpeed="500">
                <li class="grey-fade">
                    <a>
                        <figure class="relative"><img ng-src="{{banner.image}}" class="img-responsive iconBlue">
                            <div class="inside-overlay">
                                <div class="letter-spacing  greyfade-text text-uppercase">
                                    <p>{{banner.text}}</p>
                                </div>
                            </div>
                        </figure>
                    </a>
                </li>
            </flex-slider>
        </div>
    </div>
</section>