<div class="modal-header">
  <h3 class="modal-title">SIGN UP</h3>
  <h3 class="modal-title">LOGIN</h3>
</div>
<div class="modal-body">
  <div class="signup">
    <div class="login-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirm Password">
      </div>
      <div class="form-group i-check">
        <div class="checkbox">
          <input type="checkbox" id="tc">
          <label for="tc" class="agree">
            <span></span> I Accept the Terms and Conditions and Privacy Policy of the website
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-outline btn-dark active">SIGN UP</button>
      <div class="mg">
        <p class="or">OR</p>
        <p class="or">SIGN UP VIA</p>
      </div>
      <div class="social-icon">
        <button class="btn btn-facebook pad-btn">
          <i class="fa fa-facebook social-f"></i>
        </button>
        <button class="btn btn-google pad-btn">
          <i class="fa fa-google-plus"></i>
        </button>
        <button class="btn btn-twitter pad-btn">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="login">
  <div class="login-form">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group i-check">
      <div class="checkbox">
        <input type="checkbox" id="tc">
        <label for="tc" class="agree">
          <span></span> Keep me logged in
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12">
      <div class="class-forget">
        <p><a href="">Forgot Password?</a></p>
      </div>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-outline btn-dark active">LOGIN</button>
    </div>
  </div>
  <div class="text-center">
    <p class="or">OR</p>
    <p class="or">SIGN IN VIA</p>
    <div class="social-icon">
      <button class="btn btn-facebook pad-btn">
        <i class="fa fa-facebook social-f"></i>
      </button>
      <button class="btn btn-google pad-btn">
        <i class="fa fa-google-plus"></i>
      </button>
      <button class="btn btn-twitter pad-btn">
        <i class="fa fa-twitter"></i>
      </button>
    </div>
  </div>
</div>
