<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-include="template.account"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alert-postion">
      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
    </div>
    <div class="row">
      <div class="col-md-12" ng-if="wishlist !== null">
        <div class="order-table wish-table" >
          <table class="table">
            <thead class="text-center">
              <tr>
                <th>ITEM</th>
                <th>COLOUR</th>
                <th>SIZE</th>
                <th>QUANTITY</th>
                <th>SUBTOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center text-bold" ng-repeat="wish in wishlist">
                <td>
                  <figure>
                    <img ng-src="{{wish.image | serverimage}}">
                    <figcaption>{{wish.name}}</figcaption>
                  </figure>
                </td>
                <td class="capitalize">{{wish.color}}</td>
                <td class="uppercase">{{wish.size}}</td>
                <td>{{wish.quantity}}
                  <!-- <span class="more"><i class="fa fa-plus"></i></span>
                  <span class="more mgl"><i class="fa fa-minus"></i></span> -->
                </td>
                <td>
                  <p>{{wish.subtotal}}</p>
                  <div class="text-right p65">
                    <button class="btn btn-outline btn-dark padding-btn" ng-click="cartAdd(wish.id)">ADD TO CART</button>
                    <button class="btn btn-outline btn-dark" ng-click="removeCart(wish.id)">REMOVE</button>
                  </div>
                </td>
              </tr>
            <!-- <tr class="text-center text-bold">
                <td>
                  <figure>
                    <img src="img/product2.png">
                    <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                  </figure>
                </td>
                <td>White</td>
                <td>M</td>
                <td>1
                  <span class="more"><i class="fa fa-plus"></i></span>
                  <span class="more mgl"><i class="fa fa-minus"></i></span>
                </td>
                <td>
                  <p>699</p>
                  <div class="text-right p65">
                    <button class="btn btn-outline btn-dark padding-btn">ADD TO CART</button>
                    <button class="btn btn-outline btn-dark ">REMOVE</button>
                  </div>
                </td>
             </tr> -->
            </tbody>
          </table>
        </div>


      </div>
    </div>
      <div class="text-center" ng-if="!wishlist">Your wishlist is empty.</div>
    <div class="wish-back account-bg no-bg account-wish-bg">
      <div class="row">
        <div class="col-md-offset-6 col-md-6">

          <div class="cart-btn">
            <button class="btn btn-outline btn-dark">SAVE WISHLIST</button>
            <button class="btn btn-outline btn-dark">CONTINUE SHOPPING</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
