<section>
  <div class="heading">
    <div class="container">
      <div class="text-center">
        <h3 class="high-light main-head ">CUSTOMISE YOUR TEE'S NOW</h3>
      </div>
      <div class="row" scrolladd1class>
        <div class="step ">
          <ul class="pad0">
            <li class="tab-item breadcrums {{classa}} {{tabAllowa}}" ng-disabled="tabAllowToa" ng-click="switchNavigation('a');">
              <span class="bread-frnt"></span>
              <p>1. DESIGN</p>
              <span class="bread-back"></span>
            </li>
            <li class="tab-item breadcrums {{classb}} {{tabAllowb}}" ng-disabled="tabAllowTob" ng-click="switchNavigation('b');">
              <span class="bread-frnt"></span>
              <p>2. TRIM</p>
              <span class="bread-back"></span>
            </li>
            <li class="tab-item breadcrums {{classc}} {{tabAllowc}}" ng-disabled="tabAllowToc" ng-click="switchNavigation('c');">
              <span class="bread-frnt"></span>
              <p class="{{backwhite3}}">3. LOGOS</p>
              <span class="bread-back"></span>
            </li>
            <li class="tab-item breadcrums {{classe}} {{tabAllowd}}" ng-disabled="tabAllowTod" ng-click="switchNavigation('d');">
              <span class="bread-frnt"></span>
              <p class="{{backwhite5}}">4. QUANTITY</p>
              <span class="bread-back"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product-detail">
      <div class="row">
        <div class="col-md-5">
          <div class="scroll-image" id="style-2">
            <div class="text-center">
                <custom design="odiJson" ng-if="odiJson"></custom>
              <div class="prev inline-block">
                <p class="uppercase" ng-click="switchFrontBack(true); switchTrimHighlightBase(true, trimTshirt.highlightBase.tcolor,odiJson.color.base); switchTrimHighlightOne(true, trimTshirt.highlightOne.tcolor,odiJson.color.trim1); switchTrimHighlightTwo(true, trimTshirt.highlightTwo.tcolor,odiJson.color.trim2)"><img src="img/back.png" class="img-responsive" alt="">front</p>
              </div>
              <div class="next inline-block">
                <p class="uppercase" ng-click="switchFrontBack(false); switchTrimHighlightBase(false, trimTshirt.highlightBase.tcolor,odiJson.color.base); switchTrimHighlightOne(false, trimTshirt.highlightOne.tcolor,odiJson.color.trim1); switchTrimHighlightTwo(false, trimTshirt.highlightTwo.tcolor,odiJson.color.trim2)"><img src="img/back.png" class="img-responsive" alt="">back</p>
              </div>
              <div class="feature-buttons">
                <button class="btn  btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 1}"
                  ng-click="toggleTab(1)">FORM + FUNCTION</button>
                <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 2}"
                  ng-click="toggleTab(2)">DELIVERY</button>
                <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 3}"
                  ng-click="toggleTab(3)">CARE</button>
              </div>
              <ul class="tshirt-features" ng-if="activeButton == 1">
                <li>It features the Custom Cricket company on the right chest</li>
                <li>100% polyester</li>
                <li>160 gsm</li>
                <li>Polo collar</li>
                <li>Cut & Sew technique</li>
                <li>Tested and fitted for optimum performance in warm and cold conditions</li>
              </ul>
              <ul class="tshirt-features" ng-if="activeButton == 2">
                <li>In-stock tees are shipped immediately. Customisation delivery worldwide takes 3-4 weeks from date of order.</li>
              </ul>
              <ul class="tshirt-features" ng-if="activeButton == 3">
                <li>We recommend washing in cold water with powder detergent</li>
                <li>Do not wash with other coloured clothes to avoid bleeding and run-off</li>
                <li>Avoid drying machines which can weaken the fabric's effectiveness</li>
                <li>Steam iron preferably</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="scroll-image" id="style-1">
            <div class="det-name">
              <h4>{{odiJson.design.name}}</h4>
              <!-- MATT B&amp;Y -->
              <!--<p>The Custom Cricket company cricket shirt is made from wicking fabric that lifts moisture from your
                            body. Tested and built to perform in warm and cold climate conditions. It features the Custom
                            Cricket company on the right chest .
                        </p>-->
              <h3><i class="fa fa-inr"></i>{{singleAmount}}</h3>
              <span class="Raleway-Medium"><em>Minimum Order Quantity (MOQ) =  20 Tees</em></span>
            </div>
            <!--                    // design tab-->
            <div class="choos m20-l" ng-show="tab=='design'">
              <p ng-if="page==1">Choose Your Type Of Design ({{images.page1.length}}/{{images.page1.length + images.page2.length}})</p>
              <p ng-if="page==2">Choose Your Type Of Design ({{images.page1.length + images.page2.length}}/{{images.page1.length + images.page2.length}})</p>
              <!--<div class="mb20">
                <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="type=1">Odi</button>
                <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="type=2">Training</button>
                <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="type=3">Whites</button>
              </div>-->
              <div class="mb20 flex-around odi-design-buttons">
                <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing design-arrow-prev" ng-disabled="page==1" ng-click="page=1">
                  <img src="img/design_arrow_previous.png" alt="Prev Button" class="img-responsive">
                </button>
                <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing design-arrow-next" ng-disabled="page==2" ng-click="page=2">
                  <img src="img/design_arrow_next.png" alt="Next Button" class="img-responsive">
                </button>
                <!--<button class="{{designButton.design1.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=2; changeDesignButton(1);">Whites</button>
                <button class="{{designButton.design2.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=1; changeDesignButton(2);">Sublimation</button>
                <button class="{{designButton.design3.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=1; changeDesignButton(3);">Cut &amp; Sew</button>
                <button class="{{designButton.design4.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=1; changeDesignButton(4);">Polo</button>-->
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="col-md-4 col-xs-6 paddingl" ng-repeat="img in images.page1 track by $index" ng-if="page==1">
                    <div class="cat-img pointer" ng-class="{'border-line':$index + 1 = true}" ng-click="openDesign($index, 1)" title="Design {{$index + 1}}">
                      <img ng-src="{{img.src}}" class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-6 paddingl" ng-repeat="img in images.page2 track by $index" ng-if="page==2">
                    <div class="cat-img pointer" ng-click="openDesign($index, 2)" title="Design {{$index + 1}}">
                      <img ng-src="{{img.src}}" class="img-responsive">
                    </div>
                  </div>
                  <!--<div class="col-md-4 col-xs-6 paddingl" ng-repeat="img in images.training track by $index" ng-if="type==2">
                    <div class="cat-img pointer" ng-click="openDesign($index)" title="Design {{$index + 1}}">
                      <img ng-src="{{img}}" class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-4 col-xs-6 paddingl" ng-repeat="img in images.whites track by $index" ng-if="type==3">
                    <div class="cat-img pointer" ng-click="openDesign($index)" title="Design {{$index + 1}}">
                      <img ng-src="{{img}}" class="img-responsive">
                    </div>
                  </div>-->
                </div>
              </div>
              <div class="mb20 flex-end odi-design-buttons">
                <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing design-arrow-prev" ng-disabled="page==1" ng-click="page=1">
                  <img src="img/design_arrow_previous.png" alt="Prev Button" class="img-responsive">
                </button>
                <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing design-arrow-next" ng-disabled="page==2" ng-click="page=2">
                  <img src="img/design_arrow_next.png" alt="Next Button" class="img-responsive">
                </button>
                <!--<button class="{{designButton.design1.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=2; changeDesignButton(1);">Whites</button>
                <button class="{{designButton.design2.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=1; changeDesignButton(2);">Sublimation</button>
                <button class="{{designButton.design3.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=1; changeDesignButton(3);">Cut &amp; Sew</button>
                <button class="{{designButton.design4.active}} btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="page=1; changeDesignButton(4);">Polo</button>-->
              </div>
              <button class="btn btn-outline btn-dark inline-block uppercase letter-spacing" ng-click="tabchange('trim',2); switchFrontBack(true); switchTrimHighlightBase(true, trimTshirt.highlightBase.tcolor,odiJson.color.base); switchTrimHighlightOne(true, trimTshirt.highlightOne.tcolor,odiJson.color.trim1); switchTrimHighlightTwo(true, trimTshirt.highlightTwo.tcolor,odiJson.color.trim2); openTab('b');">NEXT</button>
              <!-- <div class="edit-btn inline-block">
                                <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                            <div class="edit-btn inline-block">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('trim',2)">NEXT</button>
                            </div> -->
              <div class="customize-design">
                <ul>
                  <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span> to
                    know more about customization tools.</li>
                  <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads attract a nominal
                    one-time customization fees).</li>
                </ul>
              </div>
            </div>
            <!--   //trim tab-->
            <div class="choos m20-l" ng-show="tab=='trim'">
              <div class="options">
                <button class="{{trimTabs.light3.active}} {{trimTshirt.highlightBase.disable}} classshow btn btn-outline btn-dark padding-btn letter-spacing inline-block"
                  ng-click="tabchanges('light3',3)">BASE</button>
                <button class="{{trimTabs.light1.active}} {{trimTshirt.highlightOne.disable}} classhide btn btn-outline btn-dark padding-btn letter-spacing inline-block"
                  ng-click="tabchanges('light1',1)">TRIM 1</button>
                <button class="{{trimTabs.light2.active}} {{trimTshirt.highlightTwo.disable}} classhide btn btn-outline btn-dark padding-btn letter-spacing inline-block"
                  ng-click="tabchanges('light2',2)">TRIM 2</button>
                <!-- {{trimTwoDisable}} -->
                <!-- <button class="{{classhide1} btn btn-outline btn-dark padding-btn letter-spacing  inline-block" ng-click="tabchanges('light3',3)">PALETTE</button>
                                <button class="{{classhide2} btn btn-outline btn-dark padding-btn letter-spacing  inline-block" ng-click="tabchanges('light4',4)">COLLAR</button> -->
              </div>
              <div class="{{trimTshirt.highlightOne.disable}} {{trimTabs.light1.show}} classp outline disnon" ng-if="tabs=='light1'">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Choose Your Color</h4>
                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in odicolor track by $index">
                      <div class="colo-pallet text-center ">
                        <div class="noti-img notihov" ng-class="{'coloracive':trimTshirt.highlightOne.tcolor == col.name, 'borergrey':col.name == 'white'};"
                          ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightOne(trimTshirt.highlightOne.flag, col.name,col.colr); trimHexColors('highlightOne', col.colr);"
                          title="{{col.name | capitalize}}"></div>
                        <!-- switchTrimHighlightOne(trimTshirt.highlightOne.flag, col.name) -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="{{trimTshirt.highlightTwo.disable}} {{trimTabs.light2.show}} classv outline disnon" ng-if="tabs=='light2'">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Choose Your Color</h4>
                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in odicolor track by $index">
                      <div class="colo-pallet text-center">
                        <!--<div class="noti-img notihov" ng-class="{{'coloracive':trimTshirt.highlightTwo.tcolor == col.name, 'borergrey':col.name == 'white'};" ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightTwo(trimTshirt.highlightTwo.flag, col.name); trimHexColors('highlightTwo', col.colr);" title="{{col.name | capitalize}}"></div>-->
                        <div class="noti-img notihov" ng-class="{'coloracive':trimTshirt.highlightTwo.tcolor == col.name, 'borergrey':col.name == 'white'};"
                          ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightTwo(trimTshirt.highlightTwo.flag, col.name,col.colr); trimHexColors('highlightTwo', col.colr);"
                          title="{{col.name | capitalize}}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="{{trimTshirt.highlightBase.disable}} {{trimTabs.light3.show}} classv outline disnon" ng-if="tabs=='light3'">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Choose Your Color</h4>
                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in odibasecolor track by $index">
                      <div class="colo-pallet text-center">
                        <div class="noti-img notihov" ng-class="{'coloracive':trimTshirt.highlightBase.tcolor == col.name, 'borergrey':col.name == 'white'};"
                          ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightBase(trimTshirt.highlightBase.flag, col.name,col.colr); trimHexColors('highlightBase', col.colr);"
                          title="{{col.name | capitalize}}"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="edit-btn margintp">
                                    <button class="btn btn-outline btn-dark padding-btn letter-spacing mright15">DONE</button>
                                </div> -->
              </div>
              <!-- <div class="edit-btn inline-block">
                                <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                            <div class="edit-btn inline-block">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('team',3)">NEXT</button>
                            </div> -->
              <button class="classhide btn btn-outline btn-dark padding-btn letter-spacing inline-block mt-20" ng-click="tabchange('design',1); switchTrimHighlightBase(true, trimTshirt.highlightBase.tcolor,odiJson.color.base); switchTrimHighlightOne(true, trimTshirt.highlightOne.tcolor,odiJson.color.trim1); switchTrimHighlightTwo(true, trimTshirt.highlightTwo.tcolor,odiJson.color.trim2);">BACK</button>
              <button class="classhide btn btn-outline btn-dark padding-btn letter-spacing inline-block mt-20" ng-click="openTab('c'); switchNavigation('c')">NEXT</button>
            </div>
            <!--  team logo-->
            <!-- sagar -->
            <div class="choos m20-l" ng-show="tab=='team'">
              <div class="checkboxing">
                <input type="checkbox" class="form-control" id="later" ng-model="odiJson.sendTeamLogoLater">
                <label for="later"><span></span>SEND TEAM LOGO LATER</label>
              </div>
              <div class="logo-text mt10 inline-box">
                <button class="btn inline-block btn-dark padding-btn letter-spacing mright15">TEAM LOGO</button>
                <!--<div class="checkboxing">
                    <input type="checkbox" class="form-control" id="later">
                    <label for="later"><span></span>Send it Later</label>
                </div>-->
                <!--<span class="uppercase inline-block mright15">or</span>
                                <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" ng-click="openColor();">TEAM TEXT</button>-->
              </div>

              
              <div class="block-box">
                <div class="teamlogo-box">
                  <div class="inline-box box-custom">
                    <img ng-src="{{customizedShirt.teamlogo.image | serverimage}}" alt="" ng-if="customizedShirt.teamlogo">
                  </div>
                  <div class="size-box" ng-if="customizedShirt.teamlogo">
                    Size:
                    <div class="range">
                      <div range-slider on-handle-down="changeLogo('teamlogo')" on-handle-up="resetLogoStyle('teamlogo')" ng-model="customizedShirt['teamlogo'].attributes.width"
                        min="-150" max="200" model-max="customizedShirt['teamlogo'].attributes.width" model-min="rslider.min"
                        pin-handle="min"></div>
                    </div>
                  </div>
                  <div class="edit-btn">
                    <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('teamlogo', 'Team Logo')"
                      ng-if="!customizedShirt.teamlogo">upload</button>
                    <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('teamlogo', 'Team Logo')"
                      ng-if="customizedShirt.teamlogo">change</button>
                    <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="emptyImage('teamlogo')"
                      ng-if="customizedShirt.teamlogo">remove</button>
                    <!-- <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="UploadTeamLogo()" ng-if="customizedShirt.teamlogo">change</button> -->
                    <!-- <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="UploadTeamLogo()" ng-if="customizedShirt.teamlogo">remove</button> -->
                  </div>
                </div>
                <div class="print-typ printing inline-box">
                  <p class="bold">Select The Printing Type For Your Team Logo</p>
                  <form action="" class="radio">
                    <input type="radio" id="radio1" name="radio" value="embroidered" ng-model="customizedShirt.printType" />
                    <label for="radio1">
                      <span></span> Embroidered <a href="" class="link mleft10">VIEW EXAMPLES</a></label>
                    <br>
                    <input type="radio" id="radio2" name="radio" value="sublimated" ng-model="customizedShirt.printType" />
                    <label for="radio2">
                      <span></span> Sublimated <a href="" class="link mleft20">VIEW EXAMPLES</a></label>
                  </form>
                </div>
              </div>
              <!--<p>Upload Your Logos ({{customizedShirtCount}}/5)</p>-->
              <div class="new-scrolldiv block-box min-height" id="custom-grey">
                <div class="sp-logo">
                  <!--<div class="inline-box single-logo">
                    <div class="pad10">
                      <div class="head-title-box">
                        TEAM LOGO
                      </div>
                      <div class="box-custom pointer">
                        <p class="uppercase" ng-click="openUploads('teamlogo', 'Left Chest')" ng-if="!customizedShirt.teamlogo">Upload</p>
                        <img ng-src="{{customizedShirt.teamlogo.image | serverimage}}" alt="" ng-if="customizedShirt.teamlogo">
                      </div>
                      <div class="tex-cont range-custom" ng-if="customizedShirt.teamlogo">
                        Size:
                        <div class="range">
                          <div range-slider on-handle-down="changeLogo('teamlogo')" on-handle-up="resetLogoStyle('teamlogo')" ng-model="customizedShirt['teamlogo'].attributes.width" min="-150" max="200" model-max="customizedShirt['teamlogo'].attributes.width" model-min="rslider.min" pin-handle="min"></div>
                        </div>
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="openUploads('teamlogo', 'Left Chest')">CHANGE</button>
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="emptyImage('teamlogo')">REMOVE</button>
                      </div>
                    </div>
                  </div>-->
                  <div class="inline-box single-logo">
                    <div class="pad10">
                      <div class="head-title-box">
                        Right Chest
                      </div>
                      <div class="box-custom pointer">
                        <!-- <img src="img/logo_black.png" alt="" ng-if="customizedShirt.rightchest"> -->
                        <img ng-src="{{customizedShirt.rightchest.image | serverimage}}" alt="" ng-if="customizedShirt.rightchest">
                        <p class="uppercase" ng-click="openUploads('rightchest', 'Right Chest')" ng-if="!customizedShirt.rightchest">Upload</p>
                      </div>
                      <div class="tex-cont range-custom" ng-if="customizedShirt.rightchest">
                        Size:
                        <div class="range">
                          <div range-slider on-handle-down="changeLogo('rightchest')" on-handle-up="resetLogoStyle('rightchest')" ng-model="customizedShirt['rightchest'].attributes.width"
                            min="-150" max="200" model-max="customizedShirt['rightchest'].attributes.width" model-min="rslider.min"
                            pin-handle="min"></div>
                        </div>
                        <!-- <div range-slider min="-150" max="100" model-max="max" pin-handle="min"></div> -->
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="openUploads('rightchest', 'Right Chest')">CHANGE</button>
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="emptyImage('rightchest')">REMOVE</button>
                      </div>
                    </div>
                  </div>
                  <div class="inline-box single-logo">
                    <div class="pad10">
                      <div class="head-title-box">
                        MAIN SPONSOR
                      </div>
                      <div class="box-custom pointer">
                        <p class="uppercase" ng-click="openUploads('mainlogo', 'Main Sponsor')" ng-if="!customizedShirt.mainlogo">Upload</p>
                        <img ng-src="{{customizedShirt.mainlogo.image | serverimage}}" alt="" ng-if="customizedShirt.mainlogo">
                      </div>
                      <div class="tex-cont range-custom" ng-if="customizedShirt.mainlogo">
                        Size:
                        <div class="range">
                          <div range-slider on-handle-down="changeLogo('mainlogo')" on-handle-up="resetLogoStyle('mainlogo')" ng-model="customizedShirt['mainlogo'].attributes.width"
                            min="-150" max="200" model-max="customizedShirt['mainlogo'].attributes.width" model-min="rslider.min"
                            pin-handle="min"></div>
                        </div>
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="openUploads('mainlogo', 'Main Sponsor')">CHANGE</button>
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="emptyImage('mainlogo')">REMOVE</button>
                      </div>
                    </div>
                  </div>
                  <div class="inline-box single-logo">
                    <div class="pad10">
                      <div class="head-title-box">
                        LEFT SLEEVE
                      </div>
                      <div class="box-custom pointer">
                        <p class="uppercase" ng-click="openUploads('leftsleeve', 'Left Sleeve')" ng-if="!customizedShirt.leftsleeve">Upload</p>
                        <img ng-src="{{customizedShirt.leftsleeve.image | serverimage}}" alt="" ng-if="customizedShirt.leftsleeve">
                      </div>
                      <div class="tex-cont range-custom" ng-if="customizedShirt.leftsleeve">
                        Size:
                        <div class="range">
                          <div range-slider on-handle-down="changeLogo('leftsleeve')" on-handle-up="resetLogoStyle('leftsleeve')" ng-model="customizedShirt['leftsleeve'].attributes.width"
                            min="-150" max="200" model-max="customizedShirt['leftsleeve'].attributes.width" model-min="rslider.min"
                            pin-handle="min"></div>
                        </div>
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="openUploads('leftsleeve', 'Left Sleeve')">CHANGE</button>
                        <button href="" class="btn btn-outline btn-dark  block full-width" ng-click="emptyImage('leftsleeve')">REMOVE</button>
                      </div>
                    </div>
                  </div>
                  <div class="inline-box single-logo">
                    <div class="pad10">
                      <div class="head-title-box">
                        RIGHT SLEEVE
                      </div>
                      <div class="box-custom pointer">
                        <p class="uppercase" ng-click="openUploads('rightsleeve', 'Right Sleeve')" ng-if="!customizedShirt.rightsleeve">Upload</p>
                        <img ng-src="{{customizedShirt.rightsleeve.image | serverimage}}" alt="" ng-if="customizedShirt.rightsleeve">
                      </div>
                      <div class="tex-cont range-custom" ng-if="customizedShirt.rightsleeve">
                        Size:
                        <div class="range">
                          <div range-slider on-handle-down="changeLogo('rightsleeve')" on-handle-up="resetLogoStyle('rightsleeve')" ng-model="customizedShirt['rightsleeve'].attributes.width"
                            min="-150" max="200" model-max="customizedShirt['rightsleeve'].attributes.width" model-min="rslider.min"
                            pin-handle="min"></div>
                        </div>
                        <button href="" class="btn btn-outline btn-dark block full-width" ng-click="openUploads('rightsleeve', 'Right Sleeve')">CHANGE</button>
                        <button href="" class="btn btn-outline btn-dark block full-width" ng-click="emptyImage('rightsleeve')">REMOVE</button>
                      </div>
                    </div>
                  </div>
                  <div class="inline-box single-logo">
                    <div class="pad10">
                      <div class="head-title-box">
                        BACK SPONSOR
                      </div>
                      <div class="box-custom pointer">
                        <p class="uppercase" ng-click="openUploads('backlogo', 'Back Logo')" ng-if="!customizedShirt.backlogo">Upload</p>
                        <img ng-src="{{customizedShirt.backlogo.image | serverimage}}" alt="" ng-if="customizedShirt.backlogo">
                      </div>
                      <div class="tex-cont range-custom" ng-if="customizedShirt.backlogo">
                        Size:
                        <div class="range">
                          <div range-slider on-handle-down="changeLogo('backlogo')" on-handle-up="resetLogoStyle('backlogo')" ng-model="customizedShirt['backlogo'].attributes.width"
                            min="-150" max="200" model-max="customizedShirt['backlogo'].attributes.width" model-min="rslider.min"
                            pin-handle="min"></div>
                        </div>
                        <button href="" class="btn btn-outline btn-dark block full-width" ng-click="openUploads('backlogo', 'Back Logo')">CHANGE</button>
                        <button href="" class="btn btn-outline btn-dark block full-width" ng-click="emptyImage('backlogo')">REMOVE</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="print-typ printing">
                <div class="pbotom">
                  <span class="block">Notes :</span>
                  <span class="block">1. C&amp;S = Cut &amp; Sew Tees, SUB = Sublimated Tees. </span>
                  <span class="block">2. The logos of your sponsors will be sublimated.</span>
                  <span class="block">3. The CCC logo will be sublimated or embroidered based on your selection of ‘printing type’ for your Team Logo.</span>
                  <span class="block">4. The CCC logo colour will be black or white depending on your choice of the base colour chosen.</span>
                  <span class="block">5. If you remove the CCC logo from Right Chest area the CCC logo will automatically move to the back of your tee under the collar.</span>
                  <ul class="pad-17">
                    <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span>                      to know more about customization tools.</li>
                    <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads attract a nominal
                      one-time customization fees).</li>
                  </ul>
                  <!--<span><a href="" ng-click="outplace();">Click here</a> to find out how?</span>-->
                </div>
              </div>
              <div class="edit-btn inline-block">
                <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="savedDesigns()">SAVE DESIGN &amp; EDIT LATER</button>
              </div>
              <div class="edit-btn inline-block">
                <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="checkTeamLogo(false);">NEXT</button>
              </div>
            </div>
            <!-- sagar end -->
            <!--  team logo end-->
            <!--<div class="choos quantity m20-l" ng-show="tab=='quantity'">
              <div class="questionare">
                <p class="hidden-xs">Would you like to add name and numbers to
                  <br>your jersey at an additional charge of 2 GBP
                  <br>per jersey?
                </p>
                <p class="hidden-md hidden-lg">Would you like to add name and numbers to your jersey at an additional charge of 2 GBP per jersey?
                </p>
                <div class="continue-buttons mr">
                  <button ng-click="showQuantiyTab()" class="btn btn-outline btn-dark mar15 mr10 padding-btn letter-spacing uppercase">yes,continue</button>
                  <button href="" ng-click="showQuantyTab()" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase">no</button>
                </div>
              </div>
            </div>-->
            <div class="choos quantity m20-l nexterest-level" ng-show="tab=='quanty'">
              <div class="table-detail relative">
                <p class="capitalize">Select the size for your jersey</p>
                <div class="option-shirt relative">
                  <div class="sizes size inline-block">
                    <span class="uppercase">size</span>
                    <select>
                      <option value="XL">XL</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                  <div class="sizes size inline-block">
                    <span class="uppercase">sleeve</span>
                    <select>
                      <option value="XL">XL</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                    </select>
                  </div>
                  <div class="sizes size inline-block">
                    <span class="inline-block uppercase">quantity</span>
                    <input type="number" class="form-control inline-block" name="quantity" value="">
                  </div>
                </div>
                <a href="" class="bins"><img src="img/rubbishbin.png" class="img-responsive" alt=""></a>
                <div class="add-button">
                  <p ng-click="addJerseyValues()"><i class="fa mr7 fa-plus" aria-hidden="true"></i>ADD</p>
                </div>
                <div class="total-amount">
                  <span class="pull-right uppercase fontfam">Total: 995</span>
                </div>
                <div class="edit-btn">
                  <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing">save design</button>
                  <button href="" class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" data-toggle="modal" data-target="#myModal5">next</button>
                  <br>
                </div>
              </div>
            </div>
            <div class="choos quantity m20-l" ng-show="tab=='quantity'">
              <div class="chart mar15">
                <p>view:
                  <span data-toggle="modal" data-target="#myModal4" ng-click="openSizeChart()">Size Chart</span>
                </p>
              </div>
              <div class="accordion">
                <uib-accordion>
                  <uib-accordion-group class="panel-default" is-open="status.open1">
                    <uib-accordion-heading>
                      <i class="pull-left fa " ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>Choose
                      Your Font
                    </uib-accordion-heading>
                    <div class="radio-options">
                      <form action="" class="radio">
                        <div class="form-group">
                          <input type="radio" id="jerseyradio1" ng-model="jerseyBack.font" value="arial" name="jerseyradio" />
                          <label for="jerseyradio1" class="arial-font">
                            <span></span> Arial
                          </label>
                        </div>
                        <div class="form-group">
                          <input type="radio" id="jerseyradio2" ng-model="jerseyBack.font" value="times" name="jerseyradio" />
                          <label for="jerseyradio2" class="times-font">
                            <span></span> Times New Roman</label>
                        </div>
                        <div class="form-group">
                          <input type="radio" id="jerseyradio3" ng-model="jerseyBack.font" value="helvetica" name="jerseyradio" />
                          <label for="jerseyradio3" class="helvetica-font">
                            <span></span> Helvetica
                          </label>
                        </div>
                      </form>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Choose Your Colour</h2>
                        <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                          <div class="colo-pallet text-center ">
                            <!-- <div class="noti-img notihov" ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightOne(trimTshirt.highlightOne.flag, col.name)"></div> -->
                            <div class="noti-img notihov" ng-style="{'background-color':'{{col.colr}}'}" ng-class="{'activated': jerseyBack.color == col.colr, 'borergrey':col.name == 'white'}"
                              ng-click="jerseyBack.color=col.colr"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </uib-accordion-group>
                  <div class="pbotom">
                    <span class="block">Note </span>
                    <span class="block">1. Leave name and number fields blank if you do not wish to choose this option.</span>
                    <span class="block">2. If you would like to reposition or tweak your back sponsor logo, please leave your comments in the remarks field in the next step and our graphic team will get back to you.</span>
                    <span class="block">3. Name will be printed in upper case / capital letters.</span>
                    <span class="block">4. * denotes mandatory fields.</span>
                    <ul class="pad-17">
                      <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span>                        to know more about customization tools.</li>
                      <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads attract a nominal
                        one-time customization fees).</li>
                    </ul>
                  </div>
                  <uib-accordion-group class="panel-default" is-open="status.open2">
                    <uib-accordion-heading>
                      <i class="pull-left fa " ng-class="{'fa fa-minus': status.open2, 'fa fa-plus': !status.open2}"></i>Choose
                      Your Size
                    </uib-accordion-heading>
                    <div class="table-responsive">
                      <table class="table relative">
                        <thead>
                          <tr>
                            <th class="uppercase">size <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                            <th class="uppercase">sleeve <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                            <th class="uppercase">qty <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                            <th class="uppercase">name</th>
                            <th class="uppercase">number</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr class="nothing">
                                                        <td></td>
                                                    </tr> -->
                          <tr ng-repeat="jersey in jerseyBackArr track by $index">
                            <td>
                              <select ng-model="jersey.size">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="XXXL">XXXL</option>
                              </select>
                            </td>
                            <td>
                              <select ng-model="jersey.sleeve">
                                <option value="short">Short</option>
                                <option value="long">Long</option>
                              </select>
                            </td>
                            <td>
                              <input type="number" name="quantity" placeholder="20" ng-change="addQuantity(jersey.quantity)" ng-model="jersey.quantity"
                                maxlength="3">
                              <p class="error-td f13" ng-if="totalQuan<20 && totalQuan!=1">Please enter valid quantity.The MOQ is 20</p>
                            </td>
                            <!--<td>
                              <p ng-if="jersey.quantity == null">Please enter correct quantity </p>
                            </td>-->
                            <td>
                              <input type="text" ng-model="jersey.name" placeholder="Name" name="name" aplha-only>
                              <!-- ng-model="jerseyBack.name" maxlength="10" -->
                            </td>
                            <td>
                              <input type="text" ng-model="jersey.no" name="number" maxlength="3" replace="[^0-9 ]" with="">
                              <!-- ng-model="jerseyBack.no" -->
                            </td>
                            <td>
                              <!--<button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing" ng-if="$index == 0">PREVIEW</button>-->
                            </td>
                            <td class="binbord-rgt"><img src="img/rubbishbin.png" class="img-responsive doneLoading" alt="" ng-click="removeJerseyValue($index); addQuantity()"></td>
                          </tr>
                          <tr class="nothing">
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                      <p class="addtable pointer" ng-click="addJerseyValues(); addQuantity(jersey.quantity);"><i class="fa mr7 fa-plus" aria-hidden="true"></i> ADD</p>
                      <div class="quantity-name">
                        <span>NAME</span>
                        <div class="range">
                          <div class="row pad5">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                              <span>size</span>
                            </div>
                            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                              <div range-slider on-handle-down="changeText()" on-handle-up="resetTextStyle()" ng-model="jerseyBackArr[0].attributes.name.fontSize"
                                min="-150" max="100" model-max="jerseyBackArr[0].attributes.name.fontSize" model-min="-150"
                                pin-handle="min">
                              </div>
                              <!-- <div range-slider on-handle-down="changeText()" on-handle-up="resetTextStyle()" ng-model="jerseyBack.attributes.fontSize" min="-150" max="100" model-max="jerseyBack.attributes.fontSize" model-min="rslider.min" pin-handle="min"></div> -->
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <input class="inputtext" type="number" name="mySize" ng-model="jerseyBackArr[0].attributes.name.fontSize">
                            </div>
                          </div>
                          <!-- <div class="row pad5">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                              <span>arc</span>
                            </div>
                            //ng-value="{{jerseyBack}}deg"
                            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                              <div range-slider on-handle-down="changeLogo(key)" on-handle-up="resetLogoStyle(key)" ng-model="customizedShirt[key].attributes.width" min="25" max="60" model-max="customizedShirt[key].attributes.width" model-min="rslider.min" pin-handle="min">
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <input class="inputtext" type="number" ng-model="myArc" name="size">
                            </div>
                          </div> -->
                          <!--<div class="row pad5">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                              <span>rotation</span>
                            </div>
                            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                              <div range-slider  on-handle-down="changeText()" on-handle-up="resetTextStyle()" ng-bind-html-unsafe="{{jerseyBack.attributes.rotate | translateRotate:this}}" ng-model="jerseyBack.attributes.rotate" min="-150" max="360" model-max="jerseyBack.attributes.rotate" model-min="-150" pin-handle="min">
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <input class="inputtext" type="number" name="myRotate" ng-model="jerseyBack.attributes.rotate">
                            </div>
                          </div>-->
                          <div class="row pad5">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                              <span>spacing</span>
                            </div>
                            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                              <div range-slider on-handle-down="changeText()" on-handle-up="resetTextStyle()" ng-model="jerseyBackArr[0].attributes.name.letterSpacing"
                                min="1" max="20" model-max="jerseyBackArr[0].attributes.name.letterSpacing" model-min="1" pin-handle="min">
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <input class="inputtext" type="number" name="myWordSpace" ng-model="jerseyBackArr[0].attributes.name.letterSpacing">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="quantity-no">
                        <span>NUMBER</span>
                        <div class="range">
                          <div class="row pad5">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                              <span>size</span>
                            </div>
                            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                              <div range-slider on-handle-down="changeText()" on-handle-up="resetTextStyle()" ng-model="jerseyBackArr[0].attributes.number.fontSize"
                                min="-150" max="100" model-max="jerseyBackArr[0].attributes.number.fontSize" model-min="-150"
                                pin-handle="min">
                              </div>
                              <!-- <div range-slider on-handle-down="changeText()" on-handle-up="resetTextStyle()" ng-model="jerseyBack.attributes.fontSize" min="-150" max="100" model-max="jerseyBack.attributes.fontSize" model-min="rslider.min" pin-handle="min"></div> -->
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <input class="inputtext" type="number" name="mySize" ng-model="jerseyBackArr[0].attributes.number.fontSize">
                            </div>
                          </div>
                          <div class="row pad5">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                              <span>spacing</span>
                            </div>
                            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                              <div range-slider on-handle-down="changeText()" on-handle-up="resetTextStyle()" ng-model="jerseyBackArr[0].attributes.number.letterSpacing"
                                min="1" max="20" model-max="jerseyBackArr[0].attributes.number.letterSpacing" model-min="1"
                                pin-handle="min">
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <input class="inputtext" type="number" name="myWordSpace" ng-model="jerseyBackArr[0].attributes.number.letterSpacing">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<p>One time customization fee for Tee is <i class="fa fa-inr"></i> 5000</p>-->
                      <span class="pull-right tamount uppercase Raleway-Medium">Total Amount: {{totalAmount}}</span>
                      <span class="pull-right tquantity uppercase Raleway-Medium">Total Quantity: {{totalQuan}}</span>
                    </div>
                  </uib-accordion-group>
                </uib-accordion>
                <div class="edit-btn">
                  <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing" ng-click="savedDesigns()">save design</button>
                  <!--<button href="" class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" ng-click="toOrderSummary()" ng-disabled="jersey.quantity == null">next</button>-->
                  <button href="" class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" ng-click="toOrderSummary()" ng-disabled="totalQuan<20">next </button>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="edit-btn inline-block">
            <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN &amp; EDIT LATER</button>
          </div>
          <div class="edit-btn inline-block">
            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('team',3)">NEXT</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div class="scrollbar" id="style-2">
    <div class="force-overflow"></div>
</div>