<section>
  <div class="heading" ng-if="tshirtdata">
    <div class="container">
      <div class="text-center">
        <h3 class="high-light main-head ">REVIEW YOUR FINAL ORDER</h3>
      </div>
    </div>
  </div>
  <div class="container" ng-if="tshirtdata && tshirtdata.designType === 'odi' || tshirtdata.designType === 'training' || tshirtdata.designType === 'whites'">
    <div class="product-detail">
      <div class="row">
        <!--<pre>{{customizedShirt}}</pre>
        <pre>{{trimTshirt}}</pre>
        <pre>{{jerseyBackArr}}</pre>-->
        <div class="col-md-5">
          <div class="" id="style-2">
            <div class="text-center">
              <div class="gully-shirt">
                <img ng-src="{{customizedShirt.backdrop}}" class="backdrop img-responsive" alt="">
                <img ng-src="{{trimTshirt.highlightOne.image}}" ng-if="trimTshirt.highlightOne.image" class="trimshirt img-responsive" alt="">
                <img ng-src="{{trimTshirt.highlightTwo.image}}" ng-if="trimTshirt.highlightTwo.image" class="trimshirt img-responsive" alt="">
                <img ng-src="{{trimTshirt.highlightBase.image}}" ng-if="trimTshirt.highlightBase.image" class="trimshirtbase img-responsive" alt="">
                <div class="div-main-logo" ng-if="customizedShirt.front && customizedShirt.mainlogo.image" ng-style="customizedShirt.mainlogo.divattributes">
                  <img id="mainlogo" class="main-logo" ng-src="{{customizedShirt.mainlogo.image | serverimage}}" alt="" ng-style="customizedShirt.mainlogo.attributes">
                </div>
                <div class="div-back-sponsor1" ng-if="customizedShirt.back && customizedShirt.backsponsor1.image" ng-style="customizedShirt.backsponsor1.divattributes">
                  <img class="back-sponsor1" ng-src="{{customizedShirt.backsponsor1.image | serverimage}}" alt="" ng-style="customizedShirt.backsponsor1.attributes">
                </div>
                <div class="div-back-sponsor2" ng-if="customizedShirt.back && customizedShirt.backsponsor2.image" ng-style="customizedShirt.backsponsor2.divattributes">
                  <img class="back-sponsor2" ng-src="{{customizedShirt.backsponsor2.image | serverimage}}" alt="" ng-style="customizedShirt.backsponsor2.attributes">
                </div>
                <div class="div-left-chest" ng-if="customizedShirt.front && customizedShirt.teamlogo.image" ng-style="customizedShirt.teamlogo.divattributes">
                  <img id="teamlogo" class="left-chest" ng-src="{{customizedShirt.teamlogo.image | serverimage}}" alt="" ng-style="customizedShirt.teamlogo.attributes">
                </div>
                <div class="div-left-sleeve" ng-if="customizedShirt.leftsleeve.image" ng-style="customizedShirt.leftsleeve.divattributes" ng-class="{'div-left-sleeve':customizedShirt.front,'div-right-sleeve':customizedShirt.back}">
                  <img id="leftsleeve" ng-class="{'left-sleeve':customizedShirt.front,'right-sleeve':customizedShirt.back}" ng-src="{{customizedShirt.leftsleeve.image | serverimage}}" alt="" ng-style="customizedShirt.leftsleeve.attributes">
                </div>
                <div class="div-right-chest" ng-if="customizedShirt.front && customizedShirt.rightchest.image" ng-style="customizedShirt.rightchest.divattributes">
                  <img id="rightchest" class="right-chest" ng-src="{{customizedShirt.rightchest.image | serverimage}}" alt="" ng-style="customizedShirt.rightchest.attributes">
                </div>
                <div class="div-right-chest disblock" ng-if="customizedShirt.front && myhide" ng-style="customizedShirt.rightchest.divattributes">
                  <div style="color:{{myClolr}};transform: rotate({{myArc}}deg);font-size:{{mySize}}px;transform: rotate({{myRotate}}deg);letter-spacing: {{myWordSpace}}px;mymodel.name">{{mymodel.name}}</div>
                  <div style="color:{{myClolr}};transform: rotate({{myArc1}}deg);font-size:{{mySize1}}px;transform: rotate({{myRotate1}}deg);letter-spacing: {{myWordSpace1}}px;"> {{addtxt10}}</div>

                  <!-- <img class="right-chest" ng-src="{{customizedShirt.rightchest.image | serverimage}}" alt="" ng-style="customizedShirt.rightchest.attributes"> -->
                </div>
                <!-- <br>
                                <div class="div-right-chest" ng-if="customizedShirt.front" ng-style="customizedShirt.rightchest.divattributes"><!-- <img class="right-chest" ng-src="{{customizedShirt.rightchest.image | serverimage}}" alt="" ng-style="customizedShirt.rightchest.attributes"> -->
                <!-- </div> -->
                <div class="div-right-sleeve" ng-if="customizedShirt.rightsleeve.image" ng-style="customizedShirt.rightsleeve.divattributes" ng-class="{'div-right-sleeve':customizedShirt.front,'div-left-sleeve':customizedShirt.back}">
                  <img ng-class="{'right-sleeve':customizedShirt.front,'left-sleeve':customizedShirt.back}" ng-src="{{customizedShirt.rightsleeve.image | serverimage}}" alt="" ng-style="customizedShirt.rightsleeve.attributes">
                </div>
                <div class="div-back" ng-if="customizedShirt.back && customizedShirt.backlogo.image" ng-style="customizedShirt.backlogo.divattributes">
                  <img ng-src="{{customizedShirt.backlogo.image | serverimage}}" alt="" ng-style="customizedShirt.backlogo.attributes">
                </div>
                <div class="div-backccc" ng-if="customizedShirt.back && customizedShirt.rightchest.image != 'img/logo_black.png'">
                  <img src="img/logo_green.png" alt="" class="img-responsive">
                </div>
                <div ng-if="customizedShirt.back" class="{{jerseyBackArr[0].font+'-font'}}" ng-style="{'color': jerseyBackArr[0].color}">
                  <div class="odi-t jersey-name uppercase text-center"><p ng-style="jerseyBackArr[0].attributes.name">{{jerseyBackArr[0].name}}</p></div>
                  <div class="odi-t jersey-no text-center" ng-style="jerseyBackArr[0].attributes.number">{{jerseyBackArr[0].no}}</div>
                </div>
            <!-- <img class="" src="img/people.png" alt=""> -->
            <!-- <img class="" src="img/people.png" alt=""> -->
          </div>
          <div class="prev inline-block">
            <p class="uppercase" ng-click="switchFrontBack(false); switchTrimHighlightOne(false, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(false, trimTshirt.highlightTwo.tcolor); switchTrimHighlightBase(false);"><img src="img/back.png" class="img-responsive" alt="">back</p>
          </div>
          <div class="next inline-block">
            <p class="uppercase" ng-click="switchFrontBack(true); switchTrimHighlightOne(true, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(true, trimTshirt.highlightTwo.tcolor); switchTrimHighlightBase(true);"><img src="img/back.png" class="img-responsive" alt="">front</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="desc-sec">
        <h3 class="sum-head">SUMMARY</h3>
        <hr>
        <p class="mgb20 inline-block">Design: </p><span class="designer-name">MATT B&amp;Y</span>
        <div>
          <p class="inline-block mgb20">Colour: <span class="colour-selection">
                <div class="options color-selr inline-block mgb20">
                  <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="trimTshirt.highlightBase.hcolor">Base</button> <span ng-style="{'background-color': '{{trimTshirt.highlightBase.hcolor}}'}" ng-if="trimTshirt.highlightBase.hcolor"></span>
                  <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="trimTshirt.highlightOne.hcolor">Trim 1</button> <span ng-style="{'background-color': '{{trimTshirt.highlightOne.hcolor}}'}" ng-if="trimTshirt.highlightOne.hcolor"></span>
                  <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="trimTshirt.highlightTwo.hcolor">Trim 2</button> <span ng-style="{'background-color': '{{trimTshirt.highlightTwo.hcolor}}'}" ng-if="trimTshirt.highlightTwo.hcolor"></span>
                  <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="trimTshirt.highlightCollar">Collar</button> <span ng-style="{'background-color': '{{trimTshirt.highlightCollar.hcolor}}'}" ng-if="trimTshirt.highlightCollar"></span>
              </div>
              </span>
          </p>
        </div>
        <div class="mgb20" ng-if="customizedShirt.teamlogo">
          <p class="inline-block mgb20 wd88">Team Logo:</p>
          <div class="team-logo inline-block mgl-20 va-mid">
            <img ng-src="{{customizedShirt.teamlogo.image | serverimage}}" alt="" class="img-responsive logo-img">
          </div>
        </div>
        <div class="mgb20">
          <p class="inline-block">Sponsor Logos:</p>
          <div class="new-scrolldiv block-box">
            <div class="spon-logo">
              <div class="team-logo inline-block mgl-20 va-mid" ng-if="customizedShirt.rightchest">
                <img ng-src="{{customizedShirt.rightchest.image | serverimage}}" alt="" class="img-responsive logo-img">
              </div>
              <div class="team-logo inline-block mgl-20 va-mid" ng-if="customizedShirt.mainlogo">
                <img ng-src="{{customizedShirt.mainlogo.image | serverimage}}" alt="" class="img-responsive logo-img">
              </div>
              <div class="team-logo inline-block mgl-20 va-mid" ng-if="customizedShirt.leftsleeve">
                <img ng-src="{{customizedShirt.leftsleeve.image | serverimage}}" alt="" class="img-responsive logo-img">
              </div>
              <div class="team-logo inline-block mgl-20 va-mid" ng-if="customizedShirt.rightsleeve">
                <img ng-src="{{customizedShirt.rightsleeve.image | serverimage}}" alt="" class="img-responsive logo-img">
              </div>
              <div class="team-logo inline-block mgl-20 va-mid" ng-if="customizedShirt.backlogo">
                <img ng-src="{{customizedShirt.backlogo.image | serverimage}}" alt="" class="img-responsive logo-img">
              </div>
            </div>
          </div>
        </div>
        <div class="mgb20">
        <p class="inline-block mgr-10">Order Quantity:</p>
          <div class="inline-block">
            <div class="inline-block quantity-number pdl10" ng-if="quantitySizeS > 0">
              <span>S</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantitySizeS}}</button>
              <ul class="sizeUlli">
                <li ng-repeat="n in nameS">
                  <span>{{n.name}}</span>
                  <span>{{n.no}}</span>
                </li>
              </ul>
            </div>
            <div class="inline-block quantity-number pdl10" ng-if="quantitySizeM > 0">
              <span>M</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantitySizeM}}</button>
              <ul class="sizeUlli">
                <li ng-repeat="n in nameM">
                  <span>{{n.name}}</span>
                  <span>{{n.no}}</span>
                </li>
              </ul>
            </div>
            <div class="inline-block quantity-number pdl10" ng-if="quantitySizeL > 0">
              <span>L</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantitySizeL}}</button>
              <ul class="sizeUlli">
                <li ng-repeat="n in nameL">
                  <span>{{n.name}}</span>
                  <span>{{n.no}}</span>
                </li>
              </ul>
            </div>
            <div class="inline-block quantity-number pdl10" ng-if="quantitySizeXL > 0">
              <span>XL</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantitySizeXL}}</button>
              <ul class="sizeUlli">
                <li ng-repeat="n in nameXL">
                  <span>{{n.name}}</span>
                  <span>{{n.no}}</span>
                </li>
              </ul>
            </div>
            <div class="inline-block quantity-number pdl10" ng-if="quantitySizeXXL > 0">
              <span>XXL</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantitySizeXXL}}</button>
              <ul class="sizeUlli">
                <li ng-repeat="n in nameXXL">
                  <span>{{n.name}}</span>
                  <span>{{n.no}}</span>
                </li>
              </ul>
            </div>
            <div class="inline-block quantity-number pdl10" ng-if="quantitySizeXXL > 0">
              <span>XXXL</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantitySizeXXXL}}</button>
              <ul class="sizeUlli">
                <li ng-repeat="n in nameXXXL">
                  <span>{{n.name}}</span>
                  <span>{{n.no}}</span>
                </li>
              </ul>
            </div>
            <div class="inline-block quantity-number pdl30">
              <span>TOTAL</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{totalQuan}}</button>
            </div>
          </div>
        </div>
        <h3 class="mgb20">Price: <i class="fa fa-inr va-sub"></i>{{totalAmount}}</h3>
        <textarea rows="5" placeholder="comments" class="wd100"></textarea>
      </div>
      <div class="edit-btn text-left">
        <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN</button>
        <button ui-sref="checkout" class="btn btn-outline btn-dark letter-spacing">CHECKOUT</button>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- *************************************************************** BAT ***************************************************************************** -->
  <div class="container" ng-if="tshirtdata && tshirtdata.designType == 'bat'">
    <div class="product-detail">
      <div class="row">
        <!--<pre>{{customizedShirt}}</pre>
        <pre>{{trimTshirt}}</pre>
        <pre>{{jerseyBackArr}}</pre>-->
        <div class="col-md-5">
          <div class="" id="style-2">
            <div class="text-center">
              <div class="gully-shirt">
                  <img src="img/bat/bat.jpg" class="img-responsive" alt="">
                  <div class="bat-text">
                      <p>{{tshirtdata.batText}}</p>
                  </div>
              </div>
          <!--<div class="prev inline-block">
            <p class="uppercase" ng-click="switchFrontBack(false); switchTrimHighlightOne(false, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(false, trimTshirt.highlightTwo.tcolor); switchTrimHighlightBase(false);"><img src="img/back.png" class="img-responsive" alt="">back</p>
          </div>
          <div class="next inline-block">
            <p class="uppercase" ng-click="switchFrontBack(true); switchTrimHighlightOne(true, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(true, trimTshirt.highlightTwo.tcolor); switchTrimHighlightBase(true);"><img src="img/back.png" class="img-responsive" alt="">front</p>
          </div>-->
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="desc-sec">
        <h3 class="sum-head">SUMMARY</h3>
        <hr>
        <p class="mgb20 inline-block">Design: </p><span class="designer-name">VIKINGS</span>
        <div>
          <p class="inline-block mgb20">Text:</p>
          <div class="options inline-block mgb20 mgl-10 fs-16"><span>{{tshirtdata.batText}}</span></div>
        </div>
        <div class="">
        <p class="inline-block mgr-10">Order Quantity:</p>
          <div class="inline-block mgb20 fs-16"><span>{{tshirtdata.batQuantity}}</span></div>
        </div>
        <h3 class="mgb20 inline-block">Price:</h3>
        <div class="inline-block mgb20 mgl-10 fs-16"><i class="fa fa-inr va-sub"></i> {{tshirtdata.totalAmount}}</div>
        <textarea rows="5" placeholder="comments" class="wd100"></textarea>
      </div>
      <div class="edit-btn text-left">
        <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN</button>
        <button ui-sref="checkout" class="btn btn-outline btn-dark letter-spacing">CHECKOUT</button>
      </div>
    </div>
  </div>
  </div>
  </div>


  <!-- *************************************************************** GLOVES ***************************************************************************** -->
  <div class="container" ng-if="tshirtdata && tshirtdata.designType == 'gloves'">
    <div class="product-detail">
      <div class="row">
        <!--<pre>{{customizedShirt}}</pre>
        <pre>{{trimTshirt}}</pre>
        <pre>{{jerseyBackArr}}</pre>-->
        <div class="col-md-5">
          <div class="" id="style-2">
            <div class="text-center">
              <div class="gully-shirt" ng-if="Arrayname=='$scope.glovesImages1'">
                  <img src="{{selectedImage}}" class="img-responsive" alt="">
              </div>
              <div class="gully-shirt" ng-if="Arrayname=='$scope.glovesImages2'">
                  <img src="{{selectedImage}}" class="img-responsive" alt="">
              </div>
              <div class="gully-shirt" ng-if="Arrayname=='$scope.glovesImages3'">
                  <img src="{{selectedImage}}" class="img-responsive" alt="">
              </div>
              <div class="gloves-logo" ng-if="glovesLogo.image" ng-style="glovesLogo.divattributes">
                  <img ng-src="{{glovesLogo.image | serverimage}}" class="img-responsive" alt="" ng-style="glovesLogo.attributes">
              </div>
          </div>
        </div>
      </div>
    <div class="col-md-7">
      <div class="desc-sec">
        <h3 class="sum-head">SUMMARY</h3>
        <hr>
        <p class="mgb20 inline-block">Design: </p><span class="designer-name">SWITCH</span>
        <div>
          <!--<p class="inline-block mgb20">Colour: <span class="colour-selection">
                <div class="options color-selr inline-block mgb20">
                  <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="baseColor">Base</button> <span ng-style="{'background-color': '{{baseColor}}'}" ng-if="baseColor"></span>
              </div>
              </span>
          </p>-->
        </div>
        <div class="mgb20" ng-if="glovesLogo.image">
          <p class="inline-block mgb20 wd88">Team Logo:</p>
          <div class="team-logo inline-block mgl-20 va-mid">
            <img ng-src="{{glovesLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
          </div>
        </div>
        <div class="mgb20">
        <p class="inline-block mgr-10">Order Quantity:</p>
          <div class="inline-block">
            <div class="inline-block quantity-number pdl10" ng-if="quantityLeft > 0">
              <span>Left</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantityLeft}}</button>
            </div>
            <div class="inline-block quantity-number pdl10" ng-if="quantityRight > 0">
              <span>Right</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{quantityRight}}</button>
            </div>
            <div class="inline-block quantity-number pdl30">
              <span>TOTAL</span>
              <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-click="tabchanges('light3',3)">{{totalQuan}}</button>
            </div>
          </div>
        </div>
        <!--<h3 class="mgb20">Price: <i class="fa fa-inr va-sub"></i>{{totalAmount}}</h3>-->
        <h3 class="mgb20 inline-block">Price:</h3>
        <div class="inline-block mgb20 mgl-10 fs-16"><i class="fa fa-inr va-sub"></i> {{totalAmount}}</div>
        <textarea rows="5" placeholder="comments" class="wd100"></textarea>
      </div>
      <div class="edit-btn text-left">
        <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN</button>
        <button ui-sref="checkout" class="btn btn-outline btn-dark letter-spacing">CHECKOUT</button>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>


  <!--<div class="row">
    <div class="second-sec">
      <div class="col-md-5">
        <div class="scroll-image" id="style-2">
          <div class="text-center">
            <div class="gully-shirt">
              <img ng-src="{{customizedShirt.cloth}}" class="img-responsive" alt="">
              <img ng-src="{{customizedShirt.backdrop}}" class="backdrop img-responsive" alt="">
              <img ng-src="{{trimTshirt.highlightOne.image}}" ng-if="trimTshirt.highlightOne.image" class="trimshirt img-responsive" alt="">
              <img ng-src="{{trimTshirt.highlightTwo.image}}" ng-if="trimTshirt.highlightTwo.image" class="trimshirt img-responsive" alt="">
              <img ng-src="{{trimTshirt.collar}}" ng-if="trimTshirt.collar" class="trimshirt img-responsive" alt="">
              <div class="div-main-logo" ng-if="customizedShirt.front && customizedShirt.mainlogo.image" ng-style="customizedShirt.mainlogo.divattributes">
                <img class="main-logo" ng-src="{{customizedShirt.mainlogo.image | serverimage}}" alt="" ng-style="customizedShirt.mainlogo.attributes">
              </div>
              <div class="div-back-sponsor1" ng-if="customizedShirt.back && customizedShirt.backsponsor1.image" ng-style="customizedShirt.backsponsor1.divattributes">
                <img class="back-sponsor1" ng-src="{{customizedShirt.backsponsor1.image | serverimage}}" alt="" ng-style="customizedShirt.backsponsor1.attributes">
              </div>
              <div class="div-back-sponsor2" ng-if="customizedShirt.back && customizedShirt.backsponsor2.image" ng-style="customizedShirt.backsponsor2.divattributes">
                <img class="back-sponsor2" ng-src="{{customizedShirt.backsponsor2.image | serverimage}}" alt="" ng-style="customizedShirt.backsponsor2.attributes">
              </div>
              <div class="div-left-chest" ng-if="customizedShirt.front && customizedShirt.leftchest.image" ng-style="customizedShirt.leftchest.divattributes">
                <img class="left-chest" ng-src="{{customizedShirt.leftchest.image | serverimage}}" alt="" ng-style="customizedShirt.leftchest.attributes">
              </div>
              <div class="div-left-sleeve" ng-if="customizedShirt.leftsleeve.image" ng-style="customizedShirt.leftsleeve.divattributes"
                ng-class="{'div-left-sleeve':customizedShirt.front,'div-right-sleeve':customizedShirt.back}">
                <img ng-class="{'left-sleeve':customizedShirt.front,'right-sleeve':customizedShirt.back}" ng-src="{{customizedShirt.leftsleeve.image | serverimage}}"
                  alt="" ng-style="customizedShirt.leftsleeve.attributes">
            </div>
            <div class="div-right-chest" ng-if="customizedShirt.front && customizedShirt.rightchest.image" ng-style="customizedShirt.rightchest.divattributes">
              <img class="right-chest" ng-src="{{customizedShirt.rightchest.image | serverimage}}" alt="" ng-style="customizedShirt.rightchest.attributes">
            </div>
            <div class="div-right-chest disblock" ng-if="customizedShirt.front && myhide" ng-style="customizedShirt.rightchest.divattributes">
              <div style="color:{{myClolr}};transform: rotate({{myArc}}deg);font-size:{{mySize}}px;transform: rotate({{myRotate}}deg);letter-spacing: {{myWordSpace}}px;mymodel.name">{{mymodel.name}}</div>
              <div style="color:{{myClolr}};transform: rotate({{myArc1}}deg);font-size:{{mySize1}}px;transform: rotate({{myRotate1}}deg);letter-spacing: {{myWordSpace1}}px;">
                {{addtxt10}}</div>
             <img class="right-chest" ng-src="{{customizedShirt.rightchest.image | serverimage}}" alt="" ng-style="customizedShirt.rightchest.attributes">
            </div>
            <div class="div-right-sleeve" ng-if="customizedShirt.rightsleeve.image" ng-style="customizedShirt.rightsleeve.divattributes"
              ng-class="{'div-right-sleeve':customizedShirt.front,'div-left-sleeve':customizedShirt.back}">
              <img ng-class="{'right-sleeve':customizedShirt.front,'left-sleeve':customizedShirt.back}" ng-src="{{customizedShirt.rightsleeve.image | serverimage}}"
                alt="" ng-style="customizedShirt.rightsleeve.attributes">
          </div>
          <div ng-if="customizedShirt.back && tab=='quantiy'" class="{{jerseyBack.font+'-font'}}" ng-style="{'color': jerseyBack.color}">
            <div class="odi-t jersey-name text-center">{{jerseyBack.name}}</div>
            <div class="odi-t jersey-no text-center">{{jerseyBack.no}}</div>
          </div>
        </div>
        <div class="prev inline-block">
          <p class="uppercase" ng-click="switchFrontBack(false); switchTrimHighlightOne(false, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(false, trimTshirt.highlightTwo.tcolor)"><img src="img/back.png" class="img-responsive" alt="">back</p>
        </div>
        <div class="next inline-block">
          <p class="uppercase" ng-click="switchFrontBack(true); switchTrimHighlightOne(true, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(true, trimTshirt.highlightTwo.tcolor)"><img src="img/back.png" class="img-responsive" alt="">front</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="summary-2">
      <i class="fa fa-times pull-right close-btn" aria-hidden="true"></i>
      <div class="desc-sec pdt50">
        <p class="mgb20 inline-block">Design: </p><span class="designer-name">MATT B&amp;Y</span>
        <div>
          <p class="inline-block">Order Quantity:
            <div class="visible-md visible-lg inline-block">
              <div class="inline-block quantity-number pdl30">
                <span>S</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">20</button>
              </div>
              <div class="inline-block quantity-number">
                <span>M</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">40</button>
              </div>
              <div class="inline-block quantity-number">
                <span>XL</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">50</button>
              </div>
              <div class="inline-block quantity-number pdl30">
                <span>TOTAL</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">110</button>
              </div>
            </div>
            <div class="visible-xs visible-sm">
              <div class="inline-block quantity-number pdl30">
                <span>S</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">20</button>
              </div>
              <div class="inline-block quantity-number">
                <span>M</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">40</button>
              </div>
              <div class="inline-block quantity-number">
                <span>XL</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">50</button>
              </div>
              <div class="inline-block quantity-number pdl30">
                <span>TOTAL</span>
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">110</button>
              </div>
            </div>
          </p>
        </div>
        <h3 class="mgb60">Price: <i class="fa fa-inr va-sub"></i> 35000</h3>
        <h3>Total Price: <i class="fa fa-inr va-sub"></i> 70000</h3>
        <div class="checkboxing small-font">
          <input type="checkbox" class="form-control" id="later">
          <label for="later" class="checkout-checkbox"><span></span>I agree this is my final order</label>
        </div>
        <div class="edit-btn inline-block">
          <button href="" class="btn btn-outline btn-dark letter-spacing">ADD TO CART</button>
        </div>
        <textarea rows="5" placeholder="comments" class="wd100"></textarea>
        <div class="edit-btn text-center">
          <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE &amp; SHARE DESIGN</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>-->
</section>