<section>
  <div class="heading">
    <div class="container">
      <div class="text-center">
        <h3 class="high-light main-head ">REVIEW YOUR FINAL ORDER</h3>
      </div>
  </div>
  </div>
  <div class="container">
    <div class="product-detail">
      <div class="row">
        <div class="col-md-5">

        </div>
          <div class="col-md-7">
          <div class="desc-sec">
              <h3 class="sum-head">SUMMARY</h3>
            <hr>
            <p>Design: <span class="designer-name">MATT B&amp;Y</span></p>
            <p>Colour: <span class="colour-selection">
              <div class="options color-sel">
                <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light3',3)">Highlight 1</button>
                <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light1',1)">Highlight 2</button>
                <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light2',2)">Palette</button>
                <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing  block" ng-click="tabchanges('light2',2)">Collar</button>
            </div>
            </span>
          </p>
<p>Team Logo: <div class="team-logo inline-block">
  <img src="img/custom/c4.jpg" alt="" class="img-responsive logo-img">
</div></p>
<p>Sponsor Logos: <div class="team-logo inline-block">
  <img src="img/custom/c4.jpg" alt="" class="img-responsive logo-img">
</div></p>
<p>Order Quantity:
<div class="inline-block quantity-number">
   <span>S</span>
  <span>20</span>
  </div>
  <div class="inline-block quantity-number">
     <span>M</span>
    <span>40</span>
    </div>
    <div class="inline-block quantity-number">
       <span>XL</span>
      <span>50</span>
      </div>
      <div class="inline-block quantity-number">
         <span>Total</span>
        <span>110</span>
        </div>
</p>
<h3>Price: <i class="fa fa-inr"></i>35000</h3>
<textarea rows="5" placeholder="comments" class="wd100">

</textarea>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="second-sec">
          <div class="col-md-5"></div>
          <div class="col-md-7">
<div class="summary-2">
  <i class="fa fa-times pull-right close-btn" aria-hidden="true"></i>
  <div class="desc-sec pdt50">
  <p>Design: <span class="designer-name">MATT B&amp;Y</span></p>
  <p>Order Quantity:
  <div class="inline-block quantity-number">
     <span>S</span>
    <span>20</span>
    </div>
    <div class="inline-block quantity-number">
       <span>M</span>
      <span>40</span>
      </div>
      <div class="inline-block quantity-number">
         <span>XL</span>
        <span>50</span>
        </div>
        <div class="inline-block quantity-number">
           <span>Total</span>
          <span>110</span>
          </div>
  </p>
  <h3>Price: <i class="fa fa-inr"></i>35000</h3>
  </div>
</div>
            </div>

        </div>

      </div>
    </div>
 </section>
