<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-include="template.account"></div>
      </div>
    </div>
  </div>
  <div class="container min-hght">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="order-table wish-table">
            <table class="table">
              <thead>
                <tr class="text-center desktop">
                  <th>TRANSITION ID</th>
                  <th>DATE </th>
                  <th>AMOUNT</th>
                  <th>STATUS</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>
                    <span class="mobile">TRANSITION ID</span> 1586972348 </td>
                  <td>
                    <span class="mobile">DATE </span>5.6.12 </td>
                  <td>
                    <span class="mobile">AMOUNT</span>5800 </td>
                  <td>
                    <span class="mobile">STATUS</span>DISPATCHED</td>
                  <td>
                    <button type="submit" class="btn btn-outline btn-dark padding-btn">PRINT INVOICE</button>
                  </td>
                </tr>
                <tr class="text-center">
                  <td>
                    <span class="mobile">TRANSITION ID</span> 1586972348 </td>
                  <td>
                    <span class="mobile">DATE </span>5.6.12 </td>
                  <td>
                    <span class="mobile">AMOUNT</span>5700 </td>
                  <td>
                    <span class="mobile">STATUS</span>DISPATCHED</td>
                  <td>
                    <button type="submit" class="btn btn-outline btn-dark padding-btn">PRINT INVOICE</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</section>
