<section>
  <div class="heading">
    <div class="container">
      <div class="text-center">
        <h3 class="high-light main-head ">REVIEW YOUR FINAL ORDER</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product-detail">
      <div class="row">
        <div class="col-md-5">
          <custom design="design.description" ng-if="design.description">
          </custom>
        </div>
        <div class="col-md-7">
          <div class="desc-sec">
            <h3 class="sum-head">SUMMARY</h3>
            <hr>
            <p class="mgb20 inline-block">Design: </p><span class="designer-name">{{design.description.design.name}}</span>
            <div>
              <p class="inline-block mgb20">Colour: <span class="colour-selection"></span>
                <div class="options color-selr inline-block mgb20">

                  <div ng-if="design.description.isBase">
                    <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="!(design.description.type == 'pads' || design.description.type == 'gloves')">Base</button>
                    <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="(design.description.type == 'pads' || design.description.type == 'gloves')"
                      style="cursor:inherit;">TRIM</button>
                    <span ng-style="{'background-color': '{{design.description.color.base}}'}" ng-if="design.description.color.base"></span>
                  </div>

                  <div ng-if="design.description.isTrim1">
                    <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="design.description.color.trim1 && design.description.color.trim1 != ''">Trim 1</button>                    <span ng-style="{'background-color': '{{design.description.color.trim1}}'}" ng-if="design.description.color.trim1"></span>
                  </div>

                  <div ng-if="design.description.isTrim2">
                    <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing block" ng-if="design.description.color.trim2 && design.description.color.trim2 != ''">Trim 2</button>                    <span ng-style="{'background-color': '{{design.description.color.trim2}}'}" ng-if="design.description.color.trim2"></span>
                  </div>


                </div>
              </p>
            </div>
            <div class="mgb20" ng-if="design.description.teamLogo && design.description.teamLogo.image">
              <p class="inline-block mgb20 wd88">Team Logo:</p>
              <div class="team-logo inline-block mgl-20 va-mid">
                <img ng-src="{{design.description.teamLogo.image|serverimage}}" alt="" class="img-responsive logo-img">
              </div>
              <span class="capitalize mgl-20">{{printType}}</span>
            </div>
            <div class="mgb20" ng-if="design.description.rightLogo.image || design.description.rightChestLogo.image ||  design.description.leftLogo.image || design.description.mainlogo.image || design.description.rightsleeve.image || design.description.backSponsorLogo.image">
              <p class="inline-block">Sponsor Logos:</p>
              <div class="new-scrolldiv block-box">
                <div class="spon-logo">
                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.rightLogo && design.description.rightLogo.image">
                    <img ng-src="{{design.description.rightLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>
                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.rightChestLogo && design.description.rightChestLogo.image">
                    <img ng-src="{{design.description.rightChestLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>
                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.mainlogo && design.description.mainlogo.image">
                    <img ng-src="{{design.description.mainlogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>
                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.leftLogo && design.description.leftLogo.image">
                    <img ng-src="{{design.description.leftLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>
                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.rightsleeve && design.description.rightsleeve.image">
                    <img ng-src="{{design.description.rightsleeve.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>

                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.mainSponsorLogo && design.description.mainSponsorLogo.image">
                    <img ng-src="{{design.description.mainSponsorLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>

                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.leftSleeveLogo && design.description.leftSleeveLogo.image">
                    <img ng-src="{{design.description.leftSleeveLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>

                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.rightSleeveLogo && design.description.rightSleeveLogo.image">
                    <img ng-src="{{design.description.rightSleeveLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>

                  <div class="team-logo inline-block mgl-20 va-mid" ng-if="design.description.backSponsorLogo && design.description.backSponsorLogo.image">
                    <img ng-src="{{design.description.backSponsorLogo.image | serverimage}}" alt="" class="img-responsive logo-img">
                  </div>

                </div>
              </div>
            </div>
            <div class="mgb20" ng-if="design.description.font.fontStyle">
              <p class="inline-block">Font Type:</p>
              <span class="text-uppercase mgl-20 fs-16">{{design.description.font.fontStyle}}</span>
            </div>
            <div class="mgb20" ng-if="design.description.font.fontColor">
              <p class="inline-block">Font Colour:</p>
              <span class="font-color-span" ng-style="{'background-color': '{{design.description.font.fontColor}}'}"></span>
            </div>
            <div class="mgb20" ng-if="design.description.font.nameSize || design.description.font.numberSize">
              <p class="inline-block">Font Size:</p>
              <span class="mgl-20 fs-16" ng-if="design.description.font.nameSize">Name:</span>
              <span class="text-bold mgl-10" ng-if="design.description.font.nameSize">{{design.description.font.nameSize}} px</span>
              <span class="mgl-10" ng-if="design.description.font.nameSize">|</span>
              <span class="mgl-10" ng-if="design.description.font.numberSize">Number:</span>
              <span class="text-bold mgl-10" ng-if="design.description.font.numberSize">{{design.description.font.numberSize}} px</span>
            </div>
            <div class="mgb20">
              <p class="inline-block mgr-10" style="vertical-align: top;">Order Quantity:</p>
              <div class="inline-block">
                <table class="table table-ordersummary">
                  <thead>
                    <tr>
                      <th class="uppercase">size</th>
                      <th class="uppercase" ng-if="design.description.type=='odi'">sleeve</th>
                      <th class="uppercase">qty.</th>
                      <th class="uppercase" ng-if="design.description.type=='odi'">name</th>
                      <th class="uppercase" ng-if="design.description.type=='odi'">no.</th>
                    </tr>
                  </thead>
                </table>
                <table class="table table-ordersummary no-margin">
                  <tbody>
                    <tr ng-repeat="jersey in design.description.quantity track by $index" ng-if="jersey.quantity && jersey.quantity != 0">
                      <td class="text-center size">
                        <span class="capitalize">{{jersey.size}}</span>

                      </td>
                      <td class="text-center sleeve" ng-if="design.description.type=='odi'">
                        <span class="capitalize">{{jersey.sleeve}}</span>
                      </td>
                      <td class="text-center qty">
                        <span class="capitalize">{{jersey.quantity||0}}</span>
                      </td>
                      <td class="text-center name" ng-if="design.description.type=='odi'">
                        <span class="capitalize">{{jersey.name}}</span>
                      </td>
                      <td class="text-center no" ng-if="design.description.type=='odi'">
                        <span class="capitalize">{{jersey.no}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <h3 class="mgb20 inline-block">Price:</h3>
            <div class="inline-block mgb20 mgl-10 fs-24">{{design.description | PriceFilter | currencySymbol}}</div>
            <textarea rows="5" ng-model="checkoutObj.note" placeholder="Ex: Please match colour of the font of name and number to the Trim 2, please change location of back sponsor to below the number, please call before shipping the goods etc."
              class="wd100"></textarea>
            <!--<pre>{{checkoutObj|json}}</pre>-->
          </div>
          <div class="edit-btn text-left">
            <!--<button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="savedDesigns(); openSaveDesignPopup();">SAVE DESIGN</button>-->
            <button class="btn btn-outline btn-dark letter-spacing" ng-click="nocheck();">CONTINUE</button>
          </div>
          <!--ui-sref="customCheckout({id:customId})"-->
        </div>
      </div>
    </div>
  </div>
</section>