<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-include="template.account"></div>
      </div>
    </div>
  </div>
  <div class="container min-hght">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="order-table wish-table" ng-if="orders">
            <table class="table">
              <thead>
                <tr class="text-center desktop">
                  <th>TRANSITION ID</th>
                  <th>DATE </th>
                  <th>AMOUNT</th>
                  <th>STATUS</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" ng-repeat="order in orders">
                  <td>
                    <span class="mobile">TRANSACTION ID</span> {{order.transactionid}} </td>
                  <td>
                    <span class="mobile">DATE </span>{{order.date}} </td>
                  <td>
                    <span class="mobile">AMOUNT</span>{{order.amount}} </td>
                  <td>
                    <span class="mobile">STATUS</span>{{order.status}}</td>
                  <td>
                    <button type="submit" class="btn btn-outline btn-dark padding-btn">PRINT INVOICE</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center" ng-if="!orders">No orders yet.</div>
        </div>
      </div>
    </div>
    <div class="account-bg no-bg"></div>
  </div>
</section>
