<section>
  <div class="margin-bottom">
    <div class="text-center main-head">
      <h3 class="high-light">REVIEW YOUR FINAL ORDER</h3>
    </div>
    <div class="container">
      <div class="product-detail">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="text-center">
              <div class="gully-shirt">
                <img src="img/gloves/glovesorange.png" class="img-responsive" alt="">
              </div>
              <div class="prev inline-block">
                <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">back</p>
              </div>
              <div class="next inline-block">
              <p class="uppercase"><img src="img/back.png" class="img-responsive" alt="">front</p>
              </div>
              <div class="feature-buttons">
                  <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">FORM + FUNCTION</button>
                  <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">DELIVERY</button>
                  <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">CARE</button>
              </div>
              <ul class="tshirt-features">
                <li> Traditional cane rods with HDF side wing protection</li>
                <li>Ergonomically shaped 3-piece shin bolster</li>
                <li>Lightweight design using tested and tried materials</li>
                <li>7 cane width, front and back pads to remove the bulkiness of modern pads keeping a lightweight structure in place while offering the best protection
</li>
                <li>Shin bolster forms perfectly around the lower leg providing immense comfort and protection</li>
              </ul>

            </div>
          </div>
          <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="det-name">
              <h4 class="sum">SUMMARY</h4>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design text-right">
                    <p class="dark uppercase">Design :</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design">
                    <p class="uppercase">INSIDE EDGE 202</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design text-right">
                    <p class="dark ">Color :</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design">
                      <button class="btn btn-outline btn-dark uppercase padding-btn letter-spacing mright15">highlight</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="review">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design text-right">
                    <p class="dark uppercase">Pair :</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="design">
                    <p class="uppercase">right</p>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg28">Team Logo :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="design">
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg28">Sponsor Logos :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="design">
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg10">Order Quantity :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-4 no-pad">
                      <div class="design text-center">
                        <p class="text-center">LEFT</p>
                        <input type="text" class="form-control" placeholder="20">
                      </div>
                    </div>
                    <!-- <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                      <div class="design text-center">
                        <p>M</p>
                        <input type="text" class="form-control" placeholder="40">
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4 no-pad">
                      <div class="design text-center">
                        <p>XL</p>
                        <input type="text" class="form-control" placeholder="60">
                      </div>
                    </div> -->
                    <div class="col-md-offset-2 col-md-4 col-sm-3 col-xs-12">
                      <div class="design text-center">
                        <p class="text-center">TOTAL</p>
                        <input type="text" class="form-control" placeholder="110">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="choos">
              <div class="row">
                <div class="col-md-6">
                    <p class="text-right">Price:</p>
                </div>
                <div class="col-md-6">
                    <p class="text-left"><i class="fa fa-inr"></i> 35000</p>
                </div>
              </div>
            </div>
            <div class="comment-section">
              <div class="form-group">
    <textarea class="form-control" rows="6" placeholder="Comments"></textarea>
  </div>
            </div>

            <div class="check text-center">
                <div class="edit-btn text-center no-border">
                  <button href="" class="btn btn-outline btn-dark padding-btn">Save and Share design</button>
                  <button href="" class="btn btn-outline btn-dark padding-btn"  ng-click="padmatching();">Add to Cart</button>
                </div>
              </form>
            </div>
            <!-- <div class="print-typ">
                <div class="pbotom">
                    <span class="block">Notes :</span>
                    <span class="block">1. The logo of your sponsors will be sublimated. </span>
                    <span class="block">2. The logo on the sleeves are not cut in half. It’s just to provide realistic feel.</span>
                    <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                    <span><a href="">Click here</a> to find out how?</span>
                </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
</section>
