<section>
    <div class="margin-bottom">
        <div class="text-center main-head">
            <h3 class="high-light">{{productdetail.product.name}}</h3>
        </div>
        <div class="row-flex no-row-flex">
            <div class="col-flex">
                <div class="img-holder">
                    <img ng-src="{{selectedImage || productdetail.productimages[0].image | serverimage}}" class="img-responsive">
                </div>
                <div class="row">
                    <div class="col-md-4" ng-repeat="item in productdetail.productimages" ng-click="selectImage(item)">
                        <div class="img-hold">
                            <img ng-src="{{item.image | serverimage}}" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-flex">
                <div class="product-desc">
                    <div class="pro-rp">
                        <p ng-class="{'strike-text':firstsale}"><i class="fa fa-inr"></i>{{productdetail.product.price}}</p>
                        <span ng-show="firstsale"><i class="fa fa-inr"></i>{{productdetail.product.firstsaleprice}}</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="pro-detail">
                        <accordion close-others="oneAtATime" is-open="status.open">
                            <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <accordion-heading>
                                    DESCRIPTION <i class="fa" ng-class="{'fa-caret-down': status.isFirstOpen, 'fa-caret-right': !status.isFirstOpen}"></i>
                                </accordion-heading>
                                <div class="" ng-bind-html="productdetail.product.description || 'Loading..'"></div>
                            </accordion-group>
                            <accordion-group is-open="status.open2">
                                <accordion-heading>
                                    DETAILS <i class="fa" ng-class="{'fa-caret-down': status.open2, 'fa-caret-right': !status.open2}"></i>
                                </accordion-heading>
                                <div class="" ng-bind-html="productdetail.product.details || 'Loading..'"></div>
                            </accordion-group>
                            <accordion-group is-open="status.open3">
                                <accordion-heading>
                                    DELIVERY <i class="fa" ng-class="{'fa-caret-down': status.open3, 'fa-caret-right': !status.open3}"></i>
                                </accordion-heading>
                                <div class="" ng-bind-html="productdetail.product.delivery || 'Loading..'"></div>
                            </accordion-group>

                            <accordion-group is-open="status.open4">
                                <accordion-heading>
                                    CARE <i class="fa" ng-class="{'fa-caret-down': status.open4, 'fa-caret-right': !status.open4}"></i>
                                </accordion-heading>
                                <div class="" ng-bind-html="productdetail.product.care || 'Loading..'"></div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="custom-btn">

                        <a class="btn btn-outline btn-dark letter-spacing" href="#/custom">CUSTOMIZE</a>
                        <br>
                        <a class="btn btn-outline btn-dark letter-spacing marg10" ng-click="cartAdd()" ng-hide="outofstock">ADD TO CART</a>
                        <br>
                        <a class="btn btn-outline btn-dark letter-spacing" href="#/mywishlist">Add to wishlist</a>
                        <br>
                        <p ng-show="outofstock"> Out of Stock.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial">
        <div class="container">
          <div class="alert-postion">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
          </div>
            <div class="heading text-center">
                <h4 class="text-uppercase high-light">testimonials</h4>
            </div>
            <div class="slider-prd-detail">
                <flex-slider class="carosuel" flex-slide="test in testimonial track by $index">
                    <li>
                        <div class="slider-info">
                            <div class="slider-imgholder">
                                <img ng-src="{{test.image}}" alt="" class="img-responsive">
                            </div>
                            <div class="info">
                                <h3 class="text-uppercase name letter-spacing">{{test.name}}</h3>
                                <h4 class="location letter-spacing">{{test.location}}</h4>
                                <div class="descp">
                                    <p class="text-justify">{{test.description || 'Loading..'}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
</section>
