<section>
  <div class="margin-bottom">
    <div class="text-center main-head">
      <h3 class="high-light">PLAYING T-SHIRTS</h3>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="img-holder">
          <img src="img/detail/d1.jpg" class="img-responsive">
        </div>
        <div class="row-flex">
          <div class="col-flex">
            <div class="img-hold">
              <img src="img/detail/d2.jpg" class="img-responsive">
            </div>
          </div>
          <div class="col-flex">
            <div class="img-hold">
              <img src="img/detail/d3.jpg" class="img-responsive">
            </div>
          </div>
          <div class="col-flex">
            <div class="img-hold">
              <img src="img/detail/d4.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="product-desc">
          <div class="pro-rp">
            <p><i class="fa fa-inr"></i>900</p>
          </div>
          <div class="pro-detail">

            <accordion close-others="oneAtATime" is-open="status.open">
              <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <accordion-heading>
                  DESCRIPTION <i class="fa" ng-class="{'fa-caret-down': status.isFirstOpen, 'fa-caret-right': !status.isFirstOpen}"></i>
                </accordion-heading>
                The Custom Cricket company cricket shirt is made from wicking fabric that lifts moisture from your body. Tested and built to perform in warm and cold climate conditions. It features the Custom Cricket company on the right chest and at the centre back
                of the tees.
              </accordion-group>
              <accordion-group>
                <accordion-heading>
                  DETAILS <i class="fa" ng-class="{'fa-play': status.isFirstOpen, 'fa-play down': !status.isFirstOpen}"></i>
                </accordion-heading>
                The Custom Cricket company cricket shirt is made from wicking fabric that lifts moisture from your body. Tested and built to perform in warm and cold climate conditions. It features the Custom Cricket company on the right chest and at the centre back
                of the tees.
              </accordion-group>


              <accordion-group>
                <accordion-heading>
                  DELIVERY <i class="fa" ng-class="{'fa-play': status.open, 'fa-play down': !status.open}"></i>
                </accordion-heading>
                <ul class="delivery">
                  <li> Delivery within 4 weeks depending on your exact delivery location. On placing your order, you will receive an email containing a summary of the order and also a more accurate delivery date. Sometimes, delivery may take longer due to
                    - bad weather, flight delays, political disruptions or other unforeseen circumstances.* (Link to terms & conditions)</li>
                  <li> All our indicated prices do not include VAT. Promotional sporting goods shipped from India are VAT free.</li>
                  <li>We are a registered Import/ Export proprietorship with its head office in Mumbai, India.</li>
                </ul>
              </accordion-group>

              <accordion-group>
                <accordion-heading>
                  CARE <i class="fa" ng-class="{'fa-play': status.open, 'fa-play down': !status.open}"></i>
                </accordion-heading>
                Wash when dirty, not too hot, not too cold
              </accordion-group>
            </accordion>
          </div>
          <div class="custom-btn">
            <a class="btn btn-outline btn-dark letter-spacing marg10" href="#/custom">CUSTOMIZE</a>
            <br>
            <a class="btn btn-outline btn-dark letter-spacing" href="#/cart">ADD TO CART</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
