<div class="container-fluid">
  <div class="alert-postion">
    <!-- <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" >{{alert.msg}}</uib-alert> -->
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
  </div>
  <section>
    <div class="margin-bottom">
      <div class="text-center main-head">
        <h3 class="high-light">{{productdetail.product.name}}</h3>
      </div>
      <div class="row-flex no-row-flex">
        <div class="col-flex">
          <div class="img-holder">
            <!-- <img ng-src="{{selectedImage || productdetail.productimages[0].image | serverimage}}" class="img-responsive"> -->
            <!-- <a class="light-make light-shade" fancybox-box href="{{selectedImage || productdetail.productimages[0].image | serverimage}}">
                        Enlarge<i class="fa fa-arrows-alt"></i>
                       </a> -->
            <!-- <img elevate-zoom small-image="{{selectedImage || productdetail.productimages[0].image | serverimage}}" big-image="{{selectedImage || productdetail.productimages[0].image | serverimage}}" class="fix-img" /> -->
            <img elevate-zoom image="selectedImage" ng-if="selectedImage.image" />
            <!-- <a href="#" elevate-zoom data-image="small/image1.jpg" data-zoom-image="large/image1.jpg">
                         <img id="img_01" ng-src="{{selectedImage || productdetail.productimages[0].image | serverimage}}" /> </a> -->
          </div>
          <div class="related-product">
            <flex-slider class="carousel" flex-slide="item in productdetail.productimages track by $index"  animation="slide" item-width="200" item-margin="5">
              <li>
                <div class="repeat-product" ng-click="selectImage(item)">
                  <div class="img-hold">
                    <img ng-src="{{item.image | serverimage}}" class="img-responsive">
                  </div>
                </div>
              </li>
            </flex-slider>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="detail-descptab">
                <ul>
                  <li ng-repeat="detail in menutab"><a href="" class="{{detail.class}} text-uppercase text-medium letter-spacing pro-detail-btn" ng-click="makeActive(detail,$index);">{{detail.name}}</a></li>
                </ul>
              </div>
              <div class="get-me" ng-show="tab==1">
                <div class="pro-descp">
                  <p ng-bind-html="productdetail.product.detail || 'Loading..'"></p>
                </div>
              </div>
              <div class="get-me" ng-show="tab==2">
                <div class="pro-descp">
                  <p ng-bind-html="productdetail.product.delivery || 'Loading..'"></p>
                </div>
              </div>
              <div class="get-me" ng-show="tab==3">
                <div class="pro-descp">
                  <p ng-bind-html="productdetail.product.care || 'Loading..'"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-flex">
          <div class="product-desc">
            <div class="pro-rp">
              <p ng-class="{'strike-text':firstsale}" ng-if="country == 'INR'"><i class="fa fa-inr"></i>{{productdetail.product.price}}</p>
              <p ng-class="{'strike-text':firstsale}" ng-if="country == 'GBP'"><i class="fa fa-gbp"></i>{{productdetail.product.price}}</p>
              <p ng-class="{'strike-text':firstsale}" ng-if="country == 'NZD'"><i class="fa fa-usd"></i>{{productdetail.product.price}}</p>
              <p ng-class="{'strike-text':firstsale}" ng-if="country == 'EUR'"><i class="fa fa-eur"></i>{{productdetail.product.price}}</p>
              <p ng-class="{'strike-text':firstsale}" ng-if="country == 'USD'"><i class="fa fa-usd"></i>{{productdetail.product.price}}</p>
              <p ng-class="{'strike-text':firstsale}" ng-if="country == 'ZAF'"><i>R</i>{{productdetail.product.price}}</p>
              <p ng-class="{'strike-text':firstsale}" ng-if="country == 'AUD'"><i class="fa fa-usd"></i>{{productdetail.product.price}}</p>
              <span ng-show="firstsale"><i class="fa fa-inr"></i>{{productdetail.product.discountprice}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="pro-detail">
              <uib-accordion close-others="oneAtATime" is-open="status.open">
                <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                  <uib-accordion-heading>
                    DESCRIPTION <i class="fa" ng-class="{'fa-caret-down': status.isFirstOpen, 'fa-caret-right': !status.isFirstOpen}"></i>
                  </uib-accordion-heading>
                  <div class="" ng-bind-html="productdetail.product.description || 'Loading..'"></div>
                </uib-accordion-group>
                <uib-accordion-group is-open="status.open3">
                  <uib-accordion-heading>
                    NOTES <i class="fa" ng-class="{'fa-caret-down': status.open3, 'fa-caret-right': !status.open3}"></i>
                  </uib-accordion-heading>
                  <div class="" ng-bind-html="productdetail.product.delivery || 'Loading..'"></div>
                </uib-accordion-group>
              </uib-accordion>
              <!-- apparels size section start -->
              <div class="sel-qty" ng-if="params.category == 'Apparel' ">
                <h3 class="letter-spacing">Select Quantity</h3>
                <div class="choos quantity">
                  <div class="row">
                    <form name="qForm">
                      <div class="col-md-4 col-xs-4">
                        <div class="size ">
                          <p>Size</p>
                          <div class="ccc-select" style="margin: 0;">
                            <select class="text-uppercase" ng-options="size.id as size.name for size in productdetail.size" ng-model="filter.size" ng-click="selectSize(filter)"></select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-xs-4">
                        <div class="size">
                          <p>Quantity</p>
                          <div class="quantity">
                            <input type="number" ng-change="changeQuantity(filter.qty)" required name="quantity" ng-model="filter.qty">
                          </div>
                        </div>
                        <h6 ng-show="maxQuantity">Quantity unavailable</h6>
                      </div>
                    </form>
                  </div>
                  <div class="chart" ng-if="params.subcategory !== 'Caps/hats'">
                    <p>View:
                      <span data-toggle="modal" data-target="#myModal4">Size Chart</span>
                    </p>
                  </div>
                  <div class="modal fade specialSizeChart" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body text-center">
                          <p>SIZE CHART</p>
                          <div class="mod-img ">
                            <img src="img/sizechart.jpg" class="img-responsive" ng-show="sizechartshirt">
                            <img src="img/trouserpop.jpg" class="img-responsive" ng-hide="sizechartshirt">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- apparels size section end -->
              <!-- if bat , ball , kit bag -->

              <div class="show-pads" ng-if="params.category == 'Balls' || params.category == 'Bats' || params.category == 'Kit Bags'">
                <div class="sel-qty">
                  <!-- display button when bat opition is clicked -->
                  <div class="bat-btn" ng-show="params.category == 'Bats'">
                    <button type="button" class="btn-orange letter-spacing text-uppercase">how to choose your bats</button>
                  </div>
                  <a href="https://www.youtube.com/v/Vc1g65sI4Uw" fancybox-box class="bat-btn various fancybox.iframe">
                    <button class="btn-orange letter-spacing text-uppercase">watch video</button>
                  </a>
                  <!-- end display button when bat opition is clicked -->
                  <ul class="padding0">
                    <li>
                      <h3 class="letter-spacing">Select Quantity</h3>
                    </li>
                    <li>
                      <div class="form-group">
                        <div class="">
                        <input type="number" ng-change="changeQuantity(filter.qty)" required name="quantity" ng-model="filter.qty">
                          <span></span>
                        </div>
                      </div>
                    </li>
                  <li> <span class="f15" ng-if="params.category == 'Balls' ">boxes</span></li>
               </ul>
</div>
          </div>
        </div>
        <!-- if bat , ball , kit bag end -->
        <!-- if pads section -->
        <div class="show-pads" ng-if="params.category == 'Pads'">
            <div class="sel-qty">
                  <h3 class="letter-spacing">Select Pairs</h3>
                      <div class="choos quantity">
                        <div class="row">
                          <form name="qForm">
                            <div class="col-md-4 col-xs-4">
                              <div class="size">
                                <p>Left/Right</p>
                                <div class="ccc-select"  style="margin: 0;">
                                  <select class="text-uppercase" ng-options="size.id as size.name for size in productdetail.size" ng-model="filter.size" ng-click="selectSize(filter)"></select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                              <div class="size">
                                <p>Quantity</p>
                                <div class="quantity">
                                  <input type="number" ng-change="changeQuantity(filter.qty)" required name="quantity" ng-model="filter.qty">
                                </div>
                              </div>
                              <h6 ng-show="maxQuantity">Quantity unavailable</h6>
                            </div>
                          </form>
                        </div>
                      </div>
                </div>
              </div>
              <!-- pads section ends -->
              <!-- glove -->
              <div class="show-pads" ng-if="params.category == 'Gloves'">
                <div class="sel-qty">
                  <h3 class="letter-spacing">Select Pairs</h3>
                  <div class="choos quantity">
                    <div class="row">
                      <form name="qForm">
                        <div class="col-md-4 col-xs-4">
                          <div class="size">
                            <p>Left/Right</p>
                            <div class="ccc-select"  style="margin: 0;">
                              <select class="text-uppercase" ng-options="size.id as size.name for size in productdetail.size" ng-model="filter.size" ng-click="selectSize(filter)"></select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                          <div class="size">
                            <p>Quantity</p>
                            <div class="quantity">
                              <input type="number" ng-change="changeQuantity(filter.qty)" required name="quantity" ng-model="filter.qty">
                            </div>
                          </div>
                          <h6 ng-show="maxQuantity">Quantity unavailable</h6>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- glove ends -->
              <div class="custom-btn mt30">
                <!-- <a class="btn btn-outline btn-dark letter-spacing" href="#/custom">CUSTOMIZE</a>
                            <br> -->
                            <a class="btn btn-outline btn-dark letter-spacing mright15" ng-click="cartAdd()" ng-hide="outofstock">ADD TO CART</a>
                <!-- <a class="btn btn-outline btn-dark letter-spacing mright15" ng-click="cartAdd()" ng-hide="outofstock" data-target="#successcart" data-toggle="modal">ADD TO CART</a> -->
                <p ng-show="outofstock"> Out of Stock.</p>
                <a class="btn btn-outline btn-dark letter-spacing" ng-click="wishlistAdd(productdetail.product.id)">Add to wishlist</a>
                <br>
              </div>
            </div>
            <div class="border-top customise-sec">
              <span>Select from a wide array of colors and customisation options</span>
              <div class="mt20 ">
                <button type="button" name="button" class="btn-green letter-spacing" ng-click="customize();">CUSTOMISE NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="testimonial">
      <div class="container" ng-if="productdetail.relatedproduct.length != 0">

        <div class="heading">
          <h4 class="text-uppercase high-light">you may also like</h4>
        </div>
        <div class="slider-prd-detail">
          <flex-slider class="carousel" flex-slide="pro in productdetail.relatedproduct track by $index" animation="slide" item-width="350">
            <li>
              <div class="slider-info" ui-sref="product-detail({
                category:params.category,
                subcategory:params.subcategory,
                id:pro.id
              })">
                <div class="slider-imgholder">
                  <img ng-src="{{pro.image1 | resizeimage800}}" alt="" class=" pointer img-responsive">
                </div>
                <div class="slider-infodetaiil">
                  <h3 class="prd-name">{{pro.name}}</h3>
                  <h4 class="price"><i class="fa fa-inr" ng-if="country == 'INR'"></i><i class="fa fa-gbp" ng-if="country == 'GBP'"></i><i class="fa fa-usd" ng-if="country == 'NZD'"></i><i class="fa fa-eur" ng-if="country == 'EUR'"></i><i class="fa fa-usd" ng-if="country == 'USD'"></i><i ng-if="country == 'ZAF'">R</i><i class="fa fa-usd" ng-if="country == 'AUD'"></i>{{pro.price}}</h4>
                </div>
              </div>
            </li>
          </flex-slider>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="success">
  <div class="modal fade" id="successcart">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Your product has been added to the cart, successfully!</h3>
        <div class="cart-btn clearfix">
            <button class="btn btn-outline btn-dark marg10" data-dismiss="modal">CONTINUE SHOPPING</button>
            <button class="btn btn-outline btn-dark marg10" ng-click="toCheckout()">PROCEED TO CHECKOUT</button>
        </div>
      </div>
    </div>
  </div>
</div>
