<section>
  <div class="margin-bottom">
    <div class="text-center main-head">
      <h3 class="high-light">REVIEW YOUR FINAL ORDER</h3>
    </div>
    <div class="container">
      <div class="product-detail">
        <div class="row">
          <div class="col-md-5">
            <div class="text-center">
              <div class="custom-img">
                <img src="img/custom/c1.jpg" class="img-responsive">
              </div>
              <div class="vertical-icon">
                <img src="img/zoom.jpg">
              </div>
              <div class="horizontal-icon">
                <img src="img/left.jpg">
                <p>ROTATE</p>
                <img src="img/right.jpg">
              </div>

            </div>
          </div>
          <div class="col-md-7">
            <div class="det-name">
              <h4 class="sum">SUMMARY</h4>

            </div>
            <div class="review">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="design text-right">
                    <p class="dark">Design :</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="design">
                    <p>Polo</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="design text-right">
                    <p class="dark ">Trim :</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="design">
                    <p>Orange</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg28">Team Logo :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="design">
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg28">Sponsor Logos :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="design">
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                    <div class="noti-imgs1">
                      <img src="img/custom/c5.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="row">
                <div class="col-xs-6">
                  <div class="design text-right">
                    <p class="dark mg10">Order Quantity :</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-4">
                      <div class="design text-center">
                        <p>S</p>
                        <input type="text" class="form-control" placeholder="2">
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                      <div class="design text-center">
                        <p>M</p>
                        <input type="text" class="form-control" placeholder="2">
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                      <div class="design text-center">
                        <p>XL</p>
                        <input type="text" class="form-control" placeholder="2">
                      </div>
                    </div>
                    <div class="col-md-offset-2 col-md-4 col-sm-3 col-xs-12">
                      <div class="design text-center">
                        <p class="text-center">TOTAL</p>
                        <input type="text" class="form-control" placeholder="110">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right choos">
              <p>Total Price:
                <span><i class="fa fa-inr"></i> 45599</span>
              </p>
            </div>
            <div class="check text-center">
              <form action="" method="get">
                <div class="agree checkbox">
                  <input type="checkbox" id="tc">
                  <label for="tc" class="agree">
                    <span></span>
                    I agree this is my final order
                    <label>
                </div>
                <div class="edit-btn text-center">
                  <button href="" class="btn btn-outline btn-dark padding-btn" data-toggle="modal" data-target="#myModal1">ADD TO CART</button>
                </div>
              </form>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-body text-center modal-review">
                    <h4>Congratulations!</h4>
                    <p>Your customised t-shirt has been added to the cart. Based on your personalised inputs, we have customised trousers ready for you!</p>
                    <div class="row">
                      <div class="col-md-offset-2 col-md-4 col-sm-6">
                        <button href="" class="btn btn-outline btn-dark width-full">CONTINUE SHOPPING</button>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <button href="" class="btn btn-outline btn-dark width-full">PROCEED TO CART</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-offset-2 col-md-8 col-sm-12">
                        <button href="" class="btn btn-outline btn-dark width-full">VIEW ENTIRE CUSTOMIZED KIT</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
