<section>
    <div class="text-center">
        <h3 class="high-light">REVIEW YOUR FINAL ORDER</h3>
    </div>
    <div class="container">
        <div class="product-detail">
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center">
                        <div class="custom-img">
                            <img src="img/custom/c1.jpg" class="img-responsive">
                        </div>
                        <div class="vertical-icon">

                        </div>
                        <div class="horizontal-icon">
                        </div>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="det-name">
                        <h4 class="sum">SUMMARY</h4>

                    </div>
                    <div class="review">
                        <div class="design">
                            <p class="dark text-uppercase">Design :</p>
                        </div>
                        <div class="design">
                            <p>Polo</p>
                        </div>
                    </div>
                    <div class="review">
                        <div class="design">
                            <p class="dark text-uppercase">Trim :</p>
                        </div>
                        <div class="design">
                            <p>Orange</p>
                        </div>
                    </div>

                    <div class="review">
                        <div class="design">
                            <p class="dark text-uppercase">Team Logo :</p>
                        </div>
                        <div class="design">
                            <img src="img/custom/c5.jpg">
                        </div>
                    </div>
                    <div class="review">
                        <div class="design">
                            <p class="dark text-uppercase">Sponsor Logos :</p>
                        </div>
                        <div class="design">
                            <img src="img/custom/c5.jpg">
                            <img src="img/custom/c5.jpg">
                        </div>
                    </div>
                    <div class="review">
                        <div class="design">
                            <p class="dark text-uppercase">Order Quantity:</p>
                        </div>
                        <div class="design">
                            <p>S</p>
                            <input type="text" placeholder="2">
                        </div>
                        <div class="design">
                            <p>M</p>
                            <input type="text" placeholder="2">
                        </div>
                        <div class="design">
                            <p>XL</p>
                            <input type="text" placeholder="2">
                        </div>
                        <div class="design">
                            <p>TOTAL</p>
                            <input type="text" placeholder="110">
                        </div>
                    </div>
                    <div class="text-center">
                        <p>Total Price: <span><i class="fa fa-inr"></i> 45599</span></p>
                    </div>
                    <div class="check">
                        <form action="" method="get">
                            <input type="checkbox" name="" value=""> I agree this is my final order
                            <div class="edit-btn text-center">
                                <button href="" class="btn btn-outline btn-dark" data-toggle="modal" data-target="#myModal1">ADD TO CART</button>
                            </div>
                        </form>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body text-center">
                                    <h4>Congratulations!</h4>
                                    <p>Your customised t-shirt has been added to the cart. Based on your personalised inputs, we have customised trousers ready for you!</p>
                                    <button href="" class="btn btn-outline btn-dark">CONTINUE SHOPPING</button>
                                    <button href="" class="btn btn-outline btn-dark">PROCEED TO CART</button>
                                    <br>
                                    <button href="" class="btn btn-outline btn-dark">VIEW ENTIRE CUSTOMIZED KIT</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
