<section>
    <div class="text-center">
        <h3 class="high-light">REVIEW YOUR FINAL ORDER</h3>
    </div>
    <div class="container">
        <div class="product-detail">
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center">
                        <div class="custom-img">
                            <img src="img/custom/c1.jpg" class="img-responsive">
                        </div>
                        <div class="vertical-icon">

                        </div>
                        <div class="horizontal-icon">
                        </div>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="det-name">
                        <h4 class="sum">SUMMARY</h4>

                    </div>
                    <div class="review">
                        <div class="row">
                           <div class="col-md-6 ">
                                 <div class="design text-right">
                                    <p class="dark">Design :</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="design">
                                    <p>Polo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                       <div class="row">
                           <div class="col-md-6">
                                 <div class="design text-right">
                                    <p class="dark ">Trim :</p>
                                </div>
                            </div>
                           <div class="col-md-6">
                                 <div class="design">
                                    <p>Orange</p>
                                </div>
                            </div>
                       </div>
                    </div>

                    <div class="review">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="design text-right">
                                    <p class="dark mg28">Team Logo :</p>
                                </div>
                            </div>
                                                   <div class="col-md-6">
                                 <div class="design">
                                    <div class="noti-imgs1">
                                        <img src="img/custom/c5.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                       <div class="row">
                             <div class="col-md-6">
                                <div class="design text-right">
                                    <p class="dark mg28">Sponsor Logos :</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="design">
                                    <div class="noti-imgs1">
                                        <img src="img/custom/c5.jpg">
                                    </div>
                                    <div class="noti-imgs1">
                                        <img src="img/custom/c5.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="design text-right">
                                    <p class="dark mg10">Order Quantity :</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="design">
                                            <p>S</p>
                                            <input type="text" class="form-control" placeholder="2">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="design">
                                            <p>M</p>
                                            <input type="text" class="form-control" placeholder="2">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="design">
                                            <p>XL</p>
                                            <input type="text" class="form-control" placeholder="2">
                                        </div>
                                    </div>
                                    <div class="col-md-offset-2 col-md-4">
                                        <div class="design">
                                            <p class="text-center">TOTAL</p>
                                            <input type="text" class="form-control" placeholder="110">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center choos">
                        <p>Total Price: <span><i class="fa fa-inr"></i> 45599</span></p>
                    </div>
                    <div class="check text-center">
                        <form action="" method="get">
                            <input type="checkbox" name="" value="" class="text-center"> I agree this is my final order
                            <div class="edit-btn text-center">
                                <button href="" class="btn btn-outline btn-dark padding-btn" data-toggle="modal" data-target="#myModal1">ADD TO CART</button>
                            </div>
                        </form>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body text-center">
                                    <h4>Congratulations!</h4>
                                    <p>Your customised t-shirt has been added to the cart. Based on your personalised inputs, we have customised trousers ready for you!</p>
                                    <button href="" class="btn btn-outline btn-dark">CONTINUE SHOPPING</button>
                                    <button href="" class="btn btn-outline btn-dark">PROCEED TO CART</button>
                                    <br>
                                    <button href="" class="btn btn-outline btn-dark">VIEW ENTIRE CUSTOMIZED KIT</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
