<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-include="template.account"></div>
      </div>
    </div>
  </div>
  <div class="container check-out">
    <div class="tab-content">
      <div class="row" ng-if="savedDesigns">
        <div class="col-md-4 col-sm-6" ng-repeat="design in savedDesigns track by $index">

          <div class="design-patt text-center">
            <custom design="design.description" style="zoom:0.6521">
            </custom>
            <p class="">{{design.description.name}}</p>
            <button class="btn btn-outline btn-dark padding-btn mg10" ng-click="editDesign(design)">EDIT</button>
            <button class="btn btn-outline btn-dark padding-btn mg10 mg-tp-0" ng-click="deletePopup($index,design.id)">DELETE</button>
          </div>
        </div>
       
      </div>
    </div>
   
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <p>ARE YOU SURE YOU WANT TO DELETE THIS DESIGN</p>
            <button class="btn btn-outline btn-dark padding-btn mg">YES</button>
            <button class="btn btn-outline btn-dark padding-btn mg">NO</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>