<div class="service-main">
  <div class="service-heading">
    <div class="container">
      <div class="service-title">
        <!-- <h2 class="text-uppercase high-light text-center">Services</h2> -->
      </div>
      <div class="service-menu text-center">
        <ul>
          <li>
            <a href="#advancedcutomization" ng-class="{{active}}" ng-click="changeURL('advancedcutomization')"  du-smooth-scroll du-scrollspy>ADVANCED CUSTOMISATION</a>
          </li>
          <li>
            <a href="#customapparel" ng-class="{{active}}" ng-click="changeURL('customapparel')"  du-smooth-scroll du-scrollspy>CUSTOM SPORTS APPAREL</a>
          </li>
          <li>
            <a href="#ccclounge" ng-class="{{active}}" ng-click="changeURL('ccclounge')"  du-smooth-scroll du-scrollspy>CCC LOUNGE</a>
          </li>
          <li>
            <a href="#tours" ng-class="{{active}}" ng-click="changeURL('tours')"  du-smooth-scroll du-scrollspy>TOURS</a>
          </li>
          <li>
            <a href="#foundation"  ng-class="{{active}}"  ng-click="changeURL('foundation')"  du-smooth-scroll du-scrollspy>FOUNDATION</a>
          </li>
          <li>
            <a href="#consultancy"  ng-class="{{active}}"   ng-click="changeURL('consultancy')" du-smooth-scroll du-scrollspy>CONSULTANCY</a>
          </li>
          <li>
            <a href="#memorabilia"  ng-class="{{active}}"  ng-click="changeURL('memorabilia')" du-smooth-scroll du-scrollspy>MEMORABILIA</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section class="advnc-customise service-bg" id="advancedcutomization">
    <div class="bg-blurwhite service-pd">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="customize-main">
              <h2 class="title text-uppercase">advanced customisation</h2>
              <div class="descp text-justify text-bold">
                <p>At the core of our business is to make your cricketing demands come alive. Besides the customization features and products displayed on our website we can take you a step further - Our in-house design team and creative head will help you
                  put together and execute complex designs ideas that come from you. Tweak a logo or a full jersey design and even send us a sample to replicate not just of apparel but your favorite bat too, it can all be done at Custom Cricket Company.
                  Get in touch with us today and explore the opportunities to execute your unique creative. </p>
              </div>
              <a ui-sref="customisation" class="btn btn-outline btn-dark letter-spacing">KNOW MORE</a>
            </div>
          </div>
          <div class="col-md-7">
            <div class="customize-slider service-slider black-direction">
              <flex-slider class="carousel" flex-slide="tshirt in customize track by $index" animation="slide" control-nav="false">
                <li>
                  <div class="tshirt-custmoize">
                    <img alt="" class="img-responsive" ng-src="{{tshirt.img}}">
                  </div>
                </li>
              </flex-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="custom-apparel service-bg" id="customapparel">
    <div class="bg-blurblack service-pd">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="apparel">
              <h2 class="title text-uppercase">3C - custom sports apparel</h2>
              <div class="descp text-justify">
                <p>Is our specialised sports apparel brand that transcends cricket and takes to the world of football, athletics and other racquet sports. Fully customisable apparel wear for all climate conditions indoors and out. Tees, shorts, sweat-shirts,
                  track pants, wind-cheaters and a lot more. Secret pockets zipper sealed pockets, internal comfort lining, sweat absorption fabrics and other innovations at our 'think design' lab. Get in touch with us and start creating your high quality
                  bespoke team gear today.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="apparel-slider service-slider white-direction">
              <flex-slider class="carousel" flex-slide="jersy in apparel track by $index" animation="slide" control-nav="false">
                <li>
                  <div class="jersy-holder">
                    <img alt="" class="img-responsive" ng-src="{{jersy}}">
                  </div>
                </li>
              </flex-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="lounge advertise" id="ccclounge">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-6 col-md-6">
          <div class="lounge-detail">
            <h2 class="title text-uppercase">ccc lounge</h2>
            <div class="descp text-justify">
              <p>Introducing India’s first and only cricket lounge: An interactive space showcasing our wide range of fully customizable products, which opens on 1 March 2016 in the heart of South Mumbai. Our 2000+ sq.ft. plush studio offers our clients
                personal attention for their every need. Book your appointment now for a full service experience or simply join us over coffee for a viewing of fine cricket art and memorabilia. We’d love to see you soon!</p>
              <div class="btn-part">
                <div class="btn btn-outline btn-light text-uppercase" ui-sref="contact">contact us</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tours service-bg" id="tours">
    <div class="bg-blurlightblack service-pd">
      <div class="container">
        <div class="tour-detail">
          <h2 class="title text-uppercase text-center">tours</h2>
          <div class="match-detail">
            <div class="in-bound bound">
              <h4 class="text-bold">In-Bound (India)</h4>
              <h4 class="text-bold">Mumbai | Udaipur (Rajasthan) | Kathiwada (Madhya Pradesh).</h4>
              <p class="descp">Come to India for a fine cricket experience; be it in-stadia to watch the IPL and other international fixtures or even bring your team to play a series spanning three states, we can arrange it all. Custom Cricket Company founders have had
                a wealth of experience in sports hospitality prior to launching the e-commerce portal and excel to provide you the full customer experience. Curate your personal tour with us – we’re a phone call away! See more details below.</p>
              <p class="descp">Play matches at famous city grounds of Mumbai, the capital cricket city of India and enjoy full treats the metro has to offer with our in-house ground team to show you around. Visit principalities and stay in palaces of Udaipur and Kathiwada
                for a full royal experience where you can indulge in rural life to capture the true essence of India with fixtures at their most exquisite cricket grounds.</p>
            </div>
            <div class="out-bound bound">
              <h4 class="text-bold">Out-Bound</h4>
              <div class="descp text-justify">
                <p>We bring you unbeatable prices and a fine experience (tested and tried) from some of the world’s best sporting and tour agencies. We cover UAE, Sri Lanka and UK where you can fulfill childhood dreams of having fixtures at world-class grounds
                  and international stadiums.</p>
                <p>Combined with our ground staff, ticket partners, hotel & travel agencies and event managers we handle turnkey tours so you needn’t lift a finger. For typical tour itineraries, budgets and detailed possibilities please write to us at umpire@customcricketcompany.com
                  or call us anytime.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="foundation service-pd" id="foundation">
    <div class="row-flex">
      <div class="col-flex-50">
        <div class="foundation-banner">
          <img src="img/services/foundation.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-flex-50 foundation-part">
        <div class="foundation-detail">
          <h2 class="title text-uppercase">foundation</h2>
          <div class="descp text-justify">
            <p>All our profits at CCC go towards the betterment of sports infrastructure in rural India. In 2014 we launched our sports initiative to raise funding to build a cricket ground alongside an indoor sports stadium with world standard amenities.
              Located in Kathiwada, Madhya Pradesh this stadium offers unparalleled beauty and serenity which hopes to capture the imagination of every underprivileged child in the region. Coaching academies and vocational training centers will support
              the talent that emerges from the area. </p>
            <p>Already in a short span of time Kathiwada has received much attention towards the cause and one such example is Tom Holland, a celebrated author and historian who has founded BATAID along with The Authors Cricket Club of England to generously
              raise money for the charity annually.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="consultancy" id="consultancy">
    <div class="bg-blurwhite service-pd">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="consult-detail">
              <h2 class="title text-uppercase">consultancy</h2>
              <div class="descp text-justify text-bold">
                <p>Our love for the game goes beyond just products: a passion project has been to make cricket more accessible to more people in more countries. We’ve created numerous models for contained “cage cricket” / indoor cricket which as many will
                  know is a world phenomena and even world cups are staged in this format. We’ve worked with a team of architects and consultants to evaluate micro-markets where cage cricket can be a sustainable endeavor for individuals, tenant associations
                  and even municipal governments. Should you want to consider installing a facility such as this in your neighborhood or office block as a business venture or even a private lane for personal use look no further! We can provide a detailed
                  project proposal to make it possible.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="consult-slider black-direction service-slider">
              <flex-slider class="carousel" flex-slide="consult in consultancy track by $index" animation="slide" control-nav="false">
                <li>
                  <div class="consult-imgholder">
                    <img alt="" class="img-responsive" ng-src="{{consult}}">
                  </div>
                </li>
              </flex-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="memorable" id="memorabilia">
    <div class="bg-blurblack service-pd">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="white-direction service-slider">
              <flex-slider class="carousel" flex-slide="memory in memorable track by $index" animation="slide" control-nav="false">
                <li>
                  <div class="memory-imgholder">
                    <img alt="" class="img-responsive" ng-src="{{memory}}">
                  </div>
                </li>
              </flex-slider>
            </div>
          </div>
          <div class="col-md-6">
            <div class="memorable-detail">
              <h2 class="title text-uppercase">memorabilia</h2>
              <div class="descp text-justify text-normal">
                <p>In order to establish a culture for collectible assets in India, Digvijay has worked closely with India’s premier auction house Osian’s to create a marketplace for unique and genuine memorabilia in the East. Having completed two successful
                  auctions of cricket memorabilia, the lounge will be open to viewing more artifacts and genuine memorabilia from the games glorious past. Some pieces will be available for sale and a general collection will be curated for future auctions
                  in the country. For valuation and information on our subsequent auctions please do write to us or visit our lounge by appointment in Mumbai.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
