<section>
    <div class="text-center">
        <h3 class="high-light main-head">CUSTOMISE YOUR SHORTS</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="step">
                <ul>
                    <li class="tab-item breadcrums {{classa}}" ng-click="tabchange('design',1)">
                        <span class="bread-frnt"></span>
                        <p>1. DESIGN</p>
                        <span class="bread-back"></span>
                    </li>
                    <li class="tab-item breadcrums {{classb}}" ng-click="tabchange('trim',2)">
                        <span class="bread-frnt"></span>
                        <p>2. COLOR</p>
                        <span class="bread-back"></span>
                    </li>
                    <li class="tab-item breadcrums {{classc}}" ng-click="tabchange('team',3)">
                        <span class="bread-frnt"></span>
                        <p>3. TEAM LOGO</p>
                        <span class="bread-back"></span>
                    </li>
                    <li class="tab-item breadcrums {{classe}}" ng-click="tabchange('quantity',5)">
                        <span class="bread-frnt"></span>
                        <p>4. QUANTITY</p>
                        <span class="bread-back"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-detail">
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center">
                        <div class="gully-shirt">
                            <img ng-src="{{customizedShirt.cloth}}" class="img-responsive" alt="">
                            <img ng-src="{{customizedShirt.backdrop}}" class="backdrop img-responsive" alt="">
                            <img ng-src="{{trimTshirt.highlightOne.image}}" ng-if="trimTshirt.highlightOne.image" class="trimshirt img-responsive" alt="">
                            <!-- <div ng-if="customizedShirt.back && tab=='quantiy'" class="{{jerseyBack.font+'-font'}}" ng-style="{'color': jerseyBack.color}"> -->
                              <img ng-src="{{trimTshirt.highlightTwo.image }}" ng-if="trimTshirt.highlightTwo.image " class="trimshirt img-responsive" alt="">
                            <!-- </div> -->


                            <img ng-src="{{trimTshirt.collar}}" ng-if="trimTshirt.collar" class="trimshirt img-responsive" alt="">

                            <div class="div-left-short" ng-if="customizedShirt.front && customizedShirt.leftchest.image" ng-style="customizedShirt.leftchest.divattributes">
                                <img class="left-chest" ng-src="{{customizedShirt.leftchest.image | serverimage}}" alt="" ng-style="customizedShirt.leftchest.attributes">
                            </div>

                            <div class="div-right-sleeve" ng-if="customizedShirt.rightsleeve.image" ng-style="customizedShirt.rightsleeve.divattributes" ng-class="{'div-right-sleeve':customizedShirt.front,'div-left-sleeve':customizedShirt.back}">
                                <img ng-class="{'right-sleeve':customizedShirt.front,'left-sleeve':customizedShirt.back}" ng-src="{{customizedShirt.rightsleeve.image | serverimage}}" alt="" ng-style="customizedShirt.rightsleeve.attributes">
                            </div>


                        </div>
                        <div class="prev inline-block">
                            <p class="uppercase" ng-click="switchFrontBack(false); switchTrimHighlightOne(false, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(false, trimTshirt.highlightTwo.tcolor)"><img src="img/back.png" class="img-responsive" alt="">back</p>
                        </div>
                        <div class="next inline-block">
                            <p class="uppercase" ng-click="switchFrontBack(true); switchTrimHighlightOne(true, trimTshirt.highlightOne.tcolor); switchTrimHighlightTwo(true, trimTshirt.highlightTwo.tcolor)"><img src="img/back.png" class="img-responsive" alt="">front</p>
                        </div>
                        <div class="feature-buttons">
                            <button class="btn border-left btn-outline inline-block btn-dark  padding-btn letter-spacing">FORM + FUNCTION</button>
                            <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">DELIVERY</button>
                            <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing">CARE</button>
                        </div>
                        <ul class="tshirt-features">
                            <li> 100% polyester</li>
                            <li>Drawstring elastic waistband</li>
                            <li>180 GSM weight of fabric</li>
                            <li>Inner mesh briefs</li>
                            <li>Concealed zipper pockets for valuables</li>
                            <li>Tested and fitted for optimum performance</li>
                        </ul>
                    </div>
                </div>
                <!-- END GALLARY -->

                <!-- START DESIGN -->
                <div class="col-md-7">
                    <div class="det-name">
                        <h4>STRIDE</h4>
                        <p>The Custom Cricket company cricket shorts is made from wicking fabric that lifts moisture from your body. Tested and built to perform in warm and cold climate conditions. It features the Custom Cricket company on the right chest
                            .
                        </p>
                        <h3><i class="fa fa-inr"></i>995</h3>
                        <span>Minimum order to be placed for Shorts is 20.</span>
                    </div>
                    <div class="choos m20-l" ng-show="tab=='design'">
                        <p>Choose Your Type Of Design</p>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="col-md-4 col-xs-6 paddingl" ng-repeat="img in images track by $index">
                                    <div class="cat-img">
                                        <img ng-src="{{img.src}}" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('trim',2)">NEXT</button>
                        </div>
                        <div class="customize-design">
                            <span>Learn How To Customise Your Design By </span>
                            <a href="" class="text-bold" ng-click="outplace();">Clicking Here</a>
                        </div>
                    </div>
                    <!-- END DESIGN -->
                    <!-- START TRIM -->
                    <div class="choos m20-l " ng-show="tab=='trim'">
                        <div class="options">
                            <button class="{{classshow}} btn btn-outline btn-dark padding-btn letter-spacing  inline-block" ng-click="tabchanges('light1',1)">HIGHLIGHT 1</button>
                            <button class="{{classhide}} btn btn-outline btn-dark padding-btn letter-spacing  inline-block" ng-click="tabchanges('light2',2)">HIGHLIGHT 2</button>
                            </div>
                        <div class="{{classp}} outline disnon" ng-if="tabs=='light1'">
                            <span>HIGHLIGHT 1</span>
                            <p>Select The Trim Colour Of Your Choice</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Select The Colour</h4>
                                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in odicolor track by $index">
                                        <div class="colo-pallet text-center ">
                                            <div class="noti-img notihov" ng-class="{'coloracive':trimTshirt.highlightOne.tcolor == col.name}" ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightOne(trimTshirt.highlightOne.flag, col.name)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="{{classv}} outline disnon" ng-if="tabs=='light2'">
                            <span ng-click="showQuantiyTab()">HIGHLIGHT 2</span>
                            <p>Select The Trim Colour Of Your Choice</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Select The Colour</h4>
                                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in odicolor track by $index">
                                        <div class="colo-pallet text-center ">
                                            <div class="noti-img notihov" ng-class="{'coloracive':trimTshirt.highlightTwo.tcolor == col.name}" ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightTwo(trimTshirt.highlightTwo.flag, col.name)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('team',3)">NEXT</button>
                        </div>
                    </div>
                    <!-- END TRIM -->
                    <!-- START TEAM LOGO -->
                    <div class="choos m20-l" ng-show="tab=='team'">
                        <p>Upload Your Logo</p>
                        <div class="checkboxing">
                            <input type="checkbox" class="form-control" id="later">
                            <label for="later"><span></span>Send it Later</label>
                        </div>
                        <div class="logo-text">
                            <button class="activeme btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" >TEAM LOGO</button>

                        </div>
                        <div class="padding15 default inline-block" ng-repeat="(key, value) in customizedShirt" ng-if="checkCustomizeShirt(key)">
                            <div class="mod-img">
                                <div class="noti-imgs" style='background-image:url({{customizedShirt[key].image | serverimage}});'>
                                </div>
                                <div class="sliding">
                                    <span>size</span>
                                    <div range-slider on-handle-down="changeLogo(key)" on-handle-up="resetLogoStyle(key)" ng-model="customizedShirt[key].attributes.width" min="25" max="54" model-max="customizedShirt[key].attributes.width" model-min="rslider.min" pin-handle="min">
                                    </div>
                                </div>
                                <div class="edit-btn">
                                    <button class="btn btn-outline btn-dark" ng-click="openUploads(key, value.name)">CHANGE</button>
                                    <br>
                                    <button class="btn btn-outline btn-dark" ng-click="emptyImage(key)">REMOVE</button>
                                </div>
                                <div class="check">
                                    <input type="checkbox" class="form-control" id="remove">
                                    <label for="remove"><span></span>Remove Image Background</label>
                                </div>
                            </div>

                        </div>
                        <div class="print-typ printing">
                            <p>Select The Printing Type For Your Team Logo</p>
                            <form action="" class="radio">
                                <input type="radio" id="radio1" name="radio" /checked>
                                <label for="radio1">
                                    <span></span> Embroidered <a href="" class="link mleft10">VIEW EXAMPLE</a>
                                  </label><br>
                                <input type="radio" id="radio2" name="radio" />
                                <label for="radio2">
                                    <span></span> Sublimated
                                    <a href="" class="link mleft22">VIEW EXAMPLE</a>
                                  </label>
                            </form>
                            <div class="edit-btn">
                                <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" >upload</button>
                                <!-- <button href="" class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads(key, value.name)">upload</button> -->
                            </div>
                            <div class="pbotom">
                                <span class="block">Notes :</span>
                                <span class="block">1. The printed CCC Logo will always be embroidered on your gloves.</span>
                                <span class="block">2. Embossing your logo will incur a one time cost of  `5000 or your logo can be screen printed at no additional cost.</span>
                                <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                                <span class="block"><a href="" ng-click="outplace();">Click here</a> to find out how?</span>
                                <span class="block">4.CCC logo colour will match colour of the trim.</span>
                            </div>
                            <div class="edit-btn inline-block">
                                <button href="" class="btn btn-outline btn-dark letter-spacing">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                            <div class="edit-btn inline-block">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('quantity',5)">NEXT</button>
                            </div>
                        </div>

                    </div>


                        <div class="choos quantity m20-l" ng-show="tab=='quantity'">
                            <div class="chart mar15">
                                <p>view:
                                    <span data-toggle="modal" data-target="#myModal4">Size Chart</span>
                                </p>
                            </div>
                            <div class="accordion">
                                <uib-accordion>


                                    <div class="pbotom">
                                        <span class="block">Note </span>
                                        <span class="block">1. Your t-shirt name can be up to 10 characters and t-shirt number can be selected from 0 to 999.</span>
                                        <span class="block">2. You can select sleeves from being short (S.S) or long (L.S).</span>
                                        <span class="block">3. (*) - this denotes the field is mandatory.</span>
                                    </div>

                                    <uib-accordion-group class="panel-default" is-open="status.open2">
                                        <uib-accordion-heading>
                                            <i class="pull-left fa " ng-class="{'fa fa-minus': status.open2, 'fa fa-plus': !status.open2}"></i>Select The Dimensions For Your Jersey
                                        </uib-accordion-heading>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="uppercase">sizeup <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                                                        <th class="uppercase">sleeve <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                                                        <th class="uppercase">qty <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                                                        <th class="uppercase">name</th>
                                                        <th class="uppercase">number</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="nothing">
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <select>
                                                            <option value="XL">S</option>
                                                            <option value="20">M</option>
                                                            <option value="30">L</option>
                                                            <option value="40">XL</option>
                                                            <option value="40">XXL</option>
                                                            <option value="40">XXXL</option>
                                                        </select>
                                                        </td>
                                                        <td>
                                                            <select>
                                                            <option value="L.S">L.S</option>
                                                            <option value="30">30</option>
                                                            <option value="40">40</option>
                                                            <option value="40">40</option>
                                                        </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" name="quantity" value="10">
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-model="jerseyBack.name" name="name">
                                                        </td>
                                                        <td>
                                                            <input type="text" ng-model="jerseyBack.no" name="number">
                                                        </td>
                                                        <td>
                                                            <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing">GBP2</button>
                                                        </td>

                                                        <td><img src="img/rubbishbin.png" class="img-responsive doneLoading" alt=""></td>
                                                    </tr>
                                                    <tr class="nothing">
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="addtable"><i class="fa mr7 fa-plus" aria-hidden="true"></i> ADD</p>

                                            <span class="pull-right uppercase fontfam">Total:255</span>
                                        </div>
                                    </uib-accordion-group>
                                </uib-accordion>

                                <div class="edit-btn">
                                    <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing">save design</button>
                                    <button href="" class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" data-toggle="modal" data-target="#myModal5">next</button>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
