<section>
  <div class="text-center text-uppercase main-head pad-btm-30">
    <h3 class="high-light">Sweatshirts</h3>
    <div class="explore-more-drop">
      <a class="btn btn-outline btn-dark" ng-click="hovered();">Explore More</a>
      <ul class="custom-menu-down" ng-show="hovermenu" ng-mouseleave="unhovered();">
        <li>
          <a href="#" class="">
              Playing T-Shirts
            </a>
        </li>
        <li>
          <a href="#" class="active">
Sweatshirts
            </a>
        </li>
        <li class="">
          <a href="#">
Training Shorts
            </a>
        </li>
        <li>
          <a href="#">
Tracksuit Trousers
             </a>
        </li>
        <li>
          <a href="#">
polos
             </a>
        </li>
        <li>
          <a href="#">
Tracksuit top
             </a>
        </li>
        <li>
          <a href="#">
Playing Trousers
             </a>
        </li>
        <li>
          <a href="#">
          Training Tee
             </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="banners">
    <div class="row-flex">
      <div class="col-flex">
        <div class="banner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt1.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above text-center">
              <h2 class="text-uppercase">Sweatshirt 1</h2>
              <a href="" class="btn btn-outline btn-light">Know more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="banner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt2.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above hover-layer text-center">
              <h2 class="text-uppercase">Sweatshirt2</h2>
              <a href="" class="btn btn-outline btn-light">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="col-flex">
        <div class="banner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt3.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above hover-layer text-center">
              <h2 class="text-uppercase">Sweatshirt3</h2>
              <a href="" class="btn btn-outline btn-light">Know more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-flex">
        <div class="banner">
          <div class="">
            <img src="img/sweatshirts/sweatshirt4.png" alt="sweatshirts" class="img-responsive">
          </div>
          <div class="overlay">
            <div class="text-above  text-center">
              <h2 class="text-uppercase">Sweatshirt4</h2>
              <a href="" class="btn btn-outline btn-light">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
