<div class="message text-center">
  <div class="container">
    <div class="logo">
      <img src="img/normal-logo.png" alt="" class="img-responsive">
    </div>
    <h2 class="head-msg text-uppercase"><span>Thank you</span>for shopping with us</h2>
    <div class="transaction-info">
      <div class="clearfix">
        <div class="pull-left">
          <h3>Transaction ID :<span>{{order.transactionid}}</span></h3>
        </div>
        <div class="pull-right">
          <h3>TOTAL AMOUNT :<span><i class="fa fa-inr" ng-if="country == 'INR'"></i><i class="fa fa-gbp" ng-if="country == 'GBP'"></i><i class="fa fa-usd" ng-if="country == 'NZD'"></i><i class="fa fa-eur" ng-if="country == 'EUR'"></i><i class="fa fa-usd" ng-if="country == 'USD'"></i><i ng-if="country == 'ZAF'">R</i><i class="fa fa-usd" ng-if="country == 'AUD'"></i> {{order.amount}}</span></h3>
        </div>
      </div>
    </div>
    <h4 class="not-process">Your order has been processed</h4>
    <div class="re-direct text-uppercase">
      <a href="#/home" class="btn btn-msg">continue shopping</a>
    </div>
  </div>
</div>
