<div class="message text-center">
  <div class="container">
    <div class="logo">
      <img src="img/normal-logo.png" alt="" class="img-responsive">
    </div>
    <h2 class="head-msg text-uppercase"><span>Thank you</span>for shopping with us</h2>
    <div class="transaction-info">
      <div class="clearfix">
        <div class="pull-left">
          <h3>Transaction ID :<span>MD54343655</span></h3>
        </div>
        <div class="pull-right">
          <h3>TOTAL AMOUNT :<span>Rs. 599</span></h3>
        </div>
      </div>
    </div>
    <h4 class="not-process">Your order has been processed</h4>
    <div class="re-direct text-uppercase">
      <a href="#/home" class="btn btn-msg">continue shopping</a>
    </div>
  </div>
</div>
