<section>
    <div class="text-center">
        <h3 class="high-light main-head">CUSTOMISE YOUR TROUSER</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="step">
                <ul>
                    <li class="tab-item breadcrums {{classa}} {{tabAllowa}}" ng-disabled="tabAllowToa" ng-click="switchNavigation('a');">
                        <span class="bread-frnt"></span>
                        <p>1. DESIGN</p>
                        <span class="bread-back"></span>
                    </li>
                    <li class="tab-item breadcrums {{classb}}  {{tabAllowb}}" ng-disabled="tabAllowTob" ng-click="switchNavigation('b');">
                        <span class="bread-frnt"></span>
                        <p>2. TRIM</p>
                        <span class="bread-back"></span>
                    </li>
                    <li class="tab-item breadcrums {{classc}} {{tabAllowc}}" ng-disabled="tabAllowTob" ng-click="switchNavigation('c');">
                        <span class="bread-frnt"></span>
                        <p>3. LOGOS</p>
                        <span class="bread-back"></span>
                    </li>
                     <li class="tab-item breadcrums {{classe}} {{tabAllowd}}" ng-disabled="tabAllowTob" ng-click="switchNavigation('d');">
                        <span class="bread-frnt"></span>
                        <p>4. QUANTITY</p>
                        <span class="bread-back"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-detail">
            <div class="row">
                <div class="col-md-5">
                    <div class="scroll-image" id="style-2">    
                    <div class="text-center">
                        <div class="gully-shirt">  
                            {{pantType}}                         
                            <img ng-src="{{trimTrouser.highlightOne.image}}" ng-if="trimTrouser.highlightOne.image" class="trimshirt img-responsive" alt="">
                            <img ng-src="{{trimTrouser.highlightTwo.image}}" ng-if="trimTrouser.highlightTwo.image" class="trimshirt img-responsive" alt="">
                            <img ng-src="{{trimTrouser.highlightBase.image}}" ng-if="trimTrouser.highlightBase.image" class="trimshirtbase img-responsive" alt="">
                            <!---if pants-->
                            <div class="div-trouser-left-logo" ng-if="pantType=='trousers' && customizedTrouser.front && customizedTrouser.leftlogo.image" ng-style="customizedTrouser.leftlogo.divattributes">
                                <img id="trouserleftlogo" ng-src="{{customizedTrouser.leftlogo.image | serverimage}}" class="trouser-left-logo" alt="" ng-style="customizedTrouser.leftlogo.attributes">
                            </div>
                            <div class="div-trouser-right-logo" ng-if="pantType=='trousers' && customizedTrouser.front && customizedTrouser.rightlogo.image" ng-style="customizedTrouser.rightlogo.divattributes">
                                <img id="trouserrightlogo" ng-src="{{customizedTrouser.rightlogo.image | serverimage}}" class="trouser-right-logo" alt="" ng-style="customizedTrouser.rightlogo.attributes">
                            </div> 
                            <!---close of if pants-->

                            <!--if shorts-->
                                      <div class="div-short-left-logo" ng-if="pantType=='shorts' && customizedTrouser.front && customizedTrouser.leftlogo.image" ng-style="customizedTrouser.leftlogo.divattributes">
                                <img id="trouserleftlogo" ng-src="{{customizedTrouser.leftlogo.image | serverimage}}" class="trouser-left-logo" alt="" ng-style="customizedTrouser.leftlogo.attributes">
                            </div>
                            <div class="div-short-right-logo" ng-if="pantType=='shorts' && customizedTrouser.front && customizedTrouser.rightlogo.image" ng-style="customizedTrouser.rightlogo.divattributes">
                                <img id="trouserrightlogo" ng-src="{{customizedTrouser.rightlogo.image | serverimage}}" class="trouser-right-logo" alt="" ng-style="customizedTrouser.rightlogo.attributes">
                            </div>
                            <!--close of if shorts -->
                            <!--shorts logo upload section -->
                             <div class="div-left-short" ng-if="customizedShort.front && mainlogo.image" ng-style="mainlogo.divattributes">
                                <img class="left-chest" ng-src="{{mainlogo.image | serverimage}}" alt="" ng-style="mainlogo.attributes">
                            </div>
                            <div class="div-right-short" ng-if="customizedShort.front && customizedShort.teamlogo.image" ng-style="customizedShort.teamlogo.divattributes">
                                <img class="left-chest" ng-src="{{customizedShort.teamlogo.image | serverimage}}" alt="" ng-style="customizedShort.teamlogo.attributes">
                            </div>
                        </div>  
                        <div class="prev inline-block">
                            <p class="uppercase" ng-click="switchFrontBack(true); switchTrimHighlightBase(true, trimTrouser.highlightBase.tcolor); switchTrimHighlightOne(true, trimTrouser.highlightOne.tcolor); switchTrimHighlightTwo(true, trimTrouser.highlightTwo.tcolor);"><img src="img/back.png" class="img-responsive" alt="">front</p>
                        </div>
                        <div class="next inline-block">
                            <p class="uppercase" ng-click="switchFrontBack(false); switchTrimHighlightBase(false, trimTrouser.highlightBase.tcolor); switchTrimHighlightOne(false, trimTrouser.highlightOne.tcolor); switchTrimHighlightTwo(false, trimTrouser.highlightTwo.tcolor);"><img src="img/back.png" class="img-responsive" alt="">back</p>
                        </div>
                        <div class="feature-buttons">
                            <button class="btn border-left btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 1}" ng-click="toggleTab(1)">FORM + FUNCTION</button>
                            <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 2}" ng-click="toggleTab(2)">DELIVERY</button>
                            <button class="btn btn-outline inline-block btn-dark  padding-btn letter-spacing" ng-class="{'active-btn': activeButton == 3}" ng-click="toggleTab(3)">CARE</button>
                        </div>
                        <ul class="tshirt-features">
                            <li>100% polyester</li>
                            <li>Drawstring elastic waistband with fly finished front</li>
                            <li>200 GSM weight of fabric</li>
                            <li>Tested and fitted for optimum performance in warm and cold conditions</li>

                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="scroll-image" id="style-1">                    
                    <div class="det-name">
                        <h4>LONG LEG</h4>
                        <h3><i class="fa fa-inr"></i>{{singleAmount}}</h3>
                        <span><i>Minimum order to be placed for Trousers is 20.</i></span>
                    </div>
                    <!--    // design tab-->
                    <div class="choos m20-l" ng-show="tab=='design'">
                        <p>Choose Your Type Of Design</p>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="col-md-4 col-xs-6 paddingl" ng-repeat="img in images track by $index">                                    
                                        <div class="cat-img pointer" ng-click="openDesign($index,1,img)" title="Design {{$index + 1}}">
                                        <img ng-src="{{img.src}}" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('trim', 2); openTab('b');">NEXT</button>
                        </div>
                        <div class="customize-design">
              <ul>
                <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span> to know more about customization tools.</li>               
                <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads attract a nominal one-time customization fees).</li>               
                             
              </ul>                              
              </div>
                    </div>
                    <!--       //trim tab-->
                    <div class="choos m20-l " ng-show="tab=='trim'">
                        <div class="options">
                            <button class="{{trimTabs.light3.active}} {{trimTrouser.highlightBase.disable}} classshow btn btn-outline btn-dark padding-btn letter-spacing inline-block" ng-click="tabchanges('light3',3)">BASE</button>
                            <button class="{{trimTabs.light1.active}} {{trimTrouser.highlightOne.disable}} classhide btn btn-outline btn-dark padding-btn letter-spacing inline-block" ng-click="tabchanges('light1',1)">TRIM 1</button>
                            <button class="{{trimTabs.light2.active}} {{trimTrouser.highlightTwo.disable}} classhide btn btn-outline btn-dark padding-btn letter-spacing inline-block" ng-click="tabchanges('light2',2)">TRIM 2</button>
                        </div>
                        <div class="{{trimTrouser.highlightOne.disable}} {{trimTabs.light1.show}} classp outline disnon" ng-if="tabs=='light1'">
                            <h4>Choose Your Color</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                                        <div class="colo-pallet text-center">
                                            <div class="noti-img notihov" ng-class="{'coloracive':trimTrouser.highlightOne.tcolor == col.name, 'borergrey':col.name == 'white'};" ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightOne(trimTrouser.highlightOne.flag, col.name); trimHexColors('highlightOne', col.colr);" title="{{col.name | capitalize}}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="{{trimTrouser.highlightTwo.disable}} {{trimTabs.light2.show}} classv outline disnon" ng-if="tabs=='light2'">
                            <div class="row">
                            <div class="col-md-12">
                                <h4>Choose Your Color</h4>
                                <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                                <div class="colo-pallet text-center">
                                    <div class="noti-img notihov" ng-class="{'coloracive':trimTrouser.highlightTwo.tcolor == col.name, 'borergrey':col.name == 'white'};" ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightTwo(trimTrouser.highlightTwo.flag, col.name); trimHexColors('highlightTwo', col.colr);" title="{{col.name | capitalize}}"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="{{trimTrouser.highlightBase.disable}} {{trimTabs.light3.show}} classv outline disnon" ng-if="tabs=='light3'">
                            <div class="row">
                            <div class="col-md-12">
                                <h4>Choose Your Color</h4>
                                <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                                <div class="colo-pallet text-center">
                                    <div class="noti-img notihov" ng-class="{'coloracive':trimTrouser.highlightBase.tcolor == col.name, 'borergrey':col.name == 'white'};" ng-style="{'background-color':'{{col.colr}}'}" ng-click="switchTrimHighlightBase(trimTrouser.highlightBase.flag, col.name); trimHexColors('highlightBase', col.colr);" title="{{col.name | capitalize}}"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginTrousers();">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="tabchange('team',3); openTab('c');switchNavigation('c');">NEXT</button>
                        </div>


                    </div>
                    <!--        //trim tab-->
                    <div class="choos m20-l" ng-show="tab=='team'">
                        <div class="checkboxing">
                            <input type="checkbox" class="form-control" id="later" ng-model="trousersLogo.isTeamLogo">
                            <label for="later"><span></span>SEND TEAM LOGO LATER</label>
                        </div>
                        <div>
                            <div class="inline-block h300 static-top">
                                <div class="logo-text mt10 inline-box">
                                    <button class="btn inline-block btn-dark padding-btn letter-spacing mright15">RIGHT LOGO</button>
                                </div>
                                <div class="block-box">
                                    <div class="teamlogo-box">
                                        <div class="inline-box box-custom">
                                            <img ng-src="{{customizedTrouser.rightlogo.image | serverimage}}" alt="" ng-if="customizedTrouser.rightlogo.image">
                                        </div>
                                        <div class="size-box" ng-if="customizedTrouser.rightlogo">
                                            Size:
                                            <div class="range">
                                            <div range-slider on-handle-down="changeLogo('rightlogo')" on-handle-up="resetLogoStyle('rightlogo')" ng-model="customizedTrouser.rightlogo.attributes.width" min="0" max="200" model-max="customizedTrouser.rightlogo.attributes.width" model-min="rslider.min" pin-handle="min"></div>
                                            </div>
                                        </div>
                                        <div class="edit-btn">
                                            <button class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('rightlogo', 'Right Logo')" ng-if="!customizedTrouser.rightlogo">upload</button>
                                            <button class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('rightlogo', 'Right Logo')" ng-if="customizedTrouser.rightlogo">change</button>
                                            <button class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="emptyImage('rightlogo')" ng-if="customizedTrouser.rightlogo">remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inline-block h300 mgl-20 static-top">
                                <div class="logo-text mt10 inline-box">
                                    <button class="btn inline-block btn-dark padding-btn letter-spacing mright15">LEFT LOGO</button>
                                </div>
                                <div class="block-box">
                                    <div class="teamlogo-box">
                                        <div class="inline-box box-custom">
                                            <img ng-src="{{customizedTrouser.leftlogo.image | serverimage}}" alt="" ng-if="customizedTrouser.leftlogo.image">
                                        </div>
                                        <div class="size-box" ng-if="customizedTrouser.leftlogo">
                                            Size:
                                            <div class="range">
                                            <div range-slider on-handle-down="changeLogo('leftlogo')" on-handle-up="resetLogoStyle('leftlogo')" ng-model="customizedTrouser.leftlogo.attributes.width" min="0" max="200" model-max="customizedTrouser.leftlogo.attributes.width" model-min="rslider.min" pin-handle="min"></div>
                                            </div>
                                        </div>
                                        <div class="edit-btn">
                                            <button class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('leftlogo', 'Left Logo')" ng-if="!customizedTrouser.leftlogo">upload</button>
                                            <button class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="openUploads('leftlogo', 'Left Logo')" ng-if="customizedTrouser.leftlogo">change</button>
                                            <button class="btn btn-outline btn-dark padding-btn letter-spacing uppercase mright15" ng-click="emptyImage('leftlogo')" ng-if="customizedTrouser.leftlogo">remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginTrousers();">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="checkTeamLogo();" >NEXT</button>
                        </div>
                    </div>
                    <div class="choos m20-l next-level" ng-show="tab=='teamlogo'">
                        <p>Upload Your Logo</p>

                        <div class="logo-text">
                            <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15">TEAM LOGO</button>
                            <span class="uppercase inline-block mright15">or</span>
                            <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" ng-click="openColor();">TEAM TEXT</button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="up-img">
                                    <div class="mod-img ">
                                        <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}">
                                        </div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark">REMOVE</button>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" class="form-control" id="login">
                                            <label for="login"><span></span>Remove Image From Background</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="print-typ printing">
                            <p>Select The Printing Type For Your Team Logo</p>
                            <form action="" class="radio">
                                <input type="radio" id="radio1" name="radio" />
                                <label for="radio1">
                                    <span></span> Embroidered <a href="" class="link mleft10">VIEW EXAMPLE</a></label>
                                <br>
                                <input type="radio" id="radio2" name="radio" />
                                <label for="radio2">
                                    <span></span> Sublimated
                                    <a href="" class="link mleft22">VIEW EXAMPLE</a></label>
                            </form>
                            <div class="pbotom">
                              <span class="block">Notes :</span>
                              <span class="block">1. The printed CCC Logo will always be embroidered on your trouser</span>
                              <span class="block">2. If you feel something is not great, our design team can fix it for you.</span>
                                <span class="block"><a href="" ng-click="outplace();">Click here</a> to find out how?</span>
                              <span class="block">3.CCC logo colour will match colour of the trim.</span>
                               <ul class="pad-17">
                    <li>Something not right? <span><a href="" class="text-bold" ng-click="outplace();">Click Here</a></span> to know more about customization tools.</li>               
                 <li>All our pricing is inclusive of taxes, shipping and customization (Balls, gloves & pads attract a nominal one-time customization fees).</li> 
                 </ul>

                            </div>
                            <div class="edit-btn inline-block">
                                <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginTrousers();">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                            <div class="edit-btn inline-block">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="openColor()">NEXT</button>
                            </div>
                        </div>
                      </div>
                      <div class="choos m20-l nexter-level"  ng-show="tab=='teamcolor'">
                            <p>Upload Your Text</p>
                            <div class="checkboxing">
                                <input type="checkbox" class="form-control" id="later">
                                <label for="later"><span></span>Send it Later</label>
                            </div>
                            <div class="logo-text">
                                <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" ng-click="UploadTeamLogo()">TEAM LOGO</button>
                                <span class="uppercase inline-block mright15">or</span>
                                <button class="btn btn-outline inline-block btn-dark padding-btn letter-spacing mright15" ng-click="openColor();">TEAM TEXT</button>
                            </div>

                            <div class="radio-options">
                                <h4>Select The Font For Your Jersey Name</h4>
                                <form action="" class="radio">
                                    <div class="form-group inline-block">
                                        <input type="radio" id="textradio1" name="textradio" />
                                        <label for="textradio1">
                                            <span></span> Arial
                                        </label>
                                    </div>
                                    <div class="form-group inline-block">
                                        <input type="radio" id="textradio2" name="textradio" />
                                        <label for="textradio2">
                                            <span></span> Times roman</label>
                                    </div>
                                    <div class="form-group inline-block">
                                        <input type="radio" id="textradio3" name="textradio" />
                                        <label for="textradio3">
                                            <span></span> Helvetica
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Select The Colour</h4>
                                    <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                                        <div class="colo-pallet text-center ">
                                            <div class="noti-img notihov" ng-style="{'background-color':'{{col.colr}}'}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="notes">
                                <span class="capitalize">please note that your tshirt name can be upto 10 characters</span>
                            </div>
                            <div class="range-slidings relative">
                                <h4 class="capitalize">enter your text below</h4>
                                <input type="text" class="block" name="name1">
                                <input type="text" class="block " name="name2">
                                <a class="plus" href=""><i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i></a>
                                <input type="text" class="block" name="name3">
                            </div>
                            <div class="range">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                        <span>size</span>
                                    </div>
                                    <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                        <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <input type="text" name="size">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                        <span>arc</span>
                                    </div>
                                    <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                        <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <input type="text" name="size">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                        <span>rotation</span>
                                    </div>
                                    <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                        <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <input type="text" name="size">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                        <span>spacing</span>
                                    </div>
                                    <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2">
                                        <div range-slider min="0" max="100" model-max="max" pin-handle="min"></div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <input type="text" name="size">
                                    </div>
                                </div>

                            </div>
                            <div class="edit-btn inline-block">
                                <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginTrousers();">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                            <div class="edit-btn inline-block">
                                <button class="btn btn-outline btn-dark padding-btn letter-spacing">NEXT</button>
                            </div>
                        </div>

                    <div class="choos m20-l" ng-show="tab=='logo'">
                        <p>Upload Your Sponsor Logo (Optional)</p>
                        <div class="sp-logo">
                            <button href="" class="btn pad1 btn-outline btn-dark  block" data-toggle="modal" data-target="#myModal1">MAIN SPONSOR</button>
                            <button href="" class="btn pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 1</button>
                            <button href="" class="btn pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 2</button>
                            <button href="" class="btn pad3 btn-outline btn-dark  block" data-toggle="modal" data-target="#myModal1">LEFT SLEEVE SPONSOR</button>
                            <button href="" class="btn pad4 btn-outline btn-dark block" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>
                              <button href="" class="btn pad5 btn-outline btn-dark  block" data-toggle="modal" data-target="#myModal1">LEFT CHEST SPONSOR</button>
                                  <button href="" class="btn pad3 btn-outline btn-dark block" data-toggle="modal" data-target="#myModal1">RIGHT CHEST SPONSOR</button>
                                                          </div>
                        <div class="print-typ">
                            <div class="pbotom">
                                <span class="block">Notes :</span>
                                <span class="block">1. The logo of your sponsors will be sublimated. </span>
                                <span class="block">2. The logo on the sleeves are not cut in half. It’s just to provide realistic feel.</span>
                                <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                                <span><a href="">Click here</a> to find out how?</span>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button href="" class="btn btn-outline btn-dark letter-spacing" ng-click="checkloginTrousers();">SAVE DESIGN &amp; EDIT LATER</button>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" ng-click="proceed()">NEXT</button>
                        </div>
                    </div>
                    <div class="choos m20-l nextest-level" ng-show="tab=='sponsorlogo'">
                        <p>Upload Your Sponsor Logo (Optional)</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="up-img">
                                    <div class="mod-img ">
                                        <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}">
                                        </div>
                                        <div class="edit-btn">
                                            <button href="" class="btn  btn-outline btn-dark">CHANGE</button>
                                            <br>
                                            <button href="" class="btn bits btn-outline btn-dark">REMOVE</button>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" class="form-control" id="login">
                                            <label for="login"><span></span>Remove Image From Background</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="up-img">
                                    <div class="mod-img ">
                                        <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}">
                                        </div>
                                        <div class="edit-btn">
                                            <button href="" class="btn btn-outline btn-dark">CHANGE</button>
                                            <br>
                                            <button href="" class="btn btn-outline btn-dark">REMOVE</button>
                                        </div>
                                        <div class="check">
                                            <input type="checkbox" class="form-control" id="login">
                                            <label for="login"><span></span>Remove Image From Background</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sp-logo">
                            <button href="" class="btn bit pad4 btn-outline btn-dark block" data-toggle="modal" data-target="#myModal1">RIGHT SLEEVE SPONSOR</button>

                            <button href="" class="btn bit pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 1</button>

                            <button href="" class="btn pad2 btn-outline btn-dark  block " data-toggle="modal" data-target="#myModal1">BACK SPONSOR 2</button>
                        </div>

                        <div class="print-typ">
                            <div class="pbotom">
                                <span class="block">Notes :</span>
                                <span class="block">1. The logo of your sponsors will be sublimated. </span>
                                <span class="block">2. The logo on the sleeves are not cut in half. It’s just to provide realistic
                    feel.</span>
                                <span class="block">3. If you feel something is not great, our design team can fix it for you.</span>
                                <span><a href="">Click here</a> to find out how?</span>
                            </div>
                        </div>
                        <div class="eds">
                            <div class="edit-btn inline-block">
                                <button href="" class=" btn btn-outline btn-dark letter-spacing" ng-click="checkloginTrousers();">SAVE DESIGN &amp; EDIT LATER</button>
                            </div>
                        </div>
                        <div class="edit-btn inline-block">
                            <button class="btn btn-outline btn-dark padding-btn letter-spacing" >NEXT</button>
                        </div>
                    </div>


                    <div class="choos quantity m20-l" ng-show="tab=='quantity'">
                      <div class="chart mar15">
                          <p>view:
                              <span data-toggle="modal" data-target="#myModal4">Size Chart</span>
                          </p>
                      </div>
                      <div class="table-detail relative">
                        <p class="capitalize">Select the size for your trouser</p>
                        <div class="table-responsive">
                            <table class="table table95">
                                <tbody>
                                <tr class="option-shirt" ng-repeat="trouser in trouserQuanArr track by $index">
                                    <td>
                                        <span class="uppercase pad-5">size</span>
                                        <select ng-model="trouser.size">
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                            <option value="XXXL">XXXL</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span class="inline-block uppercase pad-5">quantity</span>
                                        <input type="number" name="quantity" class="wid20p" ng-change="addQuantity(trouser.quantity)" ng-model="trouser.quantity" min="1" maxlength="3">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    </td>

                                    <td class="binbord-rgt"><img src="img/rubbishbin.png" class="img-responsive pointer" alt="" ng-click="removeTrouserValue($index); addQuantity()"></td>
                                </tr>
                                <tr class="nothing">
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="add-button">
                                <p class="pointer" ng-click="addTrouserValues(); addQuantity(trouser.quantity);"><i class="fa mr7 fa-plus" aria-hidden="true"></i> ADD</p>
                            </div>
                            
                            <div class="total-amount">
                                <p class="more-price">One time customization fee for Trouser is <i class="fa fa-inr"></i> 5000</p>
                                <span class="pull-right tamount uppercase Raleway-Medium mar20">Total Amount: {{totalAmount}}</span>
                                <span class="pull-right tquantity uppercase Raleway-Medium mar20">Total Quantity: {{totalQuan}}</span>
                            </div>
                        </div>
                        <div class="edit-btn">
                            <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing" ng-click="checkloginTrousers();">save design</button>
                            <button href="" class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" data-toggle="modal" data-target="#myModal5">next</button>
                            <br>
                        </div>
                      </div>
</div>
<div class="choos quantity m20-l nexterest-level" ng-show="tab=='quanty'">
<div class="table-detail relative">
  <p class="capitalize">Select the size for your jersey</p>
  <div class="option-shirt relative">
    <div class="sizes size inline-block">
      <span class="uppercase">size</span>
      <select>
        <option value="XL">XL</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
    </select>
    </div>
    <div class="sizes size inline-block">
      <span class="uppercase">sleeve</span>
    <select>
      <option value="XL">XL</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
  </select></div>
    <div class="sizes size inline-block">
        <span class="inline-block uppercase">quantity</span>
        <input type="text" class="form-control inline-block" name="name" value="">
    </div>
  </div>
  <a href="" class="bins"><img src="img/rubbishbin.png" class="img-responsive" alt=""></a>
    <div class="add-button">
      <p><i class="fa mr7 fa-plus" aria-hidden="true"></i>ADD</p>
    </div>
    <div class="total-amount">
        <span class="pull-right uppercase">Total:20</span>
    </div>

  <div class="edit-btn">
      <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing" ng-click="checkloginTrousers();">save design</button>
      <button href="" class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" data-toggle="modal" data-target="#myModal5">next</button>
      <br>
  </div>
</div>
</div>

<div class="choos quantity m20-l" ng-show="tab=='quantiy'">
                        <div class="chart mar15">
                            <p>view:
                                <span data-toggle="modal" data-target="#myModal4">Size Chart</span>
                            </p>
                        </div>
                        <div class="accordion">

                            <uib-accordion close-others="oneAtATime">
                                <uib-accordion-group is-open="status.open1">
                                    <uib-accordion-heading>
                                        <i class="pull-left fa " ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>Select The Font For Your Jersey Name
                                    </uib-accordion-heading>
                                    <div class="radio-options">
                                        <form action="" class="radio">
                                            <div class="form-group">
                                                <input type="radio" id="jerseyradio1" name="jerseyradio" />
                                                <label for="jerseyradio1">
                                                    <span></span> Arial
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="radio" id="jerseyradio2" name="jerseyradio" />
                                                <label for="jerseyradio2">
                                                    <span></span> Times roman</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="radio" id="jerseyradio3" name="jerseyradio" />
                                                <label for="jerseyradio3">
                                                    <span></span> Helvetica
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Select The Colour</h2>
                                            <div class="col-md-1 col-xs-2 paddingl mr" ng-repeat="col in color track by $index">
                                                <div class="colo-pallet text-center ">
                                                    <div class="noti-img notihov" ng-style="{'background-color':'{{col.colr}}'}"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </uib-accordion-group>
                        </div>
                        <div class="pbotom">
                            <span class="block">Note </span>
                            <span class="block">1. Your t-shirt name can be up to 10 characters and t-shirt number can be selected from 0 to 999.</span>
                            <span class="block">2. You can select sleeves from being short (S.S) or long (L.S).</span>
                            <span class="block">3. (*) - this denotes the field is mandatory.</span>
                        </div>
                        <div class="accordion">
                            <uib-accordion close-others="oneAtATime">
                                <uib-accordion-group is-open="status.open1">
                                    <uib-accordion-heading>
                                        <i class="pull-left fa " ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>Select The Dimensions For Your Jersey
                                    </uib-accordion-heading>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="uppercase">sizeup <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                                                    <th class="uppercase">sleeve <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                                                    <th class="uppercase">qty <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup></th>
                                                    <th class="uppercase">name</th>
                                                    <th class="uppercase">number</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="nothing">
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select>
                                                            <option value="XL">XL</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="40">40</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select>
                                                            <option value="L.S">L.S</option>
                                                            <option value="30">30</option>
                                                            <option value="40">40</option>
                                                            <option value="40">40</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="quantity" value="10">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="name" value="MANAN">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="number" value="07">
                                                    </td>
                                                    <td>
                                                        <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing">preview</button>
                                                    </td>
                                                </tr>
                                                <tr class="nothing">
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select>
                                                            <option value="XL">M</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="40">40</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select>
                                                            <option value="L.S">S.S</option>
                                                            <option value="30">30</option>
                                                            <option value="40">40</option>
                                                            <option value="40">40</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="quantity" value="10">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="name" value="HARSHIT">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="number" value="09">
                                                    </td>
                                                    <td>
                                                        <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing">preview</button>
                                                    </td>
                                                </tr>
                                                <tr class="nothing">
                                                    <td></td>
                                                </tr>




                                                <tr>
                                                    <td class="pad6"><i class="fa mr7 fa-plus" aria-hidden="true"></i>ADD</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="nothing">
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                  <td class="name">
                                                       <span>size</span>
                                                     </td>
                                                     <td class="sliding">
                                                       <div range-slider min="0" max="100" model-max="max" pin-handle="min">
                                                       </div>
                                                     </td>
                                                     <td class="texting">
                                                         <input type="text" name="size">
                                                     </td>
                                                   </tr>
                                                   <tr>
                                                     <td class="name">
                                                          <span>arc</span>
                                                        </td>
                                                        <td class="sliding">
                                                          <div range-slider min="0" max="100" model-max="max" pin-handle="min">
                                                          </div>
                                                        </td>
                                                        <td class="texting">
                                                            <input type="text" name="size">
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="name">
                                                             <span>rotation</span>
                                                           </td>
                                                           <td class="sliding">
                                                             <div range-slider min="0" max="100" model-max="max" pin-handle="min">
                                                             </div>
                                                           </td>
                                                           <td class="texting">
                                                               <input type="text" name="size">
                                                           </td>

                                                       </tr>
                                                         <tr>
                                                           <td class="name">
                                                                <span>spacing</span>
                                                              </td>
                                                              <td class="sliding">
                                                                <div range-slider min="0" max="100" model-max="max" pin-handle="min">
                                                                </div>
                                                              </td>
                                                              <td class="texting">
                                                                  <input type="text" name="size">
                                                              </td>
                                                            </tr>
                                                            <tr class="nothing">
                                                                <td></td>
                                                            </tr>
                                            </tbody>
                                        </table>
                                        <a href="" class="bin"><img src="img/rubbishbin.png" class="img-responsive" alt=""></a>
                                        <a href="" class="rubbish"><img src="img/rubbishbin.png" class="img-responsive" alt=""></a>
                                        <span class="pull-right uppercase">Total</span>

                                    </div>
                                </uib-accordion-group>
                        </div>
                        <div class="edit-btn">
                            <button href="" class="btn btn-outline uppercase btn-dark mright15 padding-btn letter-spacing" ng-click="checkloginTrousers();">save design</button>
                            <button href=""  class="btn btn-outline uppercase btn-dark padding-btn letter-spacing" data-toggle="modal" data-target="#myModal5">next</button>
                            <br>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
