<section>
    <div class="text-center main-head">
        <h3 class="high-light text-uppercase">My Wishlist</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="order-table wish-table">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th>ITEM</th>
                                <th>COLOUR</th>
                                <th>SIZE</th>
                                <th>QUANTITY</th>
                                <th>SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center text-bold">
                                <td>
                                    <figure>
                                        <img src="img/product1.png">
                                        <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                    </figure>
                                </td>
                                <td>White</td>
                                <td>M</td>
                                <td>1 <span class="more"><i class="fa fa-plus"></i></span><span class="more"><i class="fa fa-minus"></i></span></td>
                                <td>
                                    <p>699</p>
                                    <div class="text-right p65">
                                        <button class="btn btn-outline btn-dark padding-btn">ADD TO CART</button>
                                        <button class="btn btn-outline btn-dark ">REMOVE</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="text-center text-bold">
                                <td>
                                    <figure>
                                        <img src="img/product2.png">
                                        <figcaption>SPACE PRINT SLIM FIT T-SHIRT</figcaption>
                                    </figure>
                                </td>
                                <td>White</td>
                                <td>M</td>
                                <td>1 <span class="more"><i class="fa fa-plus"></i></span><span class="more"><i class="fa fa-minus"></i></span></td>
                                <td>
                                    <p>699</p>
                                    <div class="text-right p65">
                                        <button class="btn btn-outline btn-dark padding-btn">ADD TO CART</button>
                                        <button class="btn btn-outline btn-dark ">REMOVE</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="wish-back wish-bg no-bg">
            <div class="row">
                <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">

                    <div class="cart-btn">
                        <button class="btn btn-outline btn-dark">SAVE WISHLIST</button>
                                            <button class="btn btn-outline btn-dark">CONTINUE SHOPPING</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
