<!--<pre class="text-left">{{design|json}}</pre>-->
<div class="text-center" style="height:507px;">
    <div class="gully-shirt">

        <img ng-repeat="background in backgroundImages() track by $index" noloading="true" ng-src="{{background}}" class="trimshirt img-responsive">

        <div class="div-internal-image" ng-class="{'borergrey':design[key].border}" ng-if="!isBack && design[key].image && design[key].image != '' && !imagePos.onlyOnBack"
            ng-repeat="(key,imagePos) in imagesPositions()" ng-style="imagePos">
            <img ng-src="{{design[key].image | serverimage}}" ng-style="{width:design[key].size}" noloading="true">
        </div>

        <div class="div-internal-image" ng-class="{'borergrey':design[key].border}" ng-repeat="(key,imagePos) in imagesPositions()"
            ng-if="isBack && design[key].image && design[key].image != '' && imagePos.onlyOnBack" ng-style="imagePos">
            <img ng-src="{{design[key].image | serverimage}}" ng-style="{width:design[key].size}" noloading="true">
        </div>

        <div ng-show="isBack" class="odi-t jersey-name uppercase text-center">
            <p ng-style="{'font-size':design.font.nameSize+'px','color':design.font.fontColor,'letter-spacing':design.font.nameSpacing, 'text-indent':design.font.nameSpacing,'font-family':design.font.fontStyle}">{{design.quantity[0].name}}</p>
        </div>
        <div ng-show="isBack" class="odi-t jersey-no text-center" ng-style="{'font-size':design.font.numberSize+'px','color':design.font.fontColor,'letter-spacing':design.font.numberSpacing,'text-indent':design.font.numberSpacing,'font-family':design.font.fontStyle}">{{design.quantity[0].no}}</div>






        <img src="img/odi-tshirts/backdrop/odi/front1.png" ng-show="!isBack && design.type=='odi' && imagesPositions().isColar" class="backdrop">
        <img src="img/odi-tshirts/backdrop/odi/back1.png" ng-show="isBack && design.type=='odi' && imagesPositions().isColar" class="backdrop">

        <img src="img/odi-tshirts/backdrop/odi/front.png" ng-show="!isBack && design.type=='odi' && !imagesPositions().isColar" class="backdrop">
        <img src="img/odi-tshirts/backdrop/odi/back.png" ng-show="isBack && design.type=='odi' && !imagesPositions().isColar" class="backdrop">




    </div>
    <div ng-if="design.type=='trousers' || design.type == 'odi' || design.type == 'shorts'">
        <div class="prev inline-block">
            <p class="uppercase" ng-click="showFront()"><img src="img/back.png" class="img-responsive" alt="">front</p>
        </div>
        <div class="next inline-block">
            <p class="uppercase" ng-click="showBack()"><img src="img/back.png" class="img-responsive" alt="">back</p>
        </div>
    </div>


</div>