<div class="row">
    <div class="step">
        <ul>
            <li class="tab-item breadcrums" ng-class="{'noAllow':tabAllowToa,'active':classa=='active'}" ng-disabled="tabAllowToa" ng-click="switchNavigation('a');">
                <span class="bread-frnt"></span>
                <p>1. DESIGN</p>
                <span class="bread-back"></span>
            </li>
            <li class="tab-item breadcrums" ng-class="{'noAllow':tabAllowTob,'active':classb=='active'}" ng-disabled="tabAllowTob" ng-click="switchNavigation('b');">
                <span class="bread-frnt"></span>
                <p>2. TRIM</p>
                <span class="bread-back"></span>
            </li>
            <li class="tab-item breadcrums" ng-class="{'noAllow':tabAllowToc,'active':classc=='active'}" ng-disabled="tabAllowToc" ng-click="switchNavigation('c');">
                <span class="bread-frnt"></span>
                <p>3. LOGO</p>
                <span class="bread-back"></span>
            </li>
            <li class="tab-item breadcrums" ng-class="{'noAllow':tabAllowTod,'active':classd=='active'}" ng-disabled="tabAllowTod" ng-click="switchNavigation('d');">
                <span class="bread-frnt"></span>
                <p>4. QUANTITY</p>
                <span class="bread-back"></span>
            </li>
        </ul>
    </div>
</div>