<div class="text-center" style="height:507px;">
    <div class="gully-shirt">
        <img ng-repeat="background in backgroundImages()" noloading="true" ng-src="{{background}}" class="trimshirt img-responsive">
        <div class="div-internal-image" ng-hide="isBack" ng-repeat="(key,imagePos) in imagesPositions()" ng-style="imagePos">
            <img ng-src="{{design[key].image | serverimage}}" ng-if="design[key].image && design[key].image != ''" ng-style="{width:design[key].size}"
                noloading="true" class="div-internal-image" alt="">
        </div>

    </div>
    <div ng-if="design.type=='trousers' || design.type == 'odi-shirts' || design.type == 'shorts'">
        <div class="prev inline-block">
            <p class="uppercase" ng-click="showFront()"><img src="img/back.png" class="img-responsive" alt="">front</p>
        </div>
        <div class="next inline-block">
            <p class="uppercase" ng-click="showBack()"><img src="img/back.png" class="img-responsive" alt="">back</p>
        </div>
    </div>


</div>