<div class="my-account">
   <div class="text-center">
       <h3 class="high-light">MY ACCOUNT</h3>
   </div>
    <div class="account-tab">
        <ul>
            <li><a href="" class="btn btn-outline btn-dark">PROFILE</a></li>
            <li><a href="" class="btn btn-outline btn-dark">ORDERS</a></li>
            <li><a href="" class="btn btn-outline btn-dark">MY WISHLIST</a></li>
            <li><a href="" class="btn btn-outline btn-dark">SAVED DESIGNS</a></li>
        </ul>
    </div>
</div>
