<div class="my-account">
   <div class="text-center main-head">
       <h3 class="high-light">MY ACCOUNT</h3>
   </div>
    <div class="step padding-step stepbg">
        <ul>
            <li ui-sref="profile" ui-sref-active="active"><p>PROFILE</p></li>
            <li ui-sref="order" ui-sref-active="active"><p>ORDERS</p></li>
            <li ui-sref="mywishlist" ui-sref-active="active"><p>MY WISHLIST</p></li>
            <!-- <li ui-sref="save-design" ui-sref-active="active"><p>SAVED DESIGNS</p></li> -->
        </ul>
    </div>
</div>
