<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li>Shop</li>
        <li ng-repeat="shop in navigation[0].subnav">
          <a href="{{shop.link}}">{{shop.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li>
          Customize
        </li>
        <li ng-repeat="customize in navigation[1].subnav">
          <a href="{{customize.link}}">{{customize.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <ul class="list-unstyled">
        <li>
          Account
        </li>
        <li>
          <a href="">Log In</a>
        </li>
        <li>
          <a href="">Sign Up</a>
        </li>
        <li>
          <a href="">Wishlist</a>
        </li>
        <li>
          <a href="">My Cart</a>
        </li>
      </ul>
      <div class="social-icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
      </div>
    </div>
  </div>
</div>
