<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#nav-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">
        <img src="img/logo.png">Conqvest
      </a>
    </div>
    <div class="collapse navbar-collapse" id="nav-collapse">
      <div class="template menu pull-right" ng-include="'views/menu.html'"></div>
    </div>
  </div>
  <div class="sub-holder" ng-show="hovermenu" ng-mouseleave="unhovered();"></div>
</nav>