<ul class="nav navbar-nav hidden-xs">
  <li ng-repeat="menu in navigation">
    <a href="{{menu.link}}" class="{{menu.classis}}" ng-mouseenter="hovered();">{{menu.name}}</a>
    <ul class="custom-sub {{menu.name}} hidden-xs" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a href="{{submenu.link}}" class="{{submenu.classis}}" ng-show="hovermenu">{{submenu.name}}</a>
      </li>
    </ul>
    <ul class="custom-sub {{menu.name}}" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a href="{{submenu.link}}" class="{{submenu.classis}}" ng-show="hovermenu">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="" ng-mouseenter="hovered();">Account</a>
    <ul class="custom-sub" ng-show="hovermenu">
      <li>
        <a href="#" class="active">Log In</a>
      </li>
      <li>
        <a href="#" class="active">Sign Up</a>
      </li>
      <li class="mt-35">
        <a href="#">Wishlist <span class="pull-right fit"><i class="fa fa-star"></i></span></a>
      </li>
      <li>
        <a href="#">Cart <span class="pull-right fit"><i class="fa fa-shopping-cart"></i></span></a>
      </li>
    </ul>
  </li>
</ul>



<ul class="nav navbar-nav visible-xs">
  <li ng-repeat="menu in navigation">
    <a href="{{menu.link}}" class="{{menu.classis}}" ng-click="hovered();">{{menu.name}}</a>
    <ul class="custom-sub {{menu.name}}" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a href="{{submenu.link}}" class="{{submenu.classis}}" ng-show="hovermenu">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="" ng-click="hovered();">Account</a>
    <ul class="custom-sub" ng-show="hovermenu">
      <li>
        <a href="#" class="active">Log In</a>
      </li>
      <li>
        <a href="#" class="active">Sign Up</a>
      </li>
      <li class="mt-35">
        <a href="#">Wishlist <span class="pull-right fit"><i class="fa fa-star"></i></span></a>
      </li>
      <li>
        <a href="#">Cart <span class="pull-right fit"><i class="fa fa-shopping-cart"></i></span></a>
      </li>
    </ul>
  </li>
</ul>

<!-- <div class="white-holder">
  <ul class="shop-hover">
      <li ng-repeat="shop in navigation[0].subnav">
          <a href="{{shop.link}}">{{shop.name}}</a>
      </li>
  </ul>
  <ul class="customize-hover">
      <li ng-repeat="customize in navigation[1].subnav">
          <a href="{{customize.link}}">{{customize.name}}</a>
      </li>
  </ul>
</div> -->
