<div class="tabs-login min-height">
  <div class="panel-heading">
    <h3>MAKE AN APPOINTMENT NOW</h3>
  </div>
  <div class="modal-body">
    <!--   Forgot password   -->
    <div class="holder1">
      <div class="signup">
        <div class="login-form">
          <div class="head-form">
            <h4 class="text-center">PLEASE FILL IN YOUR DETAILS &amp;
              <br> WE WILL SOON GET BACK TO YOU.</h4>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Please Enter Your Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Mobile Number">
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-outline btn-dark active">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
