<div class="tdesign">
  <a href="" ng-click="$dismiss();" class="modal-cross mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="modal-body">
    <form name="designform" class="text-center">
      <p class="uppercase Raleway">Are you sure you want to remove logo?</p>     
      <div class="copyrights-buttons text-center">
        <button type="submit" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="confirmEmptyImage(saveKey);">yes</button>

        <button class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="$dismiss()">No</button>
      </div>
    </form>
  </div>
</div>
