
<div class="tshirt-popup">
    <a href="" ng-click="$dismiss();" class="pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="mod-img ">
    <div class="noti-imgs" ng-style="{'background-image':'url(img/custom/c4.jpg)'}">
    </div>
  </div>
  <h4 class="text-center uppercase">upload new logo</h4>
  <div class="tshirtpop-buttons text-center">
    <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase">upload</button>
      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase">cancel</button>
  </div>
</div>
