
<div class="choose-file">
<div class="modal-body ">
  <a href="" ng-click="$dismiss();" class="pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="row">
  <div class="col-md-5">
    <div class="mod-img ">
      <div class="noti-imgs" ng-style="{}">
        <img equalHeight equalWidth ng-src="{{tempImage | serverimage}}" src="" alt="" class="img-responsive" ng-if="tempImage">
      </div>
    </div>
  </div>
    <div class="col-md-7">
<div class="format-type">
<h2>File {{variable}} Type Format</h2>
<span>jpeg, png, tiff, pdf, eps</span>
</div>
<div class="file-size">
<h2>Maximum Upload File Size 20MB </h2>
<span>File may take anywhere from a few seconds to a few minutes to upload.</span>
</div>
  <!--<button href="" class="btn btn-outline btn-dark  padding-btn letter-spacing" ng-click="openUploads()">choose your file</button>-->
  <div ng-if="statuses.uploadStatus">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-class="{'width-full': tempImage}"></div>
    </div>
    <span class="pull-right mt12" ng-if="tempImage">100% completed</span>
  </div>
  <button type="button" class="btn pad4 btn-outline btn-dark block" aria-label="File" ng-if="!statuses.uploadStatus">
    <label class="no-margin" for="selector5">Upload Image</label>
    <input style="display:none;" accept="image/x-png,image/jpeg,image/jpg" ng-file-select="onFileSelect($files, 1, 'single', 'teamlogo');" onclick='this.value=null' type="file" id="selector5"/>
  </button>
  <button class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="$dismiss()">cancel</button>
  <button class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-if="tempImage" ng-click="confirmUpload('teamlogo', 'Team Logo'); $dismiss();">ok</button>
    </div>
    </div>
</div>
</div>
