<div class="copyrights">
    <a href="" ng-click="$dismiss();" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="text-center">
  <h2>Confirm Copyrights Permission</h2>
  <img src="img/normal-logo.png" class="img-responsive" alt="">
  </div>
  <div class="conditions">
    <p>In order to use a design, you must have the full rights to it. If you are unsure or have any doubts, please confirm your ownership or seek permission from the copyright owner.</p>
    <span>When you save a design, you are agreeing to the following terms: </span>
    <ul>
      <li> I hold commercial rights to reproduce the design.</li>
      <li>If for any reason the legal owner of this design contacts fulfillment house, they will be directed to me. </li>
      <li>   I understand illegal use of third-party copyright content is a serious offence and can lead to penalties. </li>
    </ul>
  </div>
  <div class="check">
      <input type="checkbox" ng-model="statuses.copyright" class="form-control" id="loginings">
      <label for="loginings"><span></span>I hereby declare I have permission to use this file. statuses{{statuses.copyright}}</label>
  </div>
  <div class="copyrights-buttons pull-right">
      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase">cancel</button>
      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-if="statuses.copyright" ng-click="openChooseFile()">ok</button>
  </div>
</div>
