<section class="customize-now">
  <span class="close"><i class="fa fa-close"  ng-click="$close();"></i></span>
  <div class="alert-postion">
    <!-- <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" >{{alert.msg}}</uib-alert> -->
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
  </div>
  <!-- <p class="descp">A Do-It-Yourself automated version of CCC will be launched soon. Stay tuned for our 2nd innings but meantime get started and let us kit you up before your season opener. CCC products are available for immediate despatch, team / club customisation takes up to 4 weeks for delivery to your doorstep.</p> -->
  <p class="descp">A DIY version will be launching soon, until then get a head start - you can send us your requests via the form below and we can begin kitting you up.</p>
  <form name="customForm" class="form-inline">
  <!-- <div class="rl customize-img">
    <div class="show-upload">
      <img ng-src="" alt="" class="img-responsive">
    </div>
  </div> -->
    <div class="form-group">
      <div ng-init='httpMethod=POST;howToSend = 1;'></div>

      <div class='rl customize-img' ng-show="showimage">
         <div class='show-upload'>
           <img ng-src='{{customInfo.image | serverimage}}' class="img-responsive">
         </div>
      </div>
      <label for="">Team Logo (required)</label>

<input type='file' name="file" class="form-control" ng-file-select='onFileSelect($files,1,"single")' onclick='this.value=null' required>
<p style="margin-top: 20px;    float: right;    clear: left;" ng-hide="toolarge">max. file upload size 20MB jpeg/pdf/tiff etc.</p>
<p style="margin-top: 20px;    float: right;    clear: left;" ng-show="toolarge">file size too large. (max. upload size 20MB)</p>

    </div>

    <div class="form-group">
      <label for="">Name (required)</label>
      <input type="text" name="name" required ng-model="customInfo.name" class="form-control" placeholder="Ex: Virat Kohli">
    </div>
    <div class="form-group">
      <label for="">Email ID (required)</label>
      <input type="email" name="email" required ng-model="customInfo.email" class="form-control" placeholder="Ex: viratkohli@gmail.com">
    </div>
    <div class="form-group">
      <label for="">I am interested in (required)</label>
      <input type="text" name="interest" required ng-model="customInfo.interest" class="form-control" placeholder="Ex: Whites, kitbag, bats">
    </div>
    <div class="form-group">
      <label for="">Team/Club Name (optional)</label>
      <input type="text" class="form-control" ng-model="customInfo.teamname" placeholder="Ex: Osian's Cricket Club">
    </div>
    <div class="form-group">
      <label for="">Team Initials  (optional)</label>
      <input type="text" class="form-control" ng-model="customInfo.teaminitials" placeholder="Ex: OCC">
    </div>
    <div class="form-group">
      <label for="">Main Team Colours  (optional)</label>
      <input type="text" class="form-control" ng-model="customInfo.color" placeholder="Ex: Blue & Green">
    </div>
    <div class="form-group msg">
      <label for="">Message</label>
      <textarea ng-model="customInfo.message" id="" class="form-conrtol" placeholder="Ex: I am interested in personalised apparel and kit bags for my club team. I can send you imagesof our old club jersey / kit which we would like to modify and improve.  Also, what is your minimum order requirement for personalised gloves, pads & balls? Thank you."></textarea>
    </div>
    <div class="text-center">
      <p><b> Note:</b> A minimum quantity of 10 items required per product.</p>
    </div>
    <div class="text-center">
      <div class="submit text-center">
        <button type="" class="btn btn-dark btn-outline letter-spacing" ng-click="customiseIt(customInfo,customForm)" >SUBMIT</button>
      </div>
    </div>

  </form>
</section>
