<section class="customize-now">
  <p class="descp">A Do-It-Yourself automated version of CCC will be launched soon. Stay tuned for our 2nd innings but meantime get started and let us kit you up before your season opener. CCC products are available for immediate despatch, team / club customisation takes up to 4 weeks for delivery to your doorstep.</p>
  <form action="" class="form-inline">
  <div class="rl customize-img">
    <div class="show-upload">
      <img src="img/ccc-advert.jpg" alt="" class="img-responsive">
    </div>
  </div>
    <div class="form-group">
      <label for="">Team Logo (required)</label>
      <input type="file" class="form-control">
      <p style="margin-top: 20px">max.file upload size 20MB jpeg/pdf/tiff etc.</p>
    </div>
    <div class="form-group">
      <label for="">Name (required)</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Email ID (required)</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">I am interested in (required)</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Team/Club Name (optional)</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Team Initials - (optional)</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Main Team Colours  (optional)</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group msg">
      <label for="">Message</label>
      <textarea name="" id="" class="form-conrtol"></textarea>
    </div>
    <div class="text-center">
      <div class="submit text-center">
        <button type="" class="btn btn-dark btn-outline letter-spacing" ng-click="sendEmail(forgot);" >SUBMIT</button>
      </div>
    </div>
  </form>
</section>
