<!-- <div class="tabs-login">
  <div class="modal-header">
    <h3 class="modal-title activered" ng-click="changeTab(1)">SIGN UP</h3>
    <h3 class="modal-title activeyellow" ng-click="changeTab(2)">LOGIN</h3>
  </div>
  <div class="modal-body">
    <div class="holder1" ng-show="signupmodal" >
      <div class="signup">
        <div class="login-form">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="signup.firstname" placeholder="First Name *">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="signup.lastname" placeholder="Last Name *">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" ng-model="signup.email" placeholder="Email *">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="signup.password" placeholder="Password *">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="signup.cpassword" placeholder="Confirm Password *">
          </div>
          <div class="form-group i-check">
            <div class="checkbox">
              <input type="checkbox" id="tc" ng-model="accept">
              <label for="tc" class="agree">
              <p style="color:red" ng-if="validation1!=''">{{validation1}}</p>
                <span></span> I Accept the Terms and Conditions and Privacy Policy of the website
            </div>
          </div>
        </div>
        <div class="">
          <button class="btn btn-outline btn-dark active" ng-click="doSignUp(accept)">SIGN UP</button>
          <div class="mg">
            <p class="or">OR SIGN UP VIA</p>
          </div>
          <div class="social-icon">
            <button class="btn btn-facebook pad-btn">
              <i class="fa fa-facebook social-f"></i>
            </button>
            <button class="btn btn-google pad-btn">
              <i class="fa fa-google-plus"></i>
            </button>
            <button class="btn btn-twitter pad-btn">
              <i class="fa fa-twitter"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="holder1" ng-show="loginmodal">
      <div class="login">
        <div class="login-form">
          <div class="form-group">
            <input type="email" class="form-control" ng-model="login.email" placeholder="Email *">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="login.password" placeholder="Password *">
          </div>
          <div class="form-group i-check">
            <div class="checkbox">
              <input type="checkbox" id="tc">
              <label for="tc" class="agree">
                <p style="color:red" ng-if="validation">Enter all Fields</p>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12">
            <div class="class-forget">
              <p><a href="#/forgot">Forgot Your Password?</a></p>
            </div>
          </div>
          <div class="col-xs-12">
            <button class="btn btn-outline btn-dark active" ng-click="doLogin()">LOGIN</button>
          </div>
        </div>
        <div class="signupor">
          <p class="or">OR SIGN IN VIA</p>
          <div class="social-icon">
            <button class="btn btn-facebook pad-btn">
              <i class="fa fa-facebook social-f"></i>
            </button>
            <button class="btn btn-google pad-btn">
              <i class="fa fa-google-plus"></i>
            </button>
            <button class="btn btn-twitter pad-btn">
              <i class="fa fa-twitter"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="login-tab">
  <uib-tabset>
    <uib-tab heading="Login">
      <div class="login-form">
        <form name="loginForm" ng-submit="">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <div class="form-group">
                <input type="email" name="email" ng-model="login.email" class="form-control" required placeholder="Email">
                <div class="ab" ng-show="loginForm.email.$invalid && loginForm.email.$touched " role="alert">
                  Please enter email
                </div>
              </div>
              <div class="form-group">
                <input type="password" name="password" ng-model="login.password" class="form-control" required placeholder="Password">
                <div class="ab" ng-show="loginForm.password.$invalid && loginForm.password.$touched" role="alert">
                  Please enter password
                </div>
                <div class="ab" ng-show="invalidinput" role="alert">
                  Invalid email or password.
                </div>
              </div>
              <div class="accept">
                <div class="checkbox">
                  <input type="checkbox" class="form-control" id="login">
                  <label for="login"><span></span>Keep me logged in</label>
                </div>
              </div>
              <div class="ab text-center" ng-show="validatelogin">
                Invalid username or password
              </div>
              <!-- <div class="ab text-center" ng-show="inputall">
                Please input all info
              </div> -->
                <div class="text-center ">
                <span class="forgot text-uppercase" ng-click="openForgot();">Forgot Your Password ?</span>
              </div>

              <div class="text-center submit">
                <button class="text-uppercase btn btn-light letter-spacing" ng-click="doLogin(login,loginForm)" type="submit">Login</button>
              </div>
            </div>
          </div>
        </form>
        <div class="text-center text-uppercase">
          <p>or Login via</p>
        </div>
        <div class="social-icon text-center">
          <button class="btn btn-facebook pad-btn" ng-click="facebooklogin()">
            <i class="fa fa-facebook social-f"></i>
          </button>
          <button class="btn btn-google pad-btn" ng-click="googlelogin()">
            <i class="fa fa-google-plus"></i>
          </button>
          <button class="btn btn-twitter pad-btn" ng-click="twitterlogin()">
            <i class="fa fa-twitter"></i>
          </button>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Sign up">
      <div class="login-form">
        <form name="signupForm">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <div class="form-group">
                <input type="text" name="firstname" class="form-control" ng-model="signup.firstname" required placeholder="First Name">
                <div class="ab" ng-show="signupForm.firstname.$error.required && signupForm.firstname.$touched" role="alert">
                  Please enter your name.
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="lastname" class="form-control" ng-model="signup.lastname" required placeholder="Last Name">
                <div class="ab" ng-show="signupForm.lastname.$error.required && signupForm.lastname.$touched" role="alert">
                  Please enter your name.
                </div>
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" ng-model="signup.email" required placeholder="Email">
                <div class="ab" ng-show="signupForm.email.$invalid && signupForm.email.$touched" role="alert">
                  Please enter your email properly.
                </div>
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" ng-model="signup.password" ng-minlength="6" required placeholder="Password">
                <div class="ab" ng-show="signupForm.password.$error.required && signupForm.password.$touched" role="alert">
                  Please enter your password.
                </div>
                <div class="ab" ng-show="signupForm.password.$error.minlength " role="alert">
                  Password too short.
                </div>
              </div>
              <div class="form-group">
                <input type="password" name="cfpassword" class="form-control" ng-model="signup.cfpassword" ng-minlength="6" required placeholder="Confirm Password">
                <div class="ab" ng-show="signupForm.cfpassword.$error.required && signupForm.cfpassword.$touched" role="alert">
                  Please enter correct password.
                </div>
                <div class="ab" ng-show="noMatch">
                      Passwords do not match.
                </div>
                <div class="ab" ng-show="signupForm.cfpassword.$error.minlength " role="alert">
                  Password too short.
                </div>
              </div>
              <div class="accept">
                <div class="checkbox">
                  <input type="checkbox" ng-model="accept" ng-change="acceptIt(accept)" class="text-uppercase" id="accept">
                  <label for="accept" class="text-light text-uppercase">
                    <span></span> I Accept The <a href="" ui-sref="termsconditions" style="color: #fff; text-decoration: underline;">Terms And Conditions</a> And Privacy Policy Of The Website
                  </label>
                </div>
                <div class="ab" ng-show="acceptValidate">
                  Please accept the terms and conditions to proceed.
                </div>
                <div class="ab" ng-show="alreadyReg">
                  Email ID is already registered
                </div>

              </div>
              <div class="text-center submit sign-submit">
                <button class="btn btn-light letter-spacing text-uppercase" ng-click="doSignup(accept,signup,signupForm)">Signup</button>
              </div>
            </div>
          </div>
      </div>
      </form>
      <div class="text-center text-uppercase">
        <p>or sign up via</p>
      </div>
      <div class="social-icon text-center">
        <button class="btn btn-facebook pad-btn" ng-click="facebooklogin()">
          <i class="fa fa-facebook social-f"></i>
        </button>
        <button class="btn btn-google pad-btn" ng-click="googlelogin()">
          <i class="fa fa-google-plus"></i>
        </button>
        <button class="btn btn-twitter pad-btn"ng-click="twitterlogin()">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
</div>
</uib-tab>
</uib-tabset>
</div>
