<div class="continue">
  <a href="" ng-click="$dismiss();" class="text-up pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="headers">
      <div class="logo-img text-center">
          <img src="img/logo_black.png" alt="logo">
      </div>
      <div class="nocheck-text text-center">
  <p class="margin0">Thank you for customising with Custom Cricket Company. </p>
  <p class="margin0">Please enter your details below and <br>we'll get back to you within 24 hours. </p>

      </div>
  </div>
  <form name="nocheckout" class="form">
<div class="form-group">
    <label>First Name:</label>
    <input type="text" class="form-control"> 
    </div>
  </form>
  <div class="continue-buttons text-center">
     
      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" >submit</button>
  </div>
</div>
