<div class="continue">
  <a href="" ng-click="$dismiss();" class="text-up pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="headers">
  <p class="uppercase text-center">YOUR DESIGN HAS BEEN SUCCESSFULLY SAVED.</p>
  </div>
  <div class="continue-buttons text-center">
      <button class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="goToReload();">SAVE DESIGN</button>
      <!--<button class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="$dismiss()">OKAY</button>-->
  </div>
</div>