<div class="out-place clearfix">
  <a href="" ng-click="$dismiss();" class="text-up pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="place-image pull-left">
    <img src="img/copyright.png" class="img-responsive"alt="">
  </div>

<div class="place-text pull-left">
<h2 class="capitalize">something out of place</h2>
<div class="works">
<h4 class="capitalize">how it works?</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium quos perspiciatis fuga reprehenderit explicabo aspernatur ipsam tenetur dignissimos repellat illum, sunt atque assumenda blanditiis porro aperiam delectus dolor veniam.</p>
</div>
<div class="request ">
  <h4 class="capitalize">have special requests?</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium quos perspiciatis fuga reprehenderit explicabo aspernatur ipsam tenetur dignissimos repellat illum, sunt atque assumenda blanditiis porro aperiam delectus dolor veniam.</p>
</div>
</div>
</div>

<!-- <div class="out-place clearfix">
  <div class="slant-row">
    <div class="slant-col pull-left">
      <div class="slant-box full-height">
        <div class="mover">
          <img src="img/copyright.png" class="img-responsive" alt="">
        </div>
      </div>
    </div>
    <div class="slant-col pull-right">
      <div class="place-text">
          <div class="slant-box full-height">
              <div class="mover">
      <h2>something out of place</h2>
      <div class="works">
      <h4>how it works</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium quos perspiciatis fuga reprehenderit explicabo aspernatur ipsam tenetur dignissimos repellat illum, sunt atque assumenda blanditiis porro aperiam delectus dolor veniam.</p>
      </div>
      <div class="request">
        <h4>have special requests</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium quos perspiciatis fuga reprehenderit explicabo aspernatur ipsam tenetur dignissimos repellat illum, sunt atque assumenda blanditiis porro aperiam delectus dolor veniam.</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div> -->


<!-- <div class="out-place">
  <a href="" ng-click="$dismiss();" class="text-up pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <img src="img/Clicking.png" class="img-responsive"alt="">
</div> -->
