<div class="proceed">
  <a href="" ng-click="$dismiss();" class="text-up pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="cat-img">
      <img src="img/custom/c2.jpg" class="img-responsive">
  </div>
  <p class="text-center">If you proceed to add the logo to the right chest, <br>the ccc logo will be moved to the back of your t-shirt</p>
  <div class="continue-buttons text-center mr">
      <button ng-click="UploadTeamLogo1()" class="btn btn-outline btn-dark mar15 mr10 padding-btn letter-spacing uppercase">yes,continue</button>
      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase">no</button>
  </div>
</div>
