<!-- <section>
  <div class="container">
    <div class="sliderpopup">
      <h1 class="text-center text-uppercase">How to choose a willow</h1>
    </div>
  </div>
</section> -->
<section class="to-choose">
    <span class="close"><i class="fa fa-close"  ng-click="$close();"></i></span>
    <h3 class="text-center text-uppercase text-underline head">How to choose a willow</h3>
 <!-- class="flex-active-slide" -->
    <div class="head-slide">
      <flex-slider class="carousel" flex-slide="list in slides track by $index" animation="slide" direction-nav="true" animationspeed="200">
      <li>
        <h4>
          {{list.statement}}
        </h4>
        <p>
          {{list.paras1}}
        </p>
        <p>
          {{list.paras2}}
        </p>
        <p>
          <span>{{list.head1}}</span>&nbsp;&nbsp;{{list.para1}}
        </p>
        <p>
          <span>{{list.head2}}</span>&nbsp;&nbsp;{{list.para2}}
        </p>
        <p>
          <span>{{list.head3}}</span>&nbsp;&nbsp;{{list.para3}}
        </p>
      </li>
    </flex-slider>
    </div>
</section>
