<div class="matching"  ng-style="{'background-image':'url(img/vector.png)' }">
  <a href="" ng-click="$dismiss();" class="mrt text-up pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="headings">
  <p class=" f600 text-center">We’ve gone ahead and created</p>
  <p class=" f600 text-center">a matching pair for you!</p>

    <img src="img/pant-copy.png" class="img-responsive inline-block" alt="">
  </div>
  <div class="head text-center">
  <p class="f600">Complete the set by adding </p>
  <p class="f600">the below to your design.</p>
  </div>
<div class="row">
  <div class="col-md-4 col-md-offset-3 col-xs-4 col-xs-offset-3">
  <div class="cap-pant inline-block">
  <img src="img/back-tshrt.png" class="img-responsive" alt="">
</div>
</div>
<div class="col-md-4 col-xs-4">
  <div class=" cap-pants inline-block">
      <img src="img/cap.png" class="img-responsive inline-block" alt="">

  </div>
</div>
  </div>
<div class="text-center mr mrt">
    <div class="checker inline-block mr50">
        <input type="checkbox" class="form-control" id="pant">
        <label for="pant"><span></span>Add to your design</label>
    </div>
    <div class="checker inline-block">
        <input type="checkbox" class="form-control" id="cap">
        <label for="cap"><span></span>Add to your design</label>
    </div>
    </div>
  <div class="continue-buttons text-center mr">
      <button ui-sref="final-trouser" class="btn btn-outline btn-dark mar15 mr10 padding-btn letter-spacing uppercase">yes,continue</button>
      <button href="" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase">no</button>
  </div>
</div>
