<div class="tdesign">
  <a href="" ng-click="$dismiss();" class="modal-cross mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="modal-body">
    <form name="designform" class="text-center">
      <p class="uppercase Raleway">Changing the design will erase all previously made changes. Logos shall remain unchanged.</p>
      <p class="uppercase Raleway">Are you sure you want to continue?</p>
      <div class="copyrights-buttons text-center">
        <button type="submit" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="changeDesign(designIndex, designImage);changeDesign(designImage);selectPadsDesign(designImage); selectDesign(designImage);$dismiss();openDesign1(designImage)">yes, continue</button>
        <button class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="$dismiss()">no</button>
      </div>
    </form>
  </div>
</div>
