<div class="tdesign">
  <a href="" ng-click="$dismiss();" class="pull-right mr10"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="modal-body">
    <form name="designform" class="text-center">
      <p class="uppercase Raleway">Are you sure you want to continue on to team logo.</p>
      <p class="uppercase Raleway">The text added will be removed.</p>
      <div class="copyrights-buttons text-center">
        <button type="submit" class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="changeDesign(designIndex); $dismiss();">yes, continue</button>
        <button class="btn btn-outline btn-dark mar15 padding-btn letter-spacing uppercase" ng-click="$dismiss()">no</button>
      </div>
    </form>
  </div>
</div>
