$screen-mobile: 480px !default;
$screen-desktop: 1224px !default;
@media (max-width: 1224px) {
  .ccc-quality {
    p {
      padding: 0 12px;
    }
  }
  .ship {
    height: 116px;
    p {
      padding: 0 7px;
    }
  }
  .img-hold {
    height: 95px;
  }
  .login-tab .tab-content {
    padding: 35px 20px;
  }
  .privacy-info {
    padding: 30px 0;
  }
  .letter-spacing {
    letter-spacing: 2px;
  }
  .pro-detail-btn {
    padding: 10px;
  }
  .message {
    padding: 84px 0;
  }
  .step ul li p {
    padding: 5px 20px 0;
  }
  .navbar-default .navbar-nav>li>a {
    padding: 8px 3px;
  }
  .mg-tp-0 {
    margin-top: 0 !important;
  }
  .choose-product {
    padding: 20px 60px;
  }
  .testimonial .slider-info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .product-slider {
    .product {
      width: 210px;
      margin: 0 auto;
    }
    .slider-prd-detail {
      .info {
        width: 55%;
      }
      .flexslider .flex-direction-nav .flex-next {
        right: -25px !important;
      }
      .flexslider .flex-direction-nav .flex-prev {
        left: -45px !important;
      }
    }
  }
  .detail-descptab {
    margin-top: 20px;
  }
  .custom-direct .space-flex {
    padding: 50px;
  }
  .testimonial {
    .slider-prd-detail {
      padding: 0 60px;
    }
    .slider-info {
      .info {
        width: 500px;
        .name {
          width: 50%;
        }
        .descp {
          margin: 20px 0;
        }
      }
    }
  }
  .cart-btn {
    .btn {
      padding: 4px 6px;
      font-size: 12px;
    }
  }
  .service-heading {
    padding: 10px 0;
  }
  .service-menu {
    margin-top: 0;
    ul {
      li {
        a {
          padding: 0;
        }
      }
    }
  }
  footer {
    .custom-footer li a.active {
      font-size: 10px;
    }
    .footermenu ul.list-unstyled.foot-cards li img {
      width: 34px;
      padding-right: 5px;
    }
  }
  .footermenu {
    li,
    .mobileli li a {
      padding: 0 !important;
    }
  }
  .slider-prd-detail {
    width: 840px;
  }
}

@media (max-width: $screen-sm-max) {
  .mr50 {
    margin-left: 20px;
}
  .ccc-quality {
    p {
      padding: 0 8px;

      font-size: 12px;
    }
  }
  .ship {
    height: 108px;
    p {
      padding: 0 3px;
    }
  }
  .lounge-detail {
    margin-left: 12px;
  }
  .zoomWindow {
    width: 250px!important;
    height: 250px!important;
  }
  .service-menu ul li {
    margin-bottom: 10px;
  }
  .foundation-part {
    padding: 0 30px;
  }
  .message {
    padding: 120px 0;
  }
  .navbar-brand {
    padding: 12px 0 12px 15px;
    font-size: 14px;
    img {
      height: auto;
      width: 100px;
      margin-right: 2px;
    }
  }
  .high-light {
    font-size: 40px;
  }
  .check-out .tab-content {
    padding: 23px 30px 0;
  }
  .strong {
    padding: 50px 100px;
  }
  .step {
    ul {
      padding-left: 10px;
      text-align: center;
      li {
        p {
          padding: 5px 10px 0 20px;
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
  .step.padding-step ul li p {
    padding: 5px 10px 0;
    font-size: 12px;
  }
  .navbar-default {
    .navbar-nav {
      li {
        a {
          font-size: 12px;
          padding: 8px 2px;
          margin: 0px 0;
        }
      }
    }
  }
  .btn-yellow {
    margin-left: 0 !important;
  }
  .custom-sub {
    .fit {
      margin-top: 0;
      font-size: 8px;
    }
    li a {
      font-size: 7px;
      margin-right: 40px;
      padding: 5px 12px;
    }
  }
  .sub-holder {
    height: 150px;
  }
  .img-hold {
    height: 70px;
  }
  .banners .banner-inner h2 {
    font-size: 24pt;
  }
  .bright {
    margin-bottom: 20px;
  }
  .bright-1 {
    border-right: 1px solid $border;
    margin-bottom: 20px;
  }
  .no-bg {
    background: none;
  }
  .m20-l {
    margin-bottom: 20px;
  }
  .choose-product {
    padding: 20px;
    .product-list {
      .product-imghold {
        @include square(120px);
      }
    }
  }
  .product-slider {
    .product {
      width: auto;
      .slider-prd-detail {
        width: 88%;
        .flexslider .flex-direction-nav .flex-next {
          right: 0 !important;
        }
      }
    }
  }
  .testimonial {
    .slider-prd-detail {
      padding: 0;
      .flexslider {
        .flex-direction-nav {
          .flex-next:before {
            @include transform(scale(0.2));
          }
          .flex-prev {
            left: -30px !important;
            &:before {
              @include transform(scale(0.2));
            }
          }
        }
      }
    }
    .slider-info {
      width: 80%;
      margin: 0 auto;
      .info {
        width: 55%;
      }
    }
  }
  .custom-direct {
    .space-flex {
      padding: 0;
    }
    .flex-pad {
      padding: 30px;
      .category {
        font-size: 24px;
      }
    }
  }
  .cart-btn {
    .btn {
      padding: 6px 12px;
      font-size: 12px;
    }
  }
  .main-head {
    padding: 75px 0 10px;
    .high-light {
      margin: 0;
    }
  }
  .thank-you.text-center {
    padding: 100px;
  }
  .head-msg {
    font-size: 40px !important;
    margin-top: 30px !important;
  }
  .transaction-info h3 {
    font-size: 18px !important;
  }
  footer .custom-footer li a.active {
    margin-left: 36px;
    font-size: 12px;
    padding: 10px 0;
  }
  .no-row-flex {
    display: block!important;
  }
  .slider-prd-detail {
    width: 360px;
  }
  .product-detail-over {
    overflow: hidden;
  }
}

@media (max-width:$screen-xs-max) {
  .navbar-default .navbar-nav>li .user-name{
    width:100%;
  }
  .profile-menu {
    width: 100%;
    }
 .privacy-info p, .privacy-info li {
    font-size: 9px !important;
}
  .lounge {
    padding: 32% 0 4%;
    }
     .mr50{
    margin-left: 0;
  }
  .option-shirt {
    .sizes {
      padding: 10px 4px;
    }
  }
 .m0-mob{
   margin-left: 0px !important;
 }
  .desc-sec p {
    text-align: justify;
    width: inherit;
    letter-spacing: 0;
  }
  .wd88 {
    width: 86px!important;
  }
  .desc-sec .logo-img {
    padding: 0;
  }
  .desc-sec h3 {
    font-size: 16px!important;
  }
  .desc-sec .team-logo {
    height: 90px;
    width: 90px;
  }
  .nexterest-level {
    .table-detail {
      .option-shirt {
        .sizes {
          input {
            width: 50px !important;
          }
          .form-control {
            display: inline-block;
          }
        }
      }
    }
  }
  .bins {
    top: 45px;
  }
  .on-mobile {
    margin: 0;
    ul.dropdown-menu {
      width: 100%;
      box-shadow: none !important;
    }
  }
  .custom-sub.service-head-menu.cart-hov {
    display: none;
  }
  .message {
    padding: 84px 0;
  }
  .zoomContainer {
    display: none;
  }
  .login-tab {
    width: 90%;
    .tab-content {
      padding: 35px 20px;
      .nav-tabs li a {
        padding: 10px 30px;
        font-size: 16px;
      }
    }
  }
  .navbar-default .nav>li {
  min-height: auto;
    margin-top: 0px;
    padding: 0px 0;
  }
  .high-light {
    font-size: 26px;
  }
  .customise-sec {
    padding: 0;
  }
  .advertise {
    h4 {
      font-size: 24px;
    }
    h3 {
      font-size: 30px;
    }
  }
  .service-menu {
    margin-top: 0;
    ul li {
      margin-bottom: 5px;
      padding: 0 5px;
      line-height: 150%;
      a {
        font-size: 10px;
      }
    }
  }
  .related-product {
    width: 400px;
  }
  .strong {
    padding: 20px;
    .line-hover {
      font-size: 14px;
      letter-spacing: 2px;
      padding: 75px 0;
    }
  }
  .get-me {
    padding: 10px 20px 0 12px;
  }
  .navbar-collapse .pull-right {
    float: none!important;
    text-align: center;
  }
  .foundation {
    .row-flex {
      display: block;
    }
    .col-flex-50 {
      max-width: 100%;
    }
  }
  .navbar-default {
    .navbar-nav {
      li {
        &:last-child a {
          border-bottom: 0;
        }
        a {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          border-right: 0;
          font-size: 12px;
          margin: 0;
          text-align: center;
        }
      }
    }
    .navbar-collapse {
      padding: 0;
    }
    .navbar-toggle:focus,
    .navbar-toggle:hover {
      background-color: #000;
    }
  }
  .custom-sub:after {
    display: none;
  }
  // .navbar-nav {
  //   margin: 0 -15px;
  // }
  .smart-content p {
    width: 100%;
  }
  p {
    font-size: 12px !important;
  }
  .banners {
    .banner-inner {
      h2 {
        font-size: 16pt;
      }
    }
  }
  .slider .flexslider .flex-direction-nav {
    .flex-next:before,
    .flex-prev:before {
      @include transform(scale(0.3));
    }
  }
  ul.list-unstyled.foot-cards {
    text-align: center;
  }
  .custom-sub {
    position: static;
    padding: 0;
    background: #fff;
    li.mt-35 {
      margin-top: 0;
    }
  }
  .service-pd {
    padding: 40% 0 4%;
  }
  .service-heading {
    padding: 5px 0;
    .service-menu {
      margin: 0;
      ul {
        text-align: center;
        padding-left: 0;
        margin-bottom: 0;
      }
    }
  }
  .row-flex.no-row-flex {
    display: block;
  }
  .step {
    ul {
      padding-left: 5px;
      text-align: center;
      li {
        margin-right: 12px;
        margin-bottom: 10px;
        p {
          padding: 7px 0 0 20px;
          font-size: 10px;
        }
      }
    }
  }
  .testimonial {
    .slider-info {
      .slider-imgholder {
        margin-right: 20px;
      }
      .info {
        width: 100%;
      }
    }
  }
  .check-out .nav-tabs li a {
    padding: 6px 8px;
    margin: 0 5px;
  }
  .step.padding-step ul li {
    margin-right: 10px;
    p {
      padding: 6px 7px !important;
    }
  }

  .product-detail .review .design {
    margin-bottom: 10px;
    p {
      letter-spacing: 1px;
      text-align: center;
      font-size: 14px;
    }
  }
  .mg-tp-0 {
    margin-top: 10px !important;
  }
  .privacy-info {
    padding: 20px 12px;
  }
  .sub-holder {
    height: auto;
  }
  .custom-sub {
    .service-head-menu.cart-hov {
      display: none;
    }
    .fit {
      font-size: 12px;
    }
  }
  .det-name {
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 18px;
    }
  }
  table.table {
    background-color: transparent;
    display: block;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  .m20-m {
    margin-bottom: 20px;
  }
  .choose-product {
    padding: 20px 0;
    .pro-head {
      font-size: 25px;
    }
    .product-list {
      .product-imghold {
        padding: 2px;
        @include square(85px);
      }
    }
  }
  .product-slider {
    .title {
      margin-bottom: 25px;
    }
    .slider-prd-detail {
      width: 420px;
      .flexslider .flex-direction-nav .flex-next:before {
        @include transform(scale(0.2));
      }
      .flexslider .flex-direction-nav .flex-prev:before {
        @include transform(scale(0.2));
      }
      .flexslider .flex-direction-nav .flex-next {
        right: -70px !important;
      }
      .flexslider .flex-direction-nav .flex-prev {
        right: -75px !important;
      }
    }
  }
  footer {
    .pb25 {
      padding-bottom: 0;
    }
    h5 {
      text-align: center;
    }
    .social-icons {
      text-align: center;
      i {
        padding: 0 20px !important;
      }
    }
    ul {
      text-align: center;
      margin-bottom: 20px !important;
      li {
        text-align: center;
      }
    }
    .footermenu {
      li {
        margin: 10px 2px;
        line-height: 100%;
      }
      .custom-sub {
        background: transparent;
        position: static;
        width: 300px;
        margin: 0 auto;
        li {
          padding-left: 0 !important;
          a.active {
            margin: 0 !important;
          }
          span.fl-l {
            padding-left: 15px;
            padding-top: 2px;
          }
        }
      }
    }
  }
  .main-head {
    padding: 12px 0 10px;
  }
  .wish-back {
    .cart-btn {
      float: none;
      text-align: center;
      margin: 15px 0;
    }
  }
  .thank-you {
    .text-center {
      padding: 50px;
    }
  }
  .head-msg {
    margin-top: 50px !important;
    font-size: 30px !important;
  }
  .transaction-info h3 {
    font-size: 12px !important;
  }
  .sorry {
    font-size: 22px !important;
    letter-spacing: 1px !important;
  }
  .mobilecenter {
    float: none!important;
    text-align: center;
  }
  .detail-descptab {
    .pro-detail-btn {
      padding: 5px;
      font-size: 14px;
    }
    ul {
      padding-left: 0;
    }
  }
  .service-main .title {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .navbar-toggle {
    margin-top: 15px;
  }
  .service-menu {
    margin-top: 0;
  }
  .white-direction .flex-direction-nav {
    .flex-prev {
      left: 0 !important;
    }
    .flex-prev {
      right: 0px!important;
    }
  }
  section.assurance .row-flex {
    display: block;
    .ship {
      border-color: transparent;
      margin: 28px 0 0;
    }
  }
  section .flex-control-nav {
    display: none;
  }
  .sel-qty ul {
    text-align: center;
  }
  .testimonial .heading {
    padding-top: 20px;
    margin-bottom: 0;
  }
  .get-touch h5 {
    margin-left: 0;
    display: inline-block;
    width: 100%;
  }
  .size input {
    width: 100%;
  }
  .enquiry .send {
    text-align: center;
  }
  .contact-bg {
    background: #f3f3f3;
  }
  .extra-pd {
    padding: 150px 0 4%;
    .customize-main {
      margin-top: 0;
    }
  }
  .next-level .noti-imgs {
    margin: 10px 0 0;
  }
  .travelling {
    h2 {
      font-size: 17pt;
    }
  }
  .padl {
    padding-left: 15px !important;
  }
  .padr {
    padding-right: 15px !important;
  }
  .custom2 {
    .min-heights {
      min-height: auto;
    }
    .travel-img {
      min-height: 225px;
    }
  }
  .mgbot {
    margin-bottom: 20px;
  }
  .travel1 {
    .short {
      width: 114px;
    }
    .pants {
      width: 153px;
    }
  }
}

@media (max-width: $screen-mobile) {
  //ruchi//
  .padl {
    padding-left: 15px !important;
  }
  .padr {
    padding-right: 15px !important;
  }
  .min-heights {
    min-height: auto !important;
  }
  .apparels-customize {
    .custom-two {
      background-color: #fff !important;
    }
    .travel-img {
      min-height: 225px !important;
    }
  }
  .mgbot {
    margin-bottom: 20px;
  }
  .travel1 {
    .short {
      width: 114px;
    }
    .pants {
      width: 153px;
    }
  } //ruchi//
  .desc-sec p {
    text-align: justify;
    width: inherit;
    letter-spacing: 0;
  }
  .wd88 {
    width: 65px!important;
  }
  .desc-sec .logo-img {
    padding: 0;
  }
  .desc-sec h3 {
    font-size: 16px!important;
  }
  .desc-sec .team-logo {
    height: 70px;
    width: 70px;
  }
  .logo-text {
    .btn-dark.btn-outline {
      padding: 4px 4px 3px 4px;
    }
  }
  .product-detail .review .design {
    .but-outline {
      display: block;
    }
  }
  .range input[type="text"] {
    border: none;
  }
  .copyrights .check input[type="checkbox"]+label {
    font-size: 11px;
    padding-left: 0px;
  }
  .range-slidings {
    input {
      width: 94%;
      margin-left: 11px;
      padding: 0px 0px 13px 27px;
      margin-bottom: 10px;
      margin-top: 27px;
    }
    .plus {
      position: absolute;
      top: 168px;
      left: 335px;
      .fa {
        font-size: 1em;
      }
    }
  }
  .range {
    width: 100%;
  }
  .out-place {
    padding: 30px 0;
    .place-image {
      display: none;
    }
    a {
      margin-top: 0;
    }
    .place-text {
      display: block;
      width: 100%;
      padding-right: 0;
      margin: 0;
      padding: 0 20px;
      float: none!important;
    }
  }
  .product-detail .review {
    margin: 20px 5px;
  }
  .matching .mr50 {
    margin-right: 10px;
  }
  .cap-pants {
    margin-top: 0;
  }
  .final-pant .together {
    margin-left: 15%;
  }
  .tshirt-features {
    li {
      font-size: 10px;
    }
  }
  .accordion .table-responsive {
    width: 94%;
  }
  p,
  span {
    font-size: 9px!important;
  }
  .tshirt {
    .format-type {
      margin: 20px 0 20px 0;
    }
  }
  .accordion {
    span {
      font-size: 13px;
      .fa {
        display: none;
      }
    }
    .radio input[type="radio"]+label {
      color: #515151;
      font-size: 12px;
      padding-left: 10px;
    }
    .noti-img {
      height: 45px;
      width: 45px;
    }
    .table thead>tr th {
      font-size: 10px;
    }
    .table {
      select {
        font-size: 6px;
      }
      input[type="text"] {
        width: 125%;
        padding: 2px 6px;
        text-align: center;
        font-size: 6px;
      }
    }
    h2 {
      font-size: 14px;
    }
  }
  .message {
    .head-msg {
      width: 100%;
      padding-top: 10px;
      font-size: 32px;
      .exclamate {
        font-size: 38px;
      }
    }
    .trans-id {
      width: 50%;
    }
    .transaction-info {
      h3 {
        font-size: 20px;
      }
    }
  }
  .sel-qty h3 {
    text-align: center;
  }
  .service-main {
    .title {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  .high-light {
    font-size: 24px;
    text-align: center;
  }
  .smart-content {
    padding: 35px 0;
  }
  .advertise {
    letter-spacing: 0;
    h4 {
      font-size: 17px;
    }
    h3 {
      font-size: 20px;
    }
  }
  .strong {
    .line-hover {
      font-size: 12px;
      padding: 50px 0;
    }
  }
  .text-on {
    width: 80%;
    .high-light {
      font-size: 20px;
      letter-spacing: 0;
      margin-bottom: 0;
    }
    p {
      width: 80%;
      line-height: 120%;
    }
  }
  .footermenu {
    li {
      font-size: 12px;
    }
  }
  footer .footer p {
    font-size: 10px;
  }
  a.navbar-brand {
    font-size: 12px;
  }
  .btn-dark.btn-outline {
    padding: 4px 4px 3px 5px;
    font-size: 10px;
  }
  .btn-light.btn-outline {
    padding: 4px 5px;
    font-size: 12px;
  }
  .letter-spacing {
    letter-spacing: 1px;
  }
  .banner-inner h2 {
    letter-spacing: 1px!important;
    font-size: 10px!important;
    margin: 5px 0;
  }
  .product-desc {
    .pro-rp {
      p {
        font-size: 20px;
        padding-bottom: 0;
      }
    }
  }
  .pro-detail {
    .panel-heading {
      a {
        span {
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 1px;
        }
        i.fa.fa-caret-down,
        i.fa.fa-caret-right {
          font-size: 16px;
        }
      }
    }
  }
  .img-hold {
    height: 60px;
  }
  .custom-img {
    width: 280px;
  }
  .product-desc {
    width: 90%;
  }
  .step {
    ul {
      padding-left: 20px;
      li {
        display: block;
        width: 90%;
        margin-right: 30px;
        margin-bottom: 10px;
        p {
          padding: 8px 30px 0;
        }
      }
    }
  }
  .edit-btn {
    margin: 8px 0;
    button {
      margin: 8px 5px 8px 0;
    }
  }
  .check-out {
    .nav-tabs {
      padding: 20px 10px;
      li a {
        padding: 3px;
        margin: 0 5px;
        font-size: 10px;
      }
    }
    .tab-content {
      padding: 20px 10px 0;
      .class-forget p {
        margin: 6px 0;
        font-size: 13px;
      }
      .or {
        margin-top: 10px;
      }
      .social-icon {
        margin-bottom: 20px;
      }
    }
  }
  .custom-img {
    width: 280px;
  }
  .product-detail .review .design input {
    width: 100%;
  }
  .noti-imgs1 {
    height: 60px;
    width: 60px;
  }
  .design-patt .img-holder {
    width: 250px;
    height: 250px;
  }
  .cat-img {
    height: 110px;
  }
  .vertical-icon {
    left: 20px !important;
  }
  .m20-s {
    margin-bottom: 20px;
  }
  .product-list {
    .row-flex {
      @include flex-wrap(wrap);
      .col-flex {
        @include flex(auto);
      }
    }
    .product-imghold {
      margin: 10px auto;
    }
  }
  .product-slider {
    .product {
      width: auto;
      .product-holder {
        @include square(150px);
      }
    }
    .slider-prd-detail {
      width: 250px;
      padding: 0;
      .flexslider .flex-direction-nav .flex-next:before {
        @include transform(scale(0.2));
      }
      .flexslider .flex-direction-nav .flex-prev:before {
        @include transform(scale(0.2));
      }
      .flexslider .flex-direction-nav .flex-next {
        right: -35px !important;
      }
      .flexslider .flex-direction-nav .flex-prev {
        right: -95px !important;
      }
      .flexslider .flex-direction-nav a {
        width: 40px;
        height: 180px;
      }
    }
  }
  .thank-you.text-center p {
    font-size: 24px;
  }
  .transaction-info {
    width: 25% !important;
    h3 {
      font-size: 10px !important;
    }
  }
  .head-msg {
    font-size: 20px !important;
  }
  .not-process {
    font-size: 16px !important;
  }
  .message .btn-msg {
    padding: 9px 12px;
  }
  .detail-descptab {
    ul {
      padding-left: 0;
    }
    .pro-detail-btn {
      padding: 5px;
      font-size: 12px;
      border-left: 0 solid transparent;
    }
  }
  .img-holder {
    height: 200px;
  }
  .related-product {
    width: 200px;
  }
  .slider-infodetaiil {
    .price,
    .prd-name {
      font-size: 26px;
    }
  }
  .get-touch h5 {
    margin-left: 0;
  }
  .strong .hover-up p {
    font-size: 14px;
  }
  .slider .flexslider .flex-direction-nav {
    .flex-next:before,
    .flex-prev:before {
      @include transform(scale(0.15));
    }
  }
  footer .social-icons i {
    padding: 0 5px !important;
  }
  .testimonial {
    padding: 0 0 20px;
    .slider-prd-detail {
      zoom: 0.6;
    }
  }
  .customise-sec {
    text-align: center;
  }
  .customize-now .form-inline input,
  .customize-now .form-inline textarea {
    width: 100%;
  }
  .enquiry .form-control {
    width: 220px;
  }
  .white-direction .flex-direction-nav .flex-next {
    right: 0 !important;
  }
  .login-tab {
    width: 100%;
    .nav-tabs li a {
      padding: 10px;
    }
  }
}

@media (max-width: 350px) {
  .high-light {
    font-size: 19px;
  }
  .desc-sec p {
    text-align: justify;
    width: inherit;
    font-size: 12px!important;
    letter-spacing: 0;
  }
  .desc-sec .logo-img {
    padding: 0;
  }
  .wd88 {
    width: 88px!important;
  }
  .small-font {
    font-size: 14px;
  }
  .desc-sec h3 {
    font-size: 16px!important;
  }
  .desc-sec .team-logo {
    height: 70px;
    width: 70px;
  }
  .range-slidings {
    input {
      width: 94%;
      margin-left: 11px;
      padding: 0 0 0 27px;
      margin-bottom: 10px;
      margin-top: 21px;
    }
    .plus {
      position: absolute;
      top: 108px;
      left: 289px;
      .fa {
        font-size: 1em;
      }
    }
  }
}